body {
	background: #f3f3f3;
}

.layout-wrapper {

	&.main-layout {
		transition: all 0.5s ease;
		padding-left: 220px;

		&.sidebar-collapsed {
			padding-left: 70px;
		}

		.sidebar-wrapper {
			position: fixed;
			width: 220px;
			height: 100%;
			left: 0;
			top: 0;
			background: #22193f;
			overflow: hidden;
			transition: all 0.5s ease;

			&.collapsed {
				width: 70px;
			}
		}

		.page-content-wrapper {

		}
	}
		
}