.page-content-wrapper {
	.page-header {
		.page-title {
			font-size: 1.5rem;
		}

		.page-sub-title {
			color: $secondary;
			font-size: 0.9rem;
		}
	}

	.nav.page-sub-nav {
    	.nav-link.active {
    		color: $primary;
    	}
	}

	.table-container {
		font-size: 0.875rem;
	}
}

table {
	.list-image {
	    max-width: 80px;
	    max-height: 80px;
	}
}
div.pac-container {
	z-index: 9999!important;
}
a.close {
    cursor: pointer !important;
}
.v-select .vs__actions {
    cursor: pointer !important;
}
