.sidebar-wrapper {
	.sidebar-header {
		padding: 25px 20px;
		// border-bottom: 1px solid #676075;

		.brand {
			img {
				max-width: 70px;
				width: 100%;
			}
		}

		.user-infos {
			font-size: 0.8rem;
		}
	}

	.sidebar-footer {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		padding: 10px 20px;
		border-top: 1px solid #676075;
		color: $secondary;
		font-size: 0.8rem;

		.link-help {
			text-decoration: none;
			color: $secondary;
		}
	}

	.sidebar-nav {
		.sidebar-menu {
			list-style: none;
			padding: 0;
			margin: 0;
			font-size: 0.9rem;

			.menu-item {
				@include hover-focus {
					background-color: $sidebar-menu-active;
				}

				.menu-link {
					display: block;
					padding: 15px 20px;
					color: $secondary;
					text-decoration: none;			

					@include hover-focus {
						color: $white;
					}
				}

				.sub-menu {
					display: none;

					.menu-item.active {
						border: none;
					}

					.menu-link {
						padding-left: 40px;
					}
				}

				&.active {
					border-right: 3px solid $primary;
					background-color: $sidebar-menu-active;

					> .menu-link {
						color: $white;
					}

					.sub-menu {
						display: block;
					}
				}
			}
		}			
	}

	&.collapsed {
		.hide-collapsed {
			display: none;
		}

		.sidebar-header {
			padding: 20px 10px;

			.user-avatar {
				max-width: 50px;
			}
		}

		.sidebar-nav .sidebar-menu {
			.menu-item {
				.menu-link {
					.svg-inline--fa.fa-fw {
						font-size: 1.4em;
					}
				}

				.sub-menu {
					.menu-link {
						padding-left: 20px;

						.svg-inline--fa.fa-fw {
							font-size: 1.1em;
						}
					}
				}
			}
		}			
	}
}