<template>
    <div>
        <page-header>
            <template slot="actions">
                <router-link :to="{name: 'categories.list'}" class="btn btn-light btn-sm"><fa icon="chevron-left"/> Back</router-link>
            </template>
        </page-header>
        <template v-if="pin && pin === 'category'">
        <div class="container-fluid py-3">
            <div class="card">
                <div class="card-body" v-if="category">
                    <h5>{{category.name}}</h5>
                    <div class="text-secondary">{{category.description}}</div>
                </div>
            </div>
            <div class="items-container mt-3">
                <h3>Items</h3>
                <hr>
                <div class="row" v-if="items && items.length > 0">
                    <div class="col-lg-2 col-sm-3 col-xs-4" v-for="item in items" :key="item.id" >
                        <div class="card">
                            <div class="card-img-wrapper">
                                <img :src="item.images[0].url" class="" v-if="item.images && item.images.length > 0">
                                <!-- <img src="/images/party.png" class="card-img-top" v-else> -->
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{item.name}}</h5>
                                <p class="card-text">{{item.description}}</p>
                                <router-link :to="{name: 'items.edit', params: {item_id: item.id}}" class="btn btn-link px-0">Edit</router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </template>
        <template v-else>
            <pin-form set-pin="category"/>
        </template>
    </div>
</template>

<script>
import PageHeader from '~/components/PageHeader'
import CategoryForm from '~/pages/categories/form'
import swal from 'sweetalert2'
import { mapGetters } from 'vuex';
import PinForm from "../../components/PinForm";

export default {
    metaInfo () {
        return { title: 'Edit Category' }
    },
    components: {
        PinForm,
        PageHeader,
        CategoryForm
    },
    computed: mapGetters({
        pin: 'page/pin',
    }),
    created() {
        this.$store.dispatch('page/setTitle', { title: 'Edit Category' })
        this.$store.dispatch('page/setSubtitle', { subtitle: 'Categories' })

        this.$http.get('category/' + this.$route.params.category_id + '/edit')
        .then((response) => {
            this.category = response.data.data;
            this.items = this.category.items;
            this.$store.dispatch('page/setTitle', { title: this.category.name })
        }).catch((error) => {
            console.log(error)
        })
    },
    data() {
        return {
            category: null,
            items: []
        }
    },
    methods: {
    }
}
</script>
<style lang="scss" scoped>
    .card-img-wrapper {
        text-align: center;
        img {
            max-width: 100%;
            height: 100px;
        }
    }
</style>
