<template>
    <div>
        <page-header>
            <template slot="actions">
                <router-link :to="{name: 'categories.list'}" class="btn btn-light btn-sm"><fa icon="chevron-left"/> Back</router-link>
            </template>
        </page-header>
        <template v-if="pin && pin === 'category'">
        <div class="container-fluid py-3">
            <div class="card">
                <div class="card-body" v-if="category">
                    <category-form :category="category"></category-form>
                </div>
            </div>
        </div>
        </template>
        <template v-else>
            <pin-form set-pin="category"/>
        </template>
    </div>
</template>

<script>
import PageHeader from '~/components/PageHeader'
import CategoryForm from '~/pages/categories/form'
import swal from 'sweetalert2'
import PinForm from "../../components/PinForm";
import { mapGetters } from 'vuex';

export default {
	metaInfo () {
	    return { title: 'Edit Category' }
	},
    components: {
        PinForm,
        PageHeader,
        CategoryForm
    },
    computed: mapGetters({
        pin: 'page/pin',
    }),
    created() {
        this.$store.dispatch('page/setTitle', { title: 'Edit Category' })
        this.$store.dispatch('page/setSubtitle', { subtitle: 'Categories' })

        this.$http.get('category/' + this.$route.params.category_id + '/edit')
        .then((response) => {
            this.category = response.data.data;
            this.$store.dispatch('page/setTitle', { title: 'Edit Category - ' + this.category.name })
        }).catch((error) => {
            console.log(error)
        })
    },
	data() {
		return {
            category: null
        }
	},
	methods: {
    }
}
</script>
