<template>
	<div class="form-wrapper py-3">
		<form @submit.prevent="save" @keydown="form.onKeydown($event)">
			<alert-success :form="form" :message="success_message"/>
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Purpose</label>
                <div class="col-md-7">
                    <select id="category_type" required ref="name" v-model="form.category_type" :class="{ 'is-invalid': form.errors.has('category_type') }" class="form-control" type="text" name="category_type">
                        <option :selected="form.category_type ==='categories'" value="categories">Category with categories</option>
                        <option :selected="form.category_type ==='items'" value="items">Category with items</option>
                    </select>
                    <has-error :form="form" field="category_type"/>
                </div>
            </div>
			<!-- Name -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('name') }}</label>
                <div class="col-md-7">
                  <input id="name" required ref="name" v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }" class="form-control" type="text" name="name">
                  <has-error :form="form" field="name"/>
                </div>
            </div>

            <!-- Description -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Description</label>
                <div class="col-md-7">
                  <textarea id="description" ref="description" v-model="form.description" :class="{ 'is-invalid': form.errors.has('description') }" class="form-control" name="description"></textarea>
                  <has-error :form="form" field="description"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Type</label>
                <div class="col-md-7">
                    <vue-select :closeOnSelect="true" :reduce="opt => opt.id" v-model="form.type" :options="[
                        {
                            id: 'food',
                            name: 'Food'
                        },
                        {
                            id: 'drinks',
                            name: 'Drinks',
                        },
                    ]" label="name"/>
                    <has-error :form="form" field="type"/>
                </div>
            </div>

            <div class="form-group row" v-if="form.category_type ==='items'">
                <label class="col-md-3 col-form-label text-md-right">Parent Category</label>
                <div class="col-md-7">
                    <vue-select :closeOnSelect="true" :reduce="opt => opt.id" :loading="loadingOptionsParent" v-model="form.parent_id" :options="parent_categories" label="name"/>
                    <has-error :form="form" field="parent_id"/>
                </div>
            </div>
            <div class="form-group row" v-if="form.category_type ==='categories'">
                <label class="col-md-3 col-form-label text-md-right">Child Categories</label>
                <div class="col-md-7">
                    <vue-select :closeOnSelect="true" multiple="" :reduce="opt => opt.id" :loading="loadingOptionsChild" v-model="form.children" :options="child_categories" label="name"/>
                    <has-error :form="form" field="children"/>
                </div>
            </div>
            <div class="form-group row" v-if="form.category_type ==='items'">
                <label class="col-md-3 col-form-label text-md-right">Items</label>
                <div class="col-md-7">
                    <vue-select :closeOnSelect="true" multiple :reduce="opt => opt.id" :options="items_options" :loading="loadingOptions" v-model="form.items"  label="name"/>
                    <has-error :form="form" field="children"/>
                </div>
            </div>
            <!--&lt;!&ndash; Image &ndash;&gt;-->
            <!--<div class="form-group row">-->
                <!--<label class="col-md-3 col-form-label text-md-right">Image</label>-->
                <!--<div class="col-md-7">-->
                    <!--<upload-image :url="form.image" title="Drop Image or Click" show-preview="yes" @success="getImage"></upload-image>-->
                <!--</div>-->
            <!--</div>-->

            <!-- Submit Button -->
            <div class="form-group row mb-0">
                <div class="col-md-9 ml-md-auto">
                	<router-link :to="{name: 'categories.list'}" class="btn btn-secondary">Cancel</router-link>
                  	<v-button :loading="form.busy" type="primary">{{ (mode == 'update') ? 'Update Category' : 'Add Category' }}</v-button>
                </div>
            </div>
		</form>
	</div>
</template>

<script>
import Form from 'vform'
import UploadImage from '~/components/UploadImage'
import VueSelect from '~/components/vue-select/src/components/Select'
import swal from 'sweetalert2'

export default {
	components: {
        UploadImage,
        VueSelect
    },
    props: {
		category: { type: Object, default: null }
	},
	computed: {
		success_message() {
			if (this.category && this.category.id) {
				return 'Category is updated successfully!'
			}
			else {
				return 'Category is created successfully!'
			}
		},
		mode() {
            return (this.category && this.category.id) ? 'update' : 'create'
        },
	},
	data: () => {
     return {
            loadingOptions: true,
                loadingOptionsParent: true,
            loadingOptionsChild: true,
            parent_categories: [],
            child_categories: [],
            items_options: [],
            form: new Form({
            name: '',
            description: '',
            state: '',
            items: [],
            city: '',
            children: [],
            type: '',
            category_type: 'items',
            parent_id: '',
            address: '',
            latitude: '',
            longitude: '',
            image: '',
            image_old: true
        })
        }
    },
    created () {
        // Fill the form with category data.
        if (this.category) {
        	this.form.keys().forEach(key => {
	            this.form[key] = this.category[key]
	        })

            if (this.category.images.length > 0) {
                this.form.image = this.category.images[0].url;
            }
        }
    },
    mounted() {
        this.form.category_type = this.category && (this.category.items.length || this.category.parent_id) ? 'items' : 'categories';
        this.$http.get('category/parent').then(resp => {
           if (resp.data && resp.data.data) {
               this.parent_categories = JSON.parse(JSON.stringify(resp.data.data));
           }
           this.loadingOptionsParent = false;
        }).catch(() => {this.loadingOptionsParent = false;});
        this.$http.get('category/child').then(resp => {
           if (resp.data && resp.data.data) {
               this.child_categories = JSON.parse(JSON.stringify(resp.data.data));
           }
           this.loadingOptionsChild = false;
        }).catch(() => {this.loadingOptionsChild = false;});
        this.$http.get('category/items').then(resp => {
           if (resp.data && resp.data.data) {
               this.items_options = JSON.parse(JSON.stringify(resp.data.data));
           }
           this.loadingOptions = false;
        }).catch(() => {this.loadingOptions = false;});
    },
    methods: {
        getImage(image) {
            this.form.image = image.url;
            this.form.image_old = false;
        },
        sendForm()
        {
            if (this.form.busy === false) {
                this.form.busy = true;
                let url = '/api/category' + ((this.mode == 'update') ? '/' + this.category.id : '');
                let method = (this.mode == 'update') ? 'patch' : 'post';
                this.form[method](url).then((response) => {
                    this.$router.push({name: 'categories.list'});
                    setTimeout(()=>{ this.form.busy = false}, 1000);
                });
            }
        },
    	save () {
            if (this.form.category_type === 'items' && !this.form.items.length) {
                swal({
                    type: 'error',
                    title: i18n.t('error_alert_title'),
                    text: 'Please set items for category.',
                    reverseButtons: true,
                    confirmButtonText: i18n.t('ok'),
                    // cancelButtonText: i18n.t('cancel')
                });
                return;
            }
            if (this.form.category_type === 'categories' && this.category && this.category.items && this.category.items.length) {
                swal({
                    type: 'question',
                    title: 'That action will unlink all items from current category, are you sure?',
                    confirmButtonText: `Save`,
                    showCancelButton: true,
                    cancelButtonText: `Don't save`,
                    preConfirm: () => {
                        this.sendForm();
                    },
                });
                return;
            }
            this.sendForm();
    	}
    }
}
</script>
