<template>
    <div>
        <page-header>
            <template slot="actions">
                <template v-if="pin && pin === 'category'">
                <router-link :to="{ name: 'categories.create' }" class="btn btn-sm btn-primary"><fa icon="plus"/> New Category</router-link>
                </template>
            </template>
        </page-header>
        <template v-if="pin && pin === 'category'">
        <div class="container-fluid py-3">
            <div class="card">
                <div class="card-body">
                    <vue-table title="Categories" :fields="fields" :item-actions="itemActions" api-url="category" :show-row-num="true" @table-action="tableActions" show-paginate>
                    </vue-table>
                </div>
            </div>
        </div>
        </template>
        <template v-else>
            <pin-form set-pin="category"/>
        </template>
    </div>
</template>

<script>
import PageHeader from '~/components/PageHeader'
import VueTable from '~/components/Table'
import swal from 'sweetalert2'
import PinForm from "../../components/PinForm";
import { mapGetters } from 'vuex'

export default {
    metaInfo () {
        return { title: 'Categories' }
    },
    components: {
        PinForm,
        VueTable,
        PageHeader
    },
    computed: mapGetters({
        pin: 'page/pin',
    }),
    created() {
        this.$store.dispatch('page/setTitle', { title: 'Categories' });
        this.$store.dispatch('page/setSubtitle', { subtitle: '' })
    },
    data() {
        return {
            fields: [
                {
                    name: 'name',
                    title: 'Name'
                }, {
                    name: 'items',
                    title: 'Items',
                }, {
                    name: 'type',
                    title: 'Type',
                    callback: 'type'
                }, {
                    name: 'created_at',
                    title: 'Created at'
                // }, {
                //     name: '__status',
                //     title: 'Status',
                //     titleClass: 'text-center',
                //     dataClass: 'text-center'
                }, {
                    name: '__actions',
                    title: '',
                    titleClass: 'text-center',
                    dataClass: 'text-center'
                }
            ],
            itemActions: [
                { name: 'show-item', title: 'Detail', icon: 'eye', class: 'btn btn-sm bg-transparent'},
                { name: 'edit-item', title: 'Edit', icon: 'pencil-alt', class: 'btn btn-sm bg-transparent'},
                { name: 'delete-item', title: 'Delete', icon: 'trash-alt', class: 'btn btn-sm bg-transparent'}
            ]
        }
    },
    methods: {
        image(images){
            if (images && images.length > 0) {
                return '<img class="list-image" src="' + images[0].url + '">';
            }
            else {
                return '<img class="list-image" src="/images/party.png">'
            }
        },
        type(type) {
            if (type) {
                return type.charAt(0).toUpperCase() + type.slice(1);
            } else {
                return type;
            }
        },
        countItems(items, category){
            if (items) {
                // return '<a href="/categories/'+category.id+'/items" class="">'+items.length+'</a>';
                return items.length
            }
            else {
                return ''
            }
        },
        tableActions(action, data) {
            if (action == 'show-item') {
                this.$router.push({ name: 'categories.detail', params: { category_id: data.id } })
            } else if (action == 'edit-item') {
                this.$router.push({ name: 'categories.edit', params: { category_id: data.id } })
            } else if (action == 'delete-item') {
                var text = '<div class="mb-3">\"'+data.name+'\"</div>';
                swal({
                    title: '<div class="mt-3">Delete this category?</div>',
                    html: text,
                    // type: 'warning',
                    reverseButtons: true,
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Delete'
                }).then((result) => {
                    if (result.value) {
                        this.$http.delete('category/' + data.id)
                        .then((response) => {
                            toastr.success('You deleted the category!')
                            this.$emit('reload')
                        }, (response) => {
                            if ((typeof response.data.error !== 'string') && response.data.error) {
                              toastr.error(response.data.error.message)
                            } else {
                              toastr.error(response.status + ' : Resource ' + response.statusText)
                            }
                        })
                    }
                })
            }
        }
    }
}
</script>

<style lang="scss">
.category-image {
    max-width: 80px;
    max-height: 80px;
}
</style>
