<template>
    <div>
        <page-header></page-header>
        <template v-if="pin && pin === 'report'">
        <div class="container-fluid py-3">
            <div class="card">
                <div class="card-body">
                    <table-report id="sold" export-url="reports/sold" title="Total" :fields="fields" api-url="reports/sold"
                                 :show-row-num="false" show-paginate :search-placeholder="'Search by Id'">
                    </table-report>
                </div>
            </div>
        </div>
        </template>
        <template v-else>
            <pin-form set-pin="report"/>
        </template>
    </div>
</template>

<script>
    import PageHeader from '~/components/PageHeader';
    import TableReport from "~/components/TableReport";
    import { mapGetters } from 'vuex';
    import PinForm from "../../components/PinForm";
    export default {
        metaInfo() {
            return {title: 'Products sold'}
        },
        computed: mapGetters({
            pin: 'page/pin',
        }),
        components: {
            PinForm,
            TableReport,
            PageHeader

        },
        created() {
            this.$store.dispatch('page/setTitle', {title: 'Products sold'});
            this.$store.dispatch('page/setSubtitle', {subtitle: ''})
        },
        data() {
            return {
                fields: [
                    {
                        name: 'category',
                        title: 'CATEGORY',
                        callback: 'category',
                        sortable: true,
                    },
                    {
                        name: 'item',
                        titleClass: 'order-items-th',
                        title: 'ITEM',
                        callback: 'item',
                        sortable: true,
                    },

                    {
                        name: 'quantity',
                        title: 'QUANTITY',
                        callback: 'quantity',
                        sortable: true,
                    },
                    {
                        name: 'price',
                        title: 'PRICE',
                        callback: 'price',
                        sortable: true,
                    },
                    {
                        name: 'addons',
                        title: 'Addons',
                        callback: 'addons',
                        sortable: false,
                    },
                    {
                        name: 'total_addons',
                        title: 'Total addons',
                        callback: 'price',
                        sortable: false,
                    },
                    {
                        name: 'total',
                        title: 'TOTAL ITEMS',
                        callback: 'total',
                    },
                    {
                        name: 'total',
                        title: 'TOTAL',
                        callback: 'total_all',
                    },
                ],
            }
        },
        methods: {
            category: (value) => {
                return value
            },
            item: (value) => {
                return value
            },
            quantity: (value) => {
                return value
            },
            price: (value, obj) => {
                let symbols = {'eur': '€',
                    'gbp': '£',
                    'usd': '$',
                    'aed': 'د.إ',
                };
                return symbols[obj.currency] +  parseFloat(value).toFixed(2);
            },
            addons: (value, obj) => {
                let symbols = {'eur': '€',
                    'gbp': '£',
                    'usd': '$',
                    'aed': 'د.إ',
                };
                return value.map((k) => {
                    let price = parseFloat(k.price) > 0? symbols[obj.currency]+parseFloat(k.price).toFixed(2):'';
                    return k.name + ' - ' +price+' X ' +k.quantity;
                }).join('<br>');
            },
            total: (value, obj) => {
                let symbols = {'eur': '€',
                    'gbp': '£',
                    'usd': '$',
                    'aed': 'د.إ',
                };
                return symbols[obj.currency] + parseFloat(value).toFixed(2);
            },
            total_all: (value, obj) => {
                let symbols = {'eur': '€',
                    'gbp': '£',
                    'usd': '$',
                    'aed': 'د.إ',
                };
                let total = parseFloat(obj.total_addons)+ parseFloat(obj.total);
                return symbols[obj.currency] + parseFloat(total).toFixed(2);
            },
        }
    }
</script>
<style>
    .table th {
        font-size: 11px;
        font-weight: 500;
        line-height: 21px;
        text-transform: uppercase;
        opacity: 0.7;
        color: #1b1b1c;
    }
    .table td {
        color: #726c7d;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
    }
    .order {
        font-size: 14px;
        font-weight: 500;
        color: #1b1b1c;
        line-height: 21px;
    }

    .order-items-th {
        width: 30%;
    }
    .completed {
        color: #09b11a;
    }
    .fail {
        color: black;
    }
    .pending {
        color: red;
    }
    .ready-for-collection,ready-for-delivery  {
        color: orange;
    }
</style>
