<template>
    <div>
        <page-header>
            <template slot="actions">
                <router-link :to="{name: 'locations.list'}" class="btn btn-light btn-sm"><fa icon="chevron-left"/> Back</router-link>
            </template>
        </page-header>
        <template v-if="pin && pin === 'location'">
        <div class="container-fluid py-3">
            <div class="card">
                <div class="card-body">
                    <location-form></location-form>
                </div>
            </div>
        </div>
        </template>
        <template v-else>
            <pin-form set-pin="location"/>
        </template>
    </div>
</template>

<script>
import PageHeader from '~/components/PageHeader'
import LocationForm from '~/pages/locations/form'
import swal from 'sweetalert2'
import { mapGetters } from 'vuex';
import PinForm from "../../components/PinForm";

export default {
	metaInfo () {
	    return { title: 'Add Location' }
	},
    components: {
        PinForm,
        PageHeader,
        LocationForm
    },
    created() {
        this.$store.dispatch('page/setTitle', { title: 'Add Location' })
        this.$store.dispatch('page/setSubtitle', { subtitle: 'Retail Locations' })
    },
    computed: mapGetters({
        pin: 'page/pin',
    }),
	data() {
		return {
            itemActions: [
                { name: 'edit-item', title: 'Edit', icon: 'pencil-alt', class: 'btn mb-2', color: '#86C6FF'},
                { name: 'delete-item', title: 'Delete', icon: 'trash-alt', class: 'btn mb-2', color: '#D6D5D5'}
            ]
        }
	},
	methods: {
    }
}
</script>
