<template>
    <div class="container-fluid py-3">
        <div class="card">
            <div class="card-header">
                Create Discount
            </div>
            <div class="card-body">
                <discount-form :discount="discount"></discount-form>
            </div>
        </div>
    </div>
</template>

<script>
    import PageHeader from '~/components/PageHeader'
    import DiscountForm from '~/pages/locations/discount_form'
    import swal from 'sweetalert2'

    export default {
        metaInfo () {
            return { title: 'Create Discount' }
        },
        components: {
            PageHeader,
            DiscountForm
        },
        data() {
            return {
                discount: null
            }
        },
        methods: {
        }
    }
</script>
