<template>
	<div class="form-wrapper py-3">
		<form @submit.prevent="save" onSubmit="return false;" @keydown="form.onKeydown($event)">
			<alert-success :form="form" :message="success_message"/>
            <div class="form-group row" v-if="discount && discount.user">
                <label class="col-md-3 col-form-label text-md-right">User</label>
                <div class="col-md-7" style="line-height: 35px">{{discount.user.name}}</div>
            </div>
			<!-- Name -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Code</label>
                <div class="col-md-7">
                    <input id="code" ref="code" v-model="form.code" required :class="{ 'is-invalid': form.errors.has('code') }" class="form-control" type="text" name="code">
                    <has-error :form="form" field="name"/>
                </div>
            </div>

            <!-- Description -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Discount</label>
                <div class="col-md-7">
                    <input id="discount" min="0.01" max="100" required ref="discount" v-model="form.discount" :class="{ 'is-invalid': form.errors.has('discount') }" class="form-control" step="0.01" type="number" name="discount">
                    <has-error :form="form" field="discount"/>
                </div>
            </div>


            <!-- Submit Button -->
            <div class="form-group row mb-0">
                <div class="col-md-9 ml-md-auto">
                	<router-link :to="{name: 'locations.detail.discounts.index'}" class="btn btn-secondary">Cancel</router-link>
                  	<v-button :loading="form.busy" type="primary">{{ (mode == 'update') ? 'Update Discount' : 'Add Discount' }}</v-button>
                </div>
            </div>
		</form>
	</div>
</template>

<script>
import Form from 'vform'

export default {
	props: {
		discount: { type: Object, default: null }
	},
	computed: {
		success_message() {
			if (this.discount && this.discount.id) {
				return 'Discount is updated successfully!'
			}
			else {
				return 'Discount is created successfully!'
			}
		},
		mode() {
            return (this.discount && this.discount.id) ? 'update' : 'create'
        },
	},
	data: () => ({
        form: new Form({
            code: '',
            id: '',
            discount: '',
            location_id: '',
        }),
    }),
    created () {
        // Fill the form with location data.
        this.form.location_id = this.$route.params.location_id;
        if (this.discount) {
        	this.form.keys().forEach(key => {
	            this.form[key] = this.discount[key]
	        });
        }
    },
    methods: {
    	save () {
    	    if (this.form.busy === false) {
                this.form.busy = true;
                let url = '/api/location/' + this.$route.params.location_id + '/discounts' +((this.mode == 'update') ? '/' + this.discount.id : '');
                let method = (this.mode == 'update') ? 'patch' : 'post';
                this.form[method](url).then((response) => {
                    this.$router.push({
                        name: 'locations.detail.discounts.index',
                        params: {location_id: this.$route.params.location_id}});
                    setTimeout(()=>{ this.form.busy = false}, 1000);
                });
            }
    	},
    }
}
</script>
