<template>
    <div class="container-fluid py-3">
        <div class="card">
            <div class="card-header">
                Edit Discount
            </div>
            <div class="card-body" v-if="discount">
                <discount-form :discount="discount"></discount-form>
            </div>
        </div>
    </div>
</template>

<script>
    import PageHeader from '~/components/PageHeader'
    import DiscountForm from '~/pages/locations/discount_form'

    export default {
        metaInfo() {
            return {title: 'Create Discount'}
        },
        components: {
            PageHeader,
            DiscountForm
        },
        created() {
            this.$http.get('location/' + this.$route.params.location_id + '/discounts/' + this.$route.params.discount_id + '/edit')
                .then((response) => {
                    this.discount = response.data.data;
                }).catch((error) => {
                console.log(error)
            })
        },
        data() {
            return {
                discount: null
            }
        },
        methods: {}
    }
</script>
