<template>
    <div>
        <div class="container-fluid py-3">
            <div class="card">
                <div class="card-body">
                    <vue-table :searchPlaceholder="'Search by code'" :location_id="location_id" title="Discounts"
                               @table-action="tableActions"
                               :item-actions="itemActions"
                               :showRowNum="true" :fields="fields" :api-url="apiUrl" :show-row-num="true" show-paginate>
                        <template slot="buttons">
                                <router-link :to="{ name: 'locations.detail.discounts.create', params: {location_id: $route.params.location_id} }" class="btn btn-sm btn-primary"><fa icon="plus"/></router-link>
                        </template>
                    </vue-table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Modal from '~/components/Modal'
    import VButton from '~/components/Button'
    import PageHeader from '~/components/PageHeader'
    import VueTable from '~/components/TableDiscounts'
    import swal from 'sweetalert2'
    import { mapGetters } from 'vuex';
    import PinForm from "../../components/PinForm";

    export default {
        metaInfo () {
            return { title: 'Items' }
        },
        components: {
            PinForm,
            VueTable,
            PageHeader,
            VButton,
            Modal
        },
        computed: mapGetters({
            pin: 'page/pin',
        }),
        data() {
            return {
                location_id: this.$route.params.location_id,
                apiUrl: 'location/'+this.$route.params.location_id+'/discounts',
                showGenerate: false,
                submitting: false,
                numberOfCodes: '',
                discount: '',
                fields: [
                    {
                        name: 'code',
                        title: 'Code',
                        sortable: true,
                    }, {
                        name: 'discount',
                        title: 'Discount',
                        sortable: true,
                        titleClass: 'text-center',
                        dataClass: 'text-center'
                    }, {
                        name: 'user',
                        title: 'User',
                        callback: 'user',
                        sortable: true,
                    },
                    {
                        name: '__actions',
                        title: '',
                        titleClass: 'text-center',
                        dataClass: 'text-center'
                    }
                ],
                itemActions: [
                    { name: 'edit-item', title: 'Edit', icon: 'pencil-alt', class: 'btn btn-sm btn-light bg-transparent mr-2'},
                    { name: 'delete-item', title: 'Delete', icon: 'trash-alt', class: 'btn btn-sm btn-light bg-transparent mr-2'}
                ]
            }
        },
        methods: {
            user(user) {
                return user? user.name : ''
            },
            tableActions(action, data) {
                if (action == 'edit-item') {
                    this.$router.push(
                        {
                            name: 'locations.detail.discounts.edit',
                            params: {location_id: this.location_id, discount_id: data.id}
                        })
                } else if (action == 'delete-item') {
                    var text = '<div class="mb-3">\"'+data.code+'\"</div>';
                    swal({
                        title: '<div class="mt-3">Delete this discount?</div>',
                        html: text,
                        reverseButtons: true,
                        showCancelButton: true,
                        confirmButtonColor: '#d33',
                        cancelButtonColor: '#3085d6',
                        confirmButtonText: 'Delete'
                    }).then((result) => {
                        if (result.value) {
                            this.$http.delete('/location/'+ this.location_id + '/discounts/' + data.id)
                                .then((response) => {
                                    toastr.success('You deleted the discount!');
                                    this.$emit('reload')
                                }, (response) => {
                                    if ((typeof response.data.error !== 'string') && response.data.error) {
                                        toastr.error(response.data.error.message)
                                    } else {
                                        toastr.error(response.status + ' : Resource ' + response.statusText)
                                    }
                                })
                        }
                    })
                }
            }
        }
    }
</script>
