<template>
    <div class="container-fluid py-3">
        <div class="card">
            <div class="card-header">
                Edit location
            </div>
            <div class="card-body" v-if="location">
                <location-form :location="location"></location-form>
            </div>
        </div>
    </div>
</template>

<script>
import PageHeader from '~/components/PageHeader'
import LocationForm from '~/pages/locations/form'
import swal from 'sweetalert2'

export default {
	metaInfo () {
	    return { title: 'Edit Location' }
	},
    components: {
        PageHeader,
        LocationForm
    },
    created() {
        this.$http.get('location/' + this.$route.params.location_id + '/edit')
        .then((response) => {
            this.location = response.data.data;
        }).catch((error) => {            
            console.log(error)
        })
    },
	data() {
		return {
            location: null
        }
	},
	methods: {
    }
}
</script>