<template>
    <div class="form-wrapper py-3">
        <form @submit.prevent="save" onSubmit="return false;" @keydown="form.onKeydown($event)">
            <alert-success :form="form" :message="success_message"/>

            <!-- Name -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('name') }}</label>
                <div class="col-md-7">
                    <input id="name" ref="name" v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }"
                           class="form-control" type="text" name="name">
                    <has-error :form="form" field="name"/>
                </div>
            </div>

            <!-- Description -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Description</label>
                <div class="col-md-7">
                    <textarea id="description" ref="description" v-model="form.description"
                              :class="{ 'is-invalid': form.errors.has('description') }" class="form-control"
                              name="description"></textarea>
                    <has-error :form="form" field="description"/>
                </div>
            </div>

            <!-- Image -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Image</label>
                <div class="col-md-7">
                    <upload-image-custom :images="form.image" title="Drop Image or Click" show-preview="yes"
                                         @success="getImage"></upload-image-custom>
                </div>
            </div>

            <!-- Phone -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Phone</label>
                <div class="col-md-7">
                    <input id="phone" ref="phone" v-model="form.phone"
                           :class="{ 'is-invalid': form.errors.has('phone') }" class="form-control" type="text"
                           name="phone" placeholder="" @keypress.enter="$event.preventDefault()">
                    <has-error :form="form" field="phone"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Location type</label>
                <div class="col-md-7">
                    <select v-model="form.location_type">
                        <template v-for="item in location_type_options">
                            <option :value="item.id" :selected="item.id==form.location_type">
                                {{item.value}}
                            </option>
                        </template>
                    </select>
                    <has-error :form="form" field="location_type"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Currency</label>
                <div class="col-md-7">
                    <select v-model="form.currency">
                        <template v-for="item in currency_options">
                            <option v-if="user.currencies && user.currencies.indexOf(item.id) !== -1" :value="item.id" :selected="item.id==form.currency">
                                {{item.value}}
                            </option>
                        </template>
                    </select>
                    <has-error :form="form" field="currency"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Tips Type</label>
                <div class="col-md-7">
                    <select v-model="form.tips_type">
                            <option :selected="form.tips_type == 'number' || !form.tips_type" value="number">Number</option>
                            <option :selected="form.tips_type == 'percent'" value="percent">Percent</option>
                    </select>
                    <has-error :form="form" field="currency"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Tips List</label>
                <div class="col-md-7">
                    <div class="input-group mb-3" style="width: 150px" >
                        <input required id="tips_list_0"  v-model="form.tips_list[0]" class="form-control" type="number" step="0.1" min="0.1" :max="form.tips_type === 'percent'?100:999">
                        <div class="input-group-prepend">
                            <span class="input-group-text">{{(form.tips_type === 'percent' ? '%' : map[form.currency])}}</span>
                        </div>
                    </div>
                    <div class="input-group mb-3" style="width: 150px" >
                        <input required id="tips_list_1"  v-model="form.tips_list[1]" class="form-control" type="number" step="0.1" min="0.1" :max="form.tips_type === 'percent'?100:999">
                        <div class="input-group-prepend">
                            <span class="input-group-text">{{(form.tips_type === 'percent' ? '%' : map[form.currency])}}</span>
                        </div>
                    </div>
                    <div class="input-group mb-3" style="width: 150px" >
                        <input required id="tips_list_2"  v-model="form.tips_list[2]" class="form-control" type="number" step="0.1" min="0.1" :max="form.tips_type === 'percent'?100:999">
                        <div class="input-group-prepend">
                            <span class="input-group-text">{{(form.tips_type === 'percent' ? '%' : map[form.currency])}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Address -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Address</label>
                <div class="col-md-7">
                    <input @keydown="clearAddress" id="address" ref="address" v-model="form.address"
                           :class="{ 'is-invalid': form.errors.has('address') }" class="form-control" type="text"
                           name="address" placeholder="Enter Address" @keypress.enter="$event.preventDefault()">
                    <has-error :form="form" field="address"/>
                </div>
            </div>

            <!-- City -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">City</label>
                <div class="col-md-7">
                    <input id="city" :disabled="true" ref="city" v-model="form.city"
                           :class="{ 'is-invalid': form.errors.has('city') }" class="form-control" type="text"
                           name="city">
                    <has-error :form="form" field="city"/>
                </div>
            </div>

            <!-- State -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">County/State</label>
                <div class="col-md-7">
                    <input id="state" :disabled="true" ref="state" v-model="form.state"
                           :class="{ 'is-invalid': form.errors.has('state') }" class="form-control" type="text"
                           name="state">
                    <has-error :form="form" field="state"/>
                </div>
            </div>

            <!-- Country -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Country</label>
                <div class="col-md-7">
                    <input id="country" :disabled="true" ref="country" v-model="form.country"
                           :class="{ 'is-invalid': form.errors.has('country') }" class="form-control" type="text"
                           name="country">
                    <has-error :form="form" field="country"/>
                </div>
            </div>

            <!-- Latitude -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Latitude</label>
                <div class="col-md-7">
                    <input id="latitude" :disabled="true" ref="latitude" v-model="form.latitude"
                           :class="{ 'is-invalid': form.errors.has('latitude') }" class="form-control" type="text"
                           name="latitude">
                    <has-error :form="form" field="latitude"/>
                </div>
            </div>

            <!-- Longitude -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Longitude</label>
                <div class="col-md-7">
                    <input id="longitude" :disabled="true" ref="longitude" v-model="form.longitude"
                           :class="{ 'is-invalid': form.errors.has('longitude') }" class="form-control" type="text"
                           name="longitude">
                    <has-error :form="form" field="longitude"/>
                </div>
            </div>

            <!-- Submit Button -->
            <div class="form-group row mb-0">
                <div class="col-md-9 ml-md-auto">
                    <router-link :to="{name: 'locations.list'}" class="btn btn-secondary">Cancel</router-link>
                    <v-button :loading="form.busy" type="primary">{{ (mode == 'update') ? 'Update Location' : 'Add Location' }}
                    </v-button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import Form from 'vform'
    import UploadImageCustom from "../../components/UploadImageCustom";
    import {mapGetters} from "vuex";

    export default {
        components: {
            UploadImageCustom
        },
        props: {
            location: {type: Object, default: null}
        },

        computed: Object.assign(mapGetters({
            user: 'auth/user',
        }), {
            success_message() {
                if (this.location && this.location.id) {
                    return 'Location is updated successfully!'
                } else {
                    return 'Location is created successfully!'
                }
            },
            mode() {
                return (this.location && this.location.id) ? 'update' : 'create'
            },
        }),
        data: () => ({
            form: new Form({
                name: '',
                description: '',
                phone: '',
                location_type: 'bar',
                country: '',
                state: '',
                city: '',
                to_table: true,
                collection: true,
                currency: '',
                tips_type: '',
                tips_list: [],
                address: '',
                latitude: '',
                longitude: '',
                image: [],
                image_old: true
            }),
            currency_options: [
                {
                    id: 'eur',
                    value: '€'
                },
                {
                    id: 'gbp',
                    value: '£'
                }, {
                    id: 'usd',
                    value: '$'
                },
                {
                    id: 'aed',
                    value: 'د.إ'
                },
            ],
            map: {
                'eur' : '€',
                'gbp' : '£',
                'usd' : '$',
                'aed' : 'د.إ',
            },
            location_type_options: [
                {
                    id: 'bar',
                    value: 'bar'
                },
                {
                    id: 'restaurant',
                    value: 'restaurant'
                },
                {
                    id: 'off-license',
                    value: 'off-license'
                },
            ],
            autocompleteAddress: null,
        }),
        created() {
            // Fill the form with location data.
            if (this.location) {
                this.form.keys().forEach(key => {
                    this.form[key] = this.location[key]
                });
                if (this.location.images.length > 0) {
                    this.form.image = this.location.images;
                }
            } else {
                this.form.tips_list = [1, 2, 3];
            }
        },
        mounted() {
            this.autocompleteAddress = new google.maps.places.Autocomplete((document.getElementById('address')), {types: ['geocode']});

            // When the user selects an address from the dropdown, populate the address
            // fields in the form.
            this.autocompleteAddress.addListener('place_changed', this.fillInAddress);

            this.geolocate();
        },
        methods: {
            clearAddress(event) {
                this.form.latitude = '';
                this.form.longitude = '';
                this.form.city = '';
                this.form.state = '';
                this.form.country = '';
            },
            save() {
                if (this.form.busy === false) {
                    this.form.busy = true;
                    let url = '/api/location' + ((this.mode == 'update') ? '/' + this.location.id : '');
                    let method = (this.mode == 'update') ? 'patch' : 'post';
                    this.form[method](url).then((response) => {
                        this.$router.push({name: 'locations.list'});
                        setTimeout(() => {
                            this.form.busy = false
                        }, 1000);
                    });
                }
            },
            getImage(image) {
                this.form.image = image;
                this.form.image_old = false;
            },
            geolocate() {
                var that = this;
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        var geolocation = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };
                        var circle = new google.maps.Circle({
                            center: geolocation,
                            radius: position.coords.accuracy
                        });
                        that.autocompleteAddress.setBounds(circle.getBounds());
                        // that.form.latitude = geolocation.lat;
                        // that.form.longitude = geolocation.lng;

                        // that.fillInAddress();
                    });
                }
            },
            fillInAddress() {
                var place = this.autocompleteAddress.getPlace();
                if (place.address_components) {

                    this.form.address = '';
                    for (var i = 0; i < place.address_components.length; i++) {
                        var addressType = place.address_components[i].types[0];

                        if (addressType == 'street_number') {
                            this.form.address = place.address_components[i]['short_name'] + ' ' + this.form.address;
                        } else if (addressType == 'route') {
                            this.form.address += place.address_components[i]['long_name'];
                        } else if (addressType == 'locality') {
                            this.form.city = place.address_components[i]['long_name'];
                        } else if (addressType == 'administrative_area_level_1') {
                            this.form.state = place.address_components[i]['long_name'];
                        } else if (addressType == 'country') {
                            this.form.country = place.address_components[i]['long_name'];
                        }
                    }

                    this.form.address = place.formatted_address;
                }

                if (place.geometry) {
                    this.form.latitude = place.geometry.location.lat();
                    this.form.longitude = place.geometry.location.lng();
                }
            }
        }
    }
</script>
