<template>
    <div>
        <page-header>
            <template slot="actions">
                <template v-if="pin && pin === 'location'">
                <router-link :to="{ name: 'locations.create' }" class="btn btn-sm btn-primary"><fa icon="plus"/> New Location</router-link>
                </template>
            </template>
        </page-header>
        <template v-if="pin && pin === 'location'">
        <div class="container-fluid py-3">
            <div class="card">
                <div class="card-body">
                    <vue-table title="Locations" :fields="fields" :item-actions="itemActions" api-url="location" :show-row-num="true" @table-action="tableActions" show-paginate>
                    </vue-table>
                </div>
            </div>
        </div>
        </template>
        <template v-else>
            <pin-form set-pin="location"/>
        </template>
    </div>
</template>

<script>
import PageHeader from '~/components/PageHeader'
import VueTable from '~/components/Table'
import swal from 'sweetalert2'
import PinForm from "../../components/PinForm";
import { mapGetters } from 'vuex';
export default {
	metaInfo () {
	    return { title: 'Locations' }
	},
    components: {
        PinForm,
        VueTable,
        PageHeader
    },
    created() {
        this.$store.dispatch('page/setTitle', { title: 'Retail Locations' })
        this.$store.dispatch('page/setSubtitle', { subtitle: '' })

    },
    computed: mapGetters({
        pin: 'page/pin',
    }),
	data() {
		return {
            fields: [
                {
                    name: 'images',
                    title: 'Image',
                    callback: 'image'
                }, {
                    name: 'name',
                    title: 'Name'
                },
                {
                    name: 'address',
                    title: 'Address',
                    callback: 'address'
                },
                {
                    name: 'location_type',
                    title: 'Location type'
                },
                {
                    name: 'to_table',
                    title: 'Delivery',
                    callback: 'checkbox'
                },
                {
                    name: 'to_home',
                    title: 'Home Delivery',
                    callback: 'checkbox'
                },
                {
                    name: 'collection',
                    title: 'Collection',
                    callback: 'checkbox'
                },
                {
                    name: 'currency_symbol',
                    title: 'Currency',
                },  {
                    name: 'created_at',
                    title: 'Created at'
                },
                {
                    name: '__actions',
                    title: '',
                    titleClass: 'text-center',
                    dataClass: 'text-center'
                }
            ],
            itemActions: [
                { name: 'detail-item', title: 'Detail', icon: 'eye', class: 'btn btn-sm btn-light mr-2'},
                // { name: 'edit-item', title: 'Edit', icon: 'pencil-alt', class: 'btn btn-sm btn-light bg-transparent mr-2'},
                // { name: 'delete-item', title: 'Delete', icon: 'trash-alt', class: 'btn btn-sm btn-light bg-transparent mr-2'}
            ]
        }
	},
	methods: {
        image(images){
            if (images && images.length > 0) {
                return '<img class="list-image" src="' + images[0].url + '">';
            }
            else {
                return '<img class="list-image" src="/images/party.png">'
            }
        },
        address(address, item){
            if (address && item) {
                return item.address
            }
            else {
                return ''
            }
        },
        currency(value) {
            if (value === 'eur') {
                return '€';
            } else {
                return '£';
            }
        },
        checkbox(value) {
            let checked = '';
            if (value) {
                checked = 'checked';
            }
            return '<input disabled type="checkbox" '+checked+'>';
        },
        username(user){
            if (user) {
        		return user.name;
        	}
        	else {
        		return ''
        	}
        },
        tableActions(action, data) {
            if (action == 'detail-item') {
                this.$router.push({ name: 'locations.detail.index', params: { location_id: data.id } })
            }
        	else if (action == 'edit-item') {
                this.$router.push({ name: 'admin.locations.edit', params: { id: data.id } })
            } else if (action == 'delete-item') {
                var text = '<div class="mb-3">\"'+data.name+'\"</div>';
                swal({
                    title: '<div class="mt-3">Delete this location?</div>',
                    html: text,
                    // type: 'warning',
                    reverseButtons: true,
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Delete'
                }).then((result) => {
                    if (result.value) {
                        this.$http.delete('admin/location/' + data.id)
                        .then((response) => {
                            toastr.success('You deleted the location!')

                            this.$emit('reload')
                        }, (response) => {
                            if ((typeof response.data.error !== 'string') && response.data.error) {
                              toastr.error(response.data.error.message)
                            } else {
                              toastr.error(response.status + ' : Resource ' + response.statusText)
                            }
                        })
                    }
                })
            }
        }
    }
}
</script>
