<template>
    <div class="container-fluid py-3">
        <div class="d-flex">
            <h5>Menu</h5>
            <button class="btn btn-link btn-sm ml-auto" @click="editMode = true" v-if="!editMode">Edit</button>
            <label for="select_all_items" class="ml-auto mr-2" v-if="editMode">
                <input id="select_all_items" type="checkbox" class="ml-auto mr-2" v-model="hard_select"/>
                Select all items
            </label>
            <button class="btn btn-secondary btn-sm ml-auto mr-2" @click="cancelMenu" v-if="editMode">Cancel</button>
            <button class="btn btn-primary btn-sm" @click="saveMenu" v-if="editMode">Save</button>
        </div>
        <div class="all-menu-container">
            <div class="row">
                <div class="tabs">
                    <template v-for="category in all_categories">
                        <div class="tab" v-if="category.items.length">

                            <input class="tab-checkbox" v-model="categories_opened" type="checkbox" :value="category.id" :id="'category_'+category.id">
                            <label class="tab-label" :for="'category_'+category.id">{{category.name}}</label>
                            <div class="tab-content">
                                <table class="table table-striped table-hover">
                                    <tr>
                                        <th><input :disabled="!editMode" type="checkbox" v-model="selected_all" :value="category.id" style="margin-right: 5px"/>Active</th>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th v-if="user.currencies.indexOf('gbp') !== -1">Price GPB</th>
                                        <th v-if="user.currencies.indexOf('eur') !== -1">Price EUR</th>
                                        <th v-if="user.currencies.indexOf('aed') !== -1">Price AED</th>
                                        <th v-if="user.currencies.indexOf('usd') !== -1">Price USD</th>
                                        <th>Special offer</th>
                                        <th>Out of stock</th>
                                    </tr>
                                    <tr v-for="item in category.items">
                                        <td>
                                            <input :disabled="!editMode" type="checkbox" :id="'item-check-'+item.id" :value="item.id" v-model="items">
                                        </td>
                                        <td>
                                            <img :src="item.images[0].url" class="item-image" v-if="item.images && item.images.length > 0">
                                        </td>
                                        <td>
                                            {{item.name}}
                                        </td>
                                        <td v-if="user.currencies.indexOf('gbp') !== -1">
                                            {{item.price_gbp?item.price_gbp+' £':''}}
                                        </td>
                                        <td v-if="user.currencies.indexOf('eur') !== -1">
                                            {{item.price_eur?item.price_eur+' €':''}}
                                        </td>
                                        <td v-if="user.currencies.indexOf('aed') !== -1">
                                            {{item.price_aed?item.price_aed+' د.إ':''}}
                                        </td>
                                        <td v-if="user.currencies.indexOf('usd') !== -1">
                                            {{item.price_usd?item.price_usd+'$':''}}
                                        </td>
                                        <td>
                                            <input :disabled="!editMode" type="checkbox" :id="'item-check-'+item.id" :value="item.id" v-model="special_offers">
                                        </td>
                                        <td>
                                            <input :disabled="!editMode" type="checkbox" :value="item.id" v-model="out_of_stock">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </template>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
import PageHeader from '~/components/PageHeader'
import swal from 'sweetalert2'
import {mapGetters} from "vuex";

export default {
	metaInfo () {
	    return { title: 'Location' }
	},
    components: {
        PageHeader
    },
    computed: mapGetters({
        pin: 'page/pin',
        user: 'auth/user',
    }),
    data() {
        return {
            editMode: false,
            categories: [],
            categories_opened: [],
            items: [],
            selected_all: [],
            hard_select: false,
            special_offers: [],
            out_of_stock: [],
            all_categories: [],
            all_category_items: {},
            initial_state: {}
        }
    },
    created() {
        this.$http.get('category/all')
        .then((response) => {
            this.all_categories = response.data.data
            this.all_categories.forEach((category) => {
                this.all_category_items[category.id] = category.items.map((item) => {
                    return item.id
                })
            });
        });
        this.initial_state = {
            all_categories: this.all_categories,
            all_category_items: this.all_category_items
        };
        this.loadLocationCategories();
    },
    watch: {
        hard_select(value) {
            if (value) {
                let items = [];
                let select_all = [];
                let categories = [];
                let that = this;
                if (that && that.all_category_items) {
                    Object.keys(that.all_category_items).forEach(function (value, index) {
                        let add = true;
                        that.all_category_items[value].forEach(function (item) {
                            items.push(item);
                        });
                        if (add) {
                            if (categories.indexOf(value) === -1) {
                                categories.push(value);
                            }
                        }
                        that.categories = categories;
                    });
                    that.items = items;
                    categories.forEach(function (value) {
                        let count = 0;
                        that.all_category_items[value].forEach(function (v) {
                            if (items.indexOf(v) !== -1) {
                                count++;
                            }
                        });
                        if (that.all_category_items[value].length === count) {
                            select_all.push(value);
                        }
                    });
                    that.selected_all = select_all;
                }
            } else {
                this.categories = [];
                this.items = [];
                this.selected_all = [];
            }
        },
        items(items) {
            let categories = [];
            let select_all = [];
            let that = this;
            if (that && that.all_category_items) {
                Object.keys(that.all_category_items).forEach(function (value, index) {
                    let add = false;
                    let select_all = true;
                    that.all_category_items[value].forEach(function (item) {
                        if (items.indexOf(item) !== -1) {
                            add = true;
                        } else {
                            select_all = false;
                        }
                    });
                    if (add) {
                        if (categories.indexOf(value) === -1) {
                            categories.push(value);
                        }
                    }
                    that.categories = categories;
                });

                categories.forEach(function (value) {
                    let count = 0;
                    that.all_category_items[value].forEach(function (v) {
                        if (items.indexOf(v) !== -1) {
                            count++;
                        }
                    });
                    if (that.all_category_items[value].length === count || (count > 0 && that.selected_all.indexOf(value) !== -1)) {
                        select_all.push(value);
                    }
                });
                that.selected_all = select_all;
            }
        },
        selected_all(new_state, old_state) {
            let that = this;
            old_state.forEach(function (category_id) {
                if (new_state.indexOf(category_id) === -1) {
                    that.items = that.items.filter(function (item_id) {
                        return that.all_category_items[category_id].indexOf(item_id) === -1
                    })
                }
            });
            new_state.forEach(function (category_id) {
                if (old_state.indexOf(category_id) === -1) {
                    that.all_category_items[category_id].forEach(function (item_id) {
                        if (that.items.indexOf(item_id) === -1) {
                            that.items.push(item_id);
                        }
                    });
                }
            });
        }
    },
	methods: {
        cancelMenu() {
            this.editMode = false;
            this.items = this.initial_state.items;
            this.all_category_items = this.initial_state.all_category_items;
            this.categories = this.initial_state.categories;
            this.categories_opened = this.initial_state.categories_opened;
            this.selected_all = [];
        },
        activateCategory(id) {
            return this.categories.indexOf(id) !== -1;
        },
        showCategory(id) {
            return this.editMode || this.categories.indexOf(id) !== -1;
        },
        showItem(id) {
            return this.editMode || this.items.indexOf(id) !== -1;
        },
        loadLocationCategories() {
            this.$http.get('location/' + this.$route.params.location_id + '/menu')
            .then((response) => {
                this.categories = response.data.categories.map((category) => {
                    return category.id
                }).sort();
                this.categories_opened = this.categories;
                let items = [];
                let out_of_stock = [];
                let special_offers = [];
                this.items = response.data.items.map((item) => {
                    if (item.pivot.out_of_stock) {
                        out_of_stock.push(item.id);
                    }
                    if (item.pivot.special_offer) {
                        special_offers.push(item.id);
                    }
                    return item.id
                }).sort();
                this.out_of_stock = out_of_stock;
                this.special_offers = special_offers;
                let categories = this.categories_opened;
                let items_ = this.items;
                this.initial_state = {
                    ...this.initial_state,
                    out_of_stock: out_of_stock,
                    special_offers: special_offers,
                    items: items_,
                    categories_opened: categories,
                    categories: categories,
                }
            }).catch((error) => {
                console.log(error)
            })
        },
        saveMenu() {
            this.categories = this.categories.sort();
            this.items = this.items.sort();
            let {items, out_of_stock, special_offers, categories} = this;
            this.$http.post('location/' + this.$route.params.location_id + '/menu', {items, out_of_stock, special_offers, categories})
            .then((response) => {
                this.loadLocationCategories();
                this.editMode = false;
            }).catch((error) => {
                console.log(error)
            })
        }
    }
}
</script>

<style lang="scss" scoped>
/*.category-image{*/
/*    max-width: 30px;*/
/*}*/

/*.item-image {*/
/*    max-width: 100px;*/
/*}*/

/*.menu-category-items {*/
/*    display: none;*/
/*}*/

/*.menu-category-container.active {*/
/*    .menu-category-items {*/
/*        display: block;*/
/*    }*/
/*}*/
$midnight: #ffffff;
$clouds: #ecf0f1;
// General
body {
    background: $clouds;
    padding: 0 1em 1em;
}
h1 {
    margin: 0;
    line-height: 2;
    text-align: center;
}
h2 {
    margin: 0 0 0.5em;
    font-weight: normal;
}
input.tab-checkbox {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
// Layout
.row {
    display: block;
    .col {
        flex: 1;
        &:last-child {
            margin-left: 1em;
        }
    }
}
.all-menu-container {
    margin: 15px;
}
label {
    margin-bottom: 0;
}
/* Accordion styles */
.tabs {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}
.item-image {
    width: 50px;
    height: 50px;
}
.tab {
    width: 100%;
    color: black;
    margin-top: 20px;
    overflow: hidden;
    &-label {
        display: flex;
        justify-content: space-between;
        padding: 1em;
        background: $midnight;
        font-weight: bold;
        cursor: pointer;
        /* Icon */
        &:hover {
            background: darken($midnight, 10%);
        }
        &::after {
            content: "\276F";
            width: 1em;
            height: 1em;
            text-align: center;
            transition: all 0.35s;
        }
    }
    &-content {
        max-height: 0;
        padding: 0 1em;
        color: black;
        background: white;
        transition: all 0.35s;
    }
    &-close {
        display: flex;
        justify-content: flex-end;
        padding: 1em;
        font-size: 0.75em;
        background: $midnight;
        cursor: pointer;
        &:hover {
            background: darken($midnight, 10%);
        }
    }
}
.tab:first-child {
    margin-top: 0;
}
.table th, .table td {
    vertical-align: center !important;
}
// :checked
input.tab-checkbox:checked {
    + .tab-label {
        background: darken($midnight, 10%);
        &::after {
            transform: rotate(90deg);
        }
    }
    ~ .tab-content {
        max-height: none;
        padding: 1em;
    }
}

</style>
