<template>
    <div>
        <div class="container-fluid py-3">
            <div class="card">
                <div class="card-body">
                    <vue-table :location_id="location_id" title="Items" :showRowNum="false" :fields="fields" :item-actions="itemActions" :api-url="apiUrl" :show-row-num="true" @table-action="tableActions" show-paginate>
                    </vue-table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import PageHeader from '~/components/PageHeader'
import VueTable from '~/components/TableLocationItems'
import swal from 'sweetalert2'
import { mapGetters } from 'vuex';
import PinForm from "../../components/PinForm";

export default {
    metaInfo () {
        return { title: 'Items' }
    },
    components: {
        PinForm,
        VueTable,
        PageHeader
    },
    computed: mapGetters({
        pin: 'page/pin',
    }),
    data() {
        return {
            location_id: this.$route.params.location_id,
            apiUrl: 'location-items/'+this.$route.params.location_id,
            fields: [
                {
                    name: 'images',
                    title: 'Image',
                    callback: 'image'
                }, {
                    name: 'name',
                    title: 'Name',
                    sortable: true,
                }, {
                    name: 'price',
                    title: 'Price',
                    callback: 'price',
                    titleClass: 'text-center',
                    sortable: true,
                },
                {
                    name: 'options',
                    title: 'Options',
                    callback: 'options',
                    sortable: false,
                },
                {
                    name: 'addons',
                    title: 'Addons',
                    callback: 'addons',
                    sortable: false,
                },
                {
                    name: 'is_special',
                    title: 'Special Offer',
                    callback: 'active',
                    titleClass: 'text-center',
                    sortable: true,
                },{
                    name: 'out_of_stock',
                    title: 'Out of stock',
                    callback: 'active',
                    titleClass: 'text-center',
                    sortable: true,
                },
                {
                    name: 'is_active',
                    title: 'Active',
                    callback: 'active',
                    titleClass: 'text-center',
                    sortable: true,
                },
            ],
            itemActions: [
                // { name: 'edit-item', title: 'Edit', icon: 'pencil-alt', class: 'btn btn-sm btn-light bg-transparent mr-2'},
                // { name: 'delete-item', title: 'Delete', icon: 'trash-alt', class: 'btn btn-sm btn-light bg-transparent mr-2'}
            ]
        }
    },
    methods: {
        image(images){
            if (images && images.length > 0) {
                return '<img class="list-image" src="' + images[0].url + '">';
            }
            else {
                return '<img class="list-image" src="/images/party.png">'
            }
        },
        price(price, object) {
            return object.currency + price
        },
        options(value) {
            return value;
        },
        addons(value) {
            return addons;
        },
        active(value, object) {
            return value;
        },
        tableActions(action, data) {
            if (action == 'edit-item') {
                this.$router.push({ name: 'items.edit', params: { item_id: data.id } })
            } else if (action == 'delete-item') {
                var text = '<div class="mb-3">\"'+data.name+'\"</div>';
                swal({
                    title: '<div class="mt-3">Delete this item?</div>',
                    html: text,
                    // type: 'warning',
                    reverseButtons: true,
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Delete'
                }).then((result) => {
                    if (result.value) {
                        this.$http.delete('item/' + data.id)
                        .then((response) => {
                            toastr.success('You deleted the item!')
                            this.$emit('reload')
                        }, (response) => {
                            if ((typeof response.data.error !== 'string') && response.data.error) {
                              toastr.error(response.data.error.message)
                            } else {
                              toastr.error(response.status + ' : Resource ' + response.statusText)
                            }
                        })
                    }
                })
            }
        }
    }
}
</script>
