<template>
    <div class="container-fluid py-3">
        <div class="card">
            <div class="card-body">
                <table-order title="Orders" :fields="fields" :api-url="'location/' + this.$route.params.location_id + '/orders_list'"
                             :show-row-num="false" show-paginate :search-placeholder="'Search by Id'">
                </table-order>
            </div>
        </div>
    </div>
</template>

<script>
    import PageHeader from '~/components/PageHeader'
    import TableOrder from "~/components/TableOrder";

    export default {
        metaInfo() {
            return {title: 'Location'}
        },
        components: {
            TableOrder,
            PageHeader
        },
        data() {
            return {
                fields: [
                    {
                        name: 'id',
                        title: 'ORDER ID',
                        callback: 'order_id',
                        dataClass: 'order',
                        sortable: true,
                        titleClass: 'sortable'
                    },{
                        name: 'location',
                        title: 'location',
                        callback: 'location',
                    }, {
                        name: 'user',
                        title: 'Name',
                        callback: 'user',

                    }, {
                        name: 'table_number',
                        title: 'TABLE',
                    },
                    {
                        name: 'order_items',
                        title: 'ITEMS',
                        callback: 'order_items',
                        titleClass: 'order-items-th'
                    }, {
                        name: 'grandtotal_price',
                        title: 'TOTAL ORDER PRICE',
                        callback: 'total',
                        sortable: true,
                        titleClass: 'sortable'
                    }, {
                        name: 'total_fee',
                        title: 'CUSTOMER FEE',
                        callback: 'total',
                        titleClass: 'sortable'
                    },
                    {
                        name: 'tips',
                        title: 'TIPS',
                        callback: 'total',
                        sortable: true,
                        titleClass: 'sortable'
                    },
                    {
                        name: 'drink_app_fee',
                        title: 'DRINKAPP FEE',
                        callback: 'total',
                        titleClass: 'sortable'
                    },
                    {
                        name: 'stripe_fee',
                        title: 'TOTAL FEES',
                        callback: 'order_revenue',
                        titleClass: 'sortable'
                    },
                    {
                        name: 'order_revenue',
                        title: 'Order Revenue',
                        callback: 'order_revenue',
                        titleClass: 'sortable'
                    },
                    {
                        name: 'completed_at',
                        title: 'COLLECT TIME',
                        callback: 'completed_at',
                        sortable: true,
                        titleClass: 'sortable'
                    },
                    {
                        name: 'created_at_object',
                        title: 'CREATE TIME',
                        callback: 'completed_at',
                        sortable: true,
                        sort_field: 'created_at',
                        titleClass: 'sortable'
                    },
                    {
                        name: 'status',
                        title: 'STATUS',
                        callback: 'status',
                        sortable: true,
                        titleClass: 'sortable'
                    }
                ],
            }
        },
        methods: {
            order_id: (value) => {
                return '#' + value;
            },
            total: (value, obj) => {
                if (value) {
                    return obj.currency_symbol + parseFloat(value).toFixed(2);
                } else {
                    return '';
                }
            },
            order_revenue: (value, obj) => {
                if (obj.currency_symbol) {
                    if (value) {
                        return obj.currency_symbol + parseFloat(value).toFixed(2);
                    } else {
                        return '';
                    }
                } else {
                    if (value) {
                        return obj.currency_symbol + parseFloat(value).toFixed(2);
                    } else {
                        return '';
                    }
                }
            },
            order_items: (value) => {
                return value.map((val) => {return val.quantity + ' X ' + val.item_name}).join(', ');
            },
            status: (value) => {
                let status_map = {
                    0: 'pending',
                    1: 'failed',
                    2: 'ready for collection',
                    3: 'ready for delivery',
                    4: 'completed',
                    5: 'home delivery',
                    6: 'refunded',
                };
                return '<span class="'+status_map[value].toLowerCase().replace(/\s/g,'-')+'">'+status_map[value]+'</span>';
            },
            user: (value) => {
                return (value !== null && typeof value.name !== "undefined") ? value.name : '';
            },
            location: (value) => {
                return (value !== null && typeof value.name !== "undefined") ? value.name : '';
            },
            completed_at: (value) => {
                let date = '';
                if (value !== null && typeof value.date !== "undefined") {
                    let date_obj = new Date(value.date);
                    let hours = date_obj.getHours()-date_obj.getTimezoneOffset()/60;
                    date = hours + ':'+date_obj.getMinutes()+':'+date_obj.getSeconds()+', '
                        + date_obj.getDate()+'/'+date_obj.getMonth()+'/'+date_obj.getFullYear();
                }
                return date;

            }
        }
    }
</script>

<style lang="scss" scoped>
    .page-sub-nav {
        .nav-link {
            color: #333;
        }
    }

</style>
<style lang="css">
    .table th {
        font-size: 11px;
        font-weight: 500;
        line-height: 21px;
        text-transform: uppercase;
        opacity: 0.7;
        color: #1b1b1c;
    }
    .table td {
        color: #726c7d;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
    }
    .order {
        font-size: 14px;
        font-weight: 500;
        color: #1b1b1c;
        line-height: 21px;
    }

    .order-items-th {
        width: 30%;
    }
    .completed {
        color: #09b11a;
    }
    .fail {
        color: black;
    }
    .pending {
        color: red;
    }
    .ready-for-collection,ready-for-delivery  {
        color: orange;
    }
</style>
