<template>
    <div>
        <!-- <form class="form" role="form" @submit.prevent="onSubmit"> -->
        <form @submit.prevent="save" @keydown="form.onKeydown($event)">
            <ul class="nav nav-tabs" id="settingsTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="table-tab" data-toggle="tab" href="#to_table_tab" role="tab" aria-controls="to_home_tab" aria-selected="true">Delivery to Table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="collection-tab" data-toggle="tab" href="#collection_tab" role="tab" aria-controls="collection_tab" aria-selected="false">Collect at Bar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="home-tab" data-toggle="tab" href="#to_home_tab" role="tab" aria-controls="home_tab" aria-selected="false">Home delivery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="categories-tab" data-toggle="tab" href="#categories_tab" role="tab" aria-controls="categories_tab" aria-selected="false">Menu Working Time</a>
                </li>

            </ul>
            <div class="tab-content" id="settingsTabContent">
                <div class="tab-pane fade show active" id="to_table_tab" role="tabpanel" aria-labelledby="home-tab">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right" for="to_table">Enable</label>
                        <div class="col-md-7">
                            <!-- Default switch -->
                            <div class="custom-control custom-switch">
                                <input :disabled="!editMode" type="checkbox" class="custom-control-input" id="to_table" :checked="(form.to_table)" ref="to_table" v-model="form.to_table">
                                <label class="custom-control-label" for="to_table"></label>
                            </div>
<!--                            <input id="to_table" :disabled="!editMode" :checked="(form.to_table)" ref="to_table" v-model="form.to_table" :class="{ 'is-invalid': form.errors.has('to_table') }" type="checkbox" name="to_table">-->
                            <has-error :form="form" field="to_table"/>
                        </div>
                    </div>
                    <template v-if="form.to_table">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label text-md-right">Delivery work time</label>
                            <div class="col-md-7">
                                <vue-timepicker :disabled="!editMode" placeholder="time start" v-model="form.time_start"/>
                                <vue-timepicker :disabled="!editMode" placeholder="time end" v-model="form.time_end"/>
                            </div>
                        </div>
                    </template>

                </div>
                <div class="tab-pane fade" id="collection_tab" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right" for="collection">Enable</label>
                        <div class="col-md-7">
                            <div class="custom-control custom-switch">
                                <input :disabled="!editMode" type="checkbox" class="custom-control-input" id="collection" :checked="(form.collection)" ref="collection" v-model="form.collection">
                                <label class="custom-control-label" for="collection"></label>
                            </div>
<!--                            <input id="collection" :disabled="!editMode" :checked="(form.collection)" ref="collection" v-model="form.collection" :class="{ 'is-invalid': form.errors.has('collection') }"  type="checkbox" name="collection">-->
                            <has-error :form="form" field="collection"/>
                        </div>
                    </div>
                    <template v-if="form.collection">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label text-md-right">Bar work time</label>
                            <div class="col-md-7">
                                <vue-timepicker :disabled="!editMode" placeholder="time start" v-model="form.collection_time_start"/>
                                <vue-timepicker :disabled="!editMode" placeholder="time end" v-model="form.collection_time_end"/>
                            </div>
                        </div>
                    </template>
                </div>
                <div class="tab-pane fade" id="to_home_tab" role="tabpanel" aria-labelledby="contact-tab">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right" for="to_home">Enable</label>
                        <div class="col-md-7">
                            <div class="custom-control custom-switch">
                                <input :disabled="!editMode" type="checkbox" class="custom-control-input" id="to_home" :checked="(form.to_home)" ref="to_home" v-model="form.to_home">
                                <label class="custom-control-label" for="to_home"></label>
                            </div>
<!--                            <input id="to_home" :disabled="!editMode" :checked="(form.to_home)" ref="to_home" v-model="form.to_home" :class="{ 'is-invalid': form.errors.has('to_home') }"  type="checkbox" name="to_home">-->
                            <has-error :form="form" field="to_home"/>
                        </div>
                    </div>
                    <template v-if="form.to_home">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label text-md-right">Home delivery work time</label>
                            <div class="col-md-7">
                                <vue-timepicker :disabled="!editMode" placeholder="time start" v-model="form.home_delivery_time_start"/>
                                <vue-timepicker :disabled="!editMode" placeholder="time end" v-model="form.home_delivery_time_end"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label text-md-right">Home delivery days</label>
                            <div class="col-md-7">
                                <table class="table">
                                    <tr>
                                        <td>Mon</td>
                                        <td>Tue</td>
                                        <td>Wed</td>
                                        <td>Thu</td>
                                        <td>Fri</td>
                                        <td>Sat</td>
                                        <td>Sun</td>
                                    </tr>
                                    <td>
                                        <input :disabled="!editMode" type="checkbox" v-model="form.home_delivery_days.mon">
                                    </td>
                                    <td>
                                        <input :disabled="!editMode" type="checkbox" v-model="form.home_delivery_days.tue">
                                    </td>
                                    <td>
                                        <input :disabled="!editMode" type="checkbox" v-model="form.home_delivery_days.wen">
                                    </td>
                                    <td>
                                        <input  :disabled="!editMode" type="checkbox" v-model="form.home_delivery_days.thu">
                                    </td>
                                    <td>
                                        <input  :disabled="!editMode" type="checkbox" v-model="form.home_delivery_days.fri">
                                    </td>
                                    <td>
                                        <input  :disabled="!editMode" type="checkbox" v-model="form.home_delivery_days.sat">
                                    </td>
                                    <td>
                                        <input  :disabled="!editMode" type="checkbox" v-model="form.home_delivery_days.sun">
                                    </td>
                                </table>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label text-md-right">Home delivery radius and price</label>
                            <div class="col-md-9" v-if="editMode"><button v-on:click.prevent="addPriceAndRadius" class="btn btn-secondary"><fa icon="plus"/></button></div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3"></div>
                            <div class="col-md-7">
                                <template v-if="form.home_delivery_radius_settings && form.home_delivery_radius_settings.length" v-for="(h_d_data, index) in form.home_delivery_radius_settings">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="input-group">
                                                <input :disabled="!editMode"
                                                       :checked="(form.to_home)" ref="home_delivery_radius"
                                                       v-model="form.home_delivery_radius_settings[index].radius"
                                                       step="0.01"
                                                       min="0"
                                                       class="form-control" type="number">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">miles</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="input-group">
                                                <input id="home_delivery_price" :disabled="!editMode"
                                                       :checked="(form.home_delivery_radius_settings[index].price)"
                                                       ref="home_delivery_price"
                                                       min="0"
                                                       step="0.01"
                                                       v-model="form.home_delivery_radius_settings[index].price"
                                                       class="form-control" type="number">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">{{form.currency_symbol}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2" v-if="editMode"><button v-on:click="removePriceAndRadius(index)" class="btn btn-secondary"><fa icon="trash-alt" fixed-width /></button></div>
                                    </div>
                                </template>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label text-md-right">Home delivery minimum order</label>
                            <div class="col-md-7">
                                <div class="input-group">
                                    <input id="home_delivery_minimum_order" required :disabled="!editMode" :checked="(form.home_delivery_minimum_order)" ref="home_delivery_minimum_order" v-model="form.home_delivery_minimum_order" :class="{ 'is-invalid': form.errors.has('home_delivery_minimum_order') }" class="form-control" type="text" name="home_delivery_minimum_order">
                                    <div class="input-group-append">
                                        <span class="input-group-text">{{form.currency_symbol}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
                <div class="tab-pane fade" id="categories_tab" role="tabpanel" aria-labelledby="categories_tab">
                    <div class="form-group row">
                        <template v-for="(category, index) in form.categories">
                            <label class="col-md-3 col-form-label text-md-right">{{category.name}}</label>
                            <div class="col-md-7">
                                <vue-timepicker :disabled="!editMode" placeholder="time start" v-model="form.categories[category.id].time_start"/>
                                <vue-timepicker :disabled="!editMode" placeholder="time end" v-model="form.categories[category.id].time_end"/>
                            </div>
                        </template>
                    </div>
                </div>
            </div>

            <!-- Submit Button -->
            <div class="form-group row" v-if="location && editMode">
                <div class="col-md-9 ml-md-auto">
                    <v-button :loading="form.busy" type="success">Update</v-button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import VueTimepicker from 'vue2-timepicker/src/vue-timepicker.vue'
    import Form from 'vform'
    import swal from 'sweetalert2';
    import Table from "../../components/Table";

    export default {
        props: {
            user: {
                type: Object,
                default () {
                    return {}
                }
            },
            editMode: {
              type: Boolean,
              default() {
                  return false
              }
            },
            setEdit: {
                type: Function,
            },
            location: {
                type: Object
            }
        },
        components: {
            Table,
            VueTimepicker,
        },
        data: () => ({
            form: new Form({
                categories: [],
                time_start: '',
                time_end: '',
                home_delivery_time_start: '',
                home_delivery_time_end: '',
                to_table: false,
                to_home: false,
                home_delivery_radius: '',
                home_delivery_radius_settings: null,
                home_delivery_price: '',
                home_delivery_days: {},
                home_delivery_minimum_order: '',
                currency_symbol: null,
                collection: false,
                collection_time_start: '',
                collection_time_end: '',
                offset: new Date().getTimezoneOffset()
            })
        }),
        watch: {
            user(value) {
                if (value.id) {
                    this.form.keys().forEach(key => {
                        this.form[key] = value[key]
                    })
                }
            }
        },
        computed: {
            mode() {
                return this.user.id ? 'update' : 'create'
            },
        },
        created() {
            if (this.location) {
                this.form.keys().forEach(key => {
                    if (key === 'time_start' || key === 'time_end'
                        || key === 'collection_time_start' || key === 'collection_time_end'
                        || key === 'home_delivery_time_start' || key === 'home_delivery_time_end') {
                        if (this.location[key]) {
                            this.handleTime(key)
                        }
                    } else if (key === 'home_delivery_days') {
                        this.form[key] = !this.location[key] ? {} : this.location[key];
                    } else if (key === 'home_delivery_radius_settings') {
                        this.form[key] = this.location[key]?this.location[key]:[{price: '', radius:''}]
                    } else  if (key === 'categories') {
                        this.handleCategories();
                    } else {
                        this.form[key] = this.location[key]
                    }
                });
            }
        },
        methods: {
            handleCategories() {
                let that = this;
                let categories = {};
                for (let i in this.location.categories) {
                    let category = this.location.categories[i];
                    if (!category.children_exists) {
                        categories[category.id] = {
                            name: category.name,
                            id: category.id,
                            time_start: that.handleCategoryTime(category, 'time_start'),
                            time_end: that.handleCategoryTime(category, 'time_end'),
                        }
                    }
                }
                that.form.categories = categories;
            },
            handleCategoryTime(category, field) {
                let currentDate = new Date();
                let date = currentDate.getDate();
                let month = currentDate.getMonth();
                let year = currentDate.getFullYear();
                if (category.pivot[field]) {
                    let time_ = category.pivot[field].split(':');
                    let time = new Date(new Date(year, date, month, time_[0], time_[1]).getTime() - 60000 * this.form.offset);
                    let hours = time.getHours();
                    if (hours < 10) {
                        hours = '0'+hours;
                    }
                    let minutes = time.getMinutes();
                    if (minutes < 10) {
                        minutes = '0'+minutes;
                    }
                    return hours + ':' + minutes;
                }
                return null
            },
            handleTime(key)
            {
                let currentDate = new Date();
                let date = currentDate.getDate();
                let month = currentDate.getMonth();
                let year = currentDate.getFullYear();
                if (this.location[key]) {
                    let time_ = this.location[key].split(':');
                    let time = new Date(new Date(year, date, month, time_[0], time_[1]).getTime() - 60000 * this.form.offset);
                    let hours = time.getHours();
                    if (hours < 10) {
                        hours = '0'+hours;
                    }
                    let minutes = time.getMinutes();
                    if (minutes < 10) {
                        minutes = '0'+minutes;
                    }
                    this.form[key] = hours + ':' + minutes;
                }
            },
            addPriceAndRadius()
            {
                this.form.home_delivery_radius_settings.push({price: '', radius: ''});
            },
            removePriceAndRadius(index)
            {
                this.form.home_delivery_radius_settings.splice(index, 1);
            },
            save() {
                let that = this;
                if (this.form.busy === false) {
                    this.form.busy = true;
                    this.form.offset =  new Date().getTimezoneOffset();
                    let url = '/api/location/' + this.location.id + '/settings';
                    this.form['post'](url).then((response) => {
                        that.form.busy = false;
                        that.setEdit(false);
                    }).catch(function (error, resp) {
                        if (error.response && error.response.data && error.response.data.messages && error.response.data.messages[0]) {
                            swal({
                                title: '<div class="mt-3">'+error.response.data.messages[0]+'</div>',
                                type: 'error',
                            })
                        } else if (error.response && error.response.data && error.response.data.message) {
                            swal({
                                title: '<div class="mt-3">'+error.response.data.message+'</div>',
                                type: 'error',
                            })
                        }
                    })
                }
            }
        },
    }
</script>
<style>
    #settingsTab .nav-link {
        color: #333;
    }
    .custom-control-label {
        top: 7px;
    }
    #categories_tab {
        padding-top: 20px;
    }
</style>
