<template>
    <div class="container-fluid py-3">
        <div class="card">
            <div class="card-header">
                Location Settings
                <button class="btn btn-link btn-sm ml-auto float-right" @click="editMode = !editMode">
                    <template v-if="editMode">
                    Detail
                    </template>
                    <template v-else>
                        Edit
                    </template>
                </button>
            </div>
            <div class="card-body" v-if="location">
                <settings-form :setEdit="setEdit" :editMode="editMode" :location="location"></settings-form>
            </div>
        </div>
    </div>
</template>

<script>
import PageHeader from '~/components/PageHeader'
import swal from 'sweetalert2'
import SettingsForm from "~/pages/locations/settings-form";

export default {
	metaInfo () {
	    return { title: 'Edit Location' }
	},
    components: {
        SettingsForm,
        PageHeader,
    },

    created() {
        this.$http.get('location/' + this.$route.params.location_id + '/edit')
        .then((response) => {
            this.location = response.data.data;
        }).catch((error) => {
            console.log(error)
        })
    },
	data() {
		return {
            location: null,
            editMode: false,
        }
	},
	methods: {
        setEdit(edit) {
            this.editMode = edit
        },
    }
}
</script>
