<template>
    <div>
        <page-header>
            <template slot="actions">
                <router-link :to="{name: 'locations.list'}" class="btn btn-link btn-sm text-secondary"><fa icon="chevron-left"/> Back</router-link>
                <!-- <router-link :to="{name: 'locations.edit', params: {location_id: location.id}}" class="btn btn-link btn-sm" v-if="location"><fa icon="pencil-alt"/> Edit</router-link> -->
            </template>
        </page-header>
        <template v-if="pin && pin === 'location'">
        <div class="nav-container container-fluid mt-2">
            <nav class="nav nav-tabs page-sub-nav">
                <li class="nav-item">
                    <router-link :to="{name: 'locations.detail.index', params: {location_id: location.id}}" class="nav-link" active-class="active" v-if="location">DETAILS</router-link>
                </li>
                <li class="nav-item">
                    <router-link :to="{name: 'locations.detail.menu', params: {location_id: location.id}}" class="nav-link" active-class="active" v-if="location">MENU CATEGORIES & ITEMS</router-link>
                </li>
                <li class="nav-item">
                    <router-link :to="{name: 'locations.detail.order', params: {location_id: location.id}}" class="nav-link" active-class="active" v-if="location">ORDERS</router-link>
                </li>
                <li class="nav-item">
                    <router-link :to="{name: 'locations.detail.settings', params: {location_id: location.id}}" class="nav-link" active-class="active" v-if="location">SETTINGS</router-link>
                </li>
                <li class="nav-item">
                    <router-link :to="{name: 'locations.detail.discounts.index', params: {location_id: location.id}}" class="nav-link" active-class="active" v-if="location">DISCOUNTS</router-link>
                </li>
            </nav>
        </div>

        <transition name="fade" mode="out-in">
            <router-view/>
        </transition>
        </template>
        <template v-else>
            <pin-form set-pin="location"/>
        </template>
    </div>
</template>

<script>
import PageHeader from '~/components/PageHeader'
import PinForm from "../../components/PinForm";
import { mapGetters } from 'vuex';

export default {
	metaInfo () {
	    return { title: 'Location' }
	},
    components: {
        PinForm,
        PageHeader
    },
    created() {
        this.$store.dispatch('page/setTitle', { title: 'Details' })
        this.$store.dispatch('page/setSubtitle', { subtitle: 'Retail Locations' })

        this.$http.get('location/' + this.$route.params.location_id + '/edit')
        .then((response) => {
            this.location = response.data.data;
            this.$store.dispatch('page/setTitle', { title: this.location.name })
            // this.$router.push({name: 'locations.detail.index'})
        }).catch((error) => {
            console.log(error)
        })
    },
    computed: mapGetters({
        pin: 'page/pin',
    }),
	data() {
		return {
            location: null
        }
	},
	methods: {
    }
}
</script>

<style lang="scss" scoped>
.page-sub-nav {
    .nav-link {
        font-size: 0.875rem;
        color: #333;
    }
}
</style>
