<template>
	<transition name="fade" mode="out-in">
        <router-view/>
    </transition>
</template>

<script>
export default {
	middleware: 'retailer',
	layout: 'retailer',

	metaInfo () {
		return { title: this.$t('home') }
	}
}
</script>
