<template>
	<div>
        <page-header>
            <template slot="actions">
            </template>
        </page-header>
        <template v-if="pin && pin === 'dashboards'">
	        <div class="container-fluid py-3">
			<div class="row"><h2>Orders</h2></div>

			<div class="row">
				<dashboard-chart title="Orders completed per location" :fields="fields" api-url="/dashboard/orders_chart"
								 id="orders_chart"
								 chart-type="orders">
				</dashboard-chart>
				<dashboard-chart title="Total revenue per location" :fields="fields" api-url="/dashboard/income_location"
								 chart-type="revenue"
								 id="income_location">
				</dashboard-chart>
				<dashboard-chart title="Total tips per location" :fields="fields" api-url="/dashboard/tips"
								 chart-type="revenue"
								 id="tips">
				</dashboard-chart>
			</div>
			<div class="row"><h2>Demographics</h2></div>
			<div class="row">
				<dashboard-chart title="New customers per location" :fields="fields" api-url="/dashboard/new_customers_chart"
								 id="new_customers"
								 chart-type="orders">
				</dashboard-chart>
				<dashboard-chart title="Unique customers per location" :fields="fields" api-url="/dashboard/unique_customers_chart"
								 id="unique_customers"
								 chart-type="orders">
				</dashboard-chart>
				<dashboard-chart title="Age of users per location" :fields="fields" api-url="/dashboard/age"
								 chart-type="users"
								 id="age">
				</dashboard-chart>
				<dashboard-chart title="Male vs female users breakdown per location" :fields="fields" api-url="/dashboard/gender"
								 chart-type="users"
								 id="location_users">
				</dashboard-chart>
				<dashboard-chart chart-type-main="pie" title="Age of users"
								 :fields="fields" api-url="/dashboard/age_retailer"
								 chart-type="pie"
								 :labels="['18-25', '26-35', '36-45', '45+']"
								 id="age_retailer">
				</dashboard-chart>
				<dashboard-chart chart-type-main="pie" :labels="['male', 'female']" title="Male vs female users breakdown" :fields="fields" api-url="/dashboard/gender_retailer"
								 chart-type="pie"
								 id="gender_retailer">
				</dashboard-chart>
			</div>
        </div>
		</template>
		<template v-else>
			<pin-form set-pin="dashboards"/>
		</template>
	</div>
</template>
<script>
	import PageHeader from '~/components/PageHeader'
	import Card from '~/components/Card'
	import Dashboard from "../../components/Dashboard";
	import DashboardChart from "../../components/DashboardChart";
	import { mapGetters } from 'vuex'
	import PinForm from "~/components/PinForm";

	export default {
	metaInfo () {
	    return { title: 'Dashboard' }
	},
	components: {
		PinForm,
		DashboardChart,
        Dashboard,
		PageHeader,
		Card
	},
	computed: mapGetters({
		pin: 'page/pin',
	}),
	data() {
	    return {
            fields: [
                {
                    name: 'location',
                    title: 'location',
                    sortable: true,
                },
                {
                    name: 'total',
                    title: 'total',
                    sortable: true,
                    callback: 'digest',
                }
            ],
            order_fields: [
                {
                    name: 'location',
                    title: 'location',
                    sortable: true,
                },
                {
                    name: 'total',
                    title: 'total',
                    sortable: true,
                    callback: 'price',
                }
            ],

		}
	},
    created() {
		this.$store.dispatch('page/setTitle', { title: 'Dashboard' });
		this.$store.dispatch('page/setSubtitle', { subtitle: '' });
	},
    methods: {
        price: function (value, item) {
            let currency = item.currency;
            if (currency === 'eur') {
                currency = '€';
            } else {
                currency = '£';
            }
	        let n = 2, x=3, s=',', c='.';
            let re = '\\d(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\D' : '$') + ')',
                num = parseFloat(value).toFixed(Math.max(0, ~~n));
            return '<span class="float-right">'+currency+(c ? num.replace('.', c) : num).replace(new RegExp(re, 'g'), '$&' + (s || ','))+'</span>';
        },
        digest: function (value) {
            return '<span class="float-right">'+value+'</span>';
        }
    }
}
</script>
<style scoped>
	h2 {
		text-align: center;
		width: 100%;
		font-size: 28px;
	}
</style>
