<template>
	<div>
		<page-header></page-header>

        <div class="container-fluid py-3">
			<div class="card">
				<div class="card-header">
					Add user
					<router-link :to="{ name: 'admin.users.list' }" class="btn btn-sm btn-secondary float-right">
		              Back
		            </router-link>
				</div>
				<div class="card-body">
					<user-form></user-form>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import PageHeader from '~/components/PageHeader'
import UserForm from '~/pages/admin/user/form'
export default {
	components: { UserForm, PageHeader },
	metaInfo () {
	    return { title: 'Add user' }
	},
	created() {
		this.$store.dispatch('page/setTitle', { title: 'New User' })
        this.$store.dispatch('page/setSubtitle', { subtitle: 'Users' })
	}
}
</script>