<template>
	<div>
		<page-header></page-header>

        <div class="container-fluid py-3">
			<div class="card">
				<div class="card-header">
					Edit user
					<router-link :to="{ name: 'admin.users.list' }" class="btn btn-sm btn-secondary float-right">
						<fa icon="chevron-left"/>
		              	Back
		            </router-link>
		            <!-- <template v-if="user.id">
			            <router-link :to="{ name: 'admin.users.change_password', params:{id: user.id} }" class="btn btn-sm btn-info mr-2 float-right">
			            	<fa icon="lock"/>
			              	Change Password
			            </router-link>
			        </template> -->
				</div>
				<div class="card-body">
					<user-form v-if="user" :user="user"></user-form>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import PageHeader from '~/components/PageHeader'
import UserForm from '~/pages/admin/user/form'

export default {
	components: { UserForm, PageHeader },
	metaInfo () {
	    return { title: 'Edit user' }
	},
	data() {
		return {
			user: {}
		}
	},
	created() {
		this.$store.dispatch('page/setTitle', { title: 'Edit User' })
        this.$store.dispatch('page/setSubtitle', { subtitle: 'Users' })

		this.$http.get('admin/user/' + this.$route.params.id + '/edit')
		.then((response) => {
			this.user = response.data.data;
        }).catch((error) => {
            console.log(error)
        })
	}
}
</script>
