<template>
    <div>
        <!-- <form class="form" role="form" @submit.prevent="onSubmit"> -->
        <form @submit.prevent="onSubmit" @keydown="form.onKeydown($event)">
            <template v-if="!user.id">
                <alert-success :form="form" :message="$t('user_created')"/>
            </template>
            <template v-else>
                <alert-success :form="form" :message="$t('user_updated')"/>
            </template>
            <template v-if="!user.id">
                <div class="form-group row">
                    <label class="col-md-3 col-form-label text-md-right">Role</label>
                    <div class="col-md-7">
                        <select v-model="form.role" :class="{ 'is-invalid': form.errors.has('role') }" class="form-control" name="role">
                            <option value="retailer" selected>Retailer</option>
                            <option value="admin">Administrator</option>
                        </select>
                        <has-error :form="form" field="role"/>
                    </div>
                </div>
            </template>
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">First Name</label>
                <div class="col-md-7">
                    <input v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }" class="form-control" type="text" name="name">
                    <has-error :form="form" field="name"/>
                </div>
            </div>
            <!-- Email -->
            <div class="form-group row"  v-if="!user.id">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('email') }}</label>
                <div class="col-md-7">
                    <input v-model="form.email" :class="{ 'is-invalid': form.errors.has('email') }" class="form-control" type="email" name="email">
                    <has-error :form="form" field="email" />
                </div>
            </div>
            <template v-if="!user.id">
                <!-- Password -->
                <div class="form-group row">
                    <label class="col-md-3 col-form-label text-md-right">{{ $t('new_password') }}</label>
                    <div class="col-md-7">
                        <input v-model="form.password" :class="{ 'is-invalid': form.errors.has('password') }" class="form-control" type="password" name="password">
                        <has-error :form="form" field="password"/>
                    </div>
                </div>

                <!-- Password Confirmation -->
                <div class="form-group row">
                    <label class="col-md-3 col-form-label text-md-right">{{ $t('confirm_password') }}</label>
                    <div class="col-md-7">
                        <input v-model="form.password_confirmation" :class="{ 'is-invalid': form.errors.has('password_confirmation') }" class="form-control" type="password" name="password_confirmation">
                        <has-error :form="form" field="password_confirmation"/>
                    </div>
                </div>
            </template>
            <div class="form-group row" v-if="user.id && user.role_names.indexOf('retailer') !== -1 || !user.id">
                <label class="col-md-3 col-form-label text-md-right">PIN</label>
                <div class="col-md-7">
                    <input v-model="form.pin" :class="{ 'is-invalid': form.errors.has('pin') }" class="form-control" pattern="[0-9]{4}" type="text" name="pin">
                    <has-error :form="form" field="pin"/>
                </div>
            </div>
            <!-- Submit Button -->
            <div class="form-group row">
                <div class="col-md-7 offset-md-3 d-flex">
                    <v-button :loading="form.busy" type="primary">{{ user.id ? 'Update' : 'Create' }}</v-button>
                    <router-link :to="{name: 'admin.users.price_config', params: {id: user.id}}" v-if="user.id && user.role_names.indexOf('retailer') !== -1" class="btn btn-secondary ml-auto"><fa icon="list-alt" fixed-width/> Fees</router-link>
                    <router-link :to="{name: 'admin.users.password', params: {id: user.id}}" v-if="user.id" class="btn btn-secondary ml-auto"><fa icon="key" fixed-width/> Change password</router-link>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
import Form from 'vform'
import Table from "../../../components/Table";
import {mapGetters} from "vuex";

export default {
    components: {Table},
    props: {
        user: {
            type: Object,
            default () {
                return {}
            }
        },
    },
    data: () => ({
        form: new Form({
            role: 'retailer',
            name: '',
            last_name: '',
            pin: '',
            email: '',
            password: '',
            password_confirmation: '',
        })
    }),
    watch: {
        user(value) {
            if (value.id) {
                this.form.keys().forEach(key => {
                    this.form[key] = value[key]
                })
            }
        }
    },
    computed: Object.assign(mapGetters({
        user_: 'auth/user',
    }),{
        mode() {
            return this.user.id ? 'update' : 'create'
        },
    }),
    mounted() {
        if (!this.user.id) {
            this.form.price_config = this.user_.price_config;
        }
    },
    created() {
        if (this.user.id) {
            this.form.keys().forEach(key => {
                this.form[key] = this.user[key]
            })
        }
    },
    methods: {
        async onSubmit () {
            let url = '/api/admin/user' + (this.user.id ? '/' + this.user.id : '')
            let method = this.user.id ? 'patch' : 'post'
            const { response } = await this.form[method](url);

            if (this.mode == 'create') {
                setTimeout(() => {
                    this.$router.push({ name: 'admin.users.list' })
                }, 1000)
            }
            // this.$store.dispatch('auth/updateUser', { user: data })
        }
    },
}
</script>
