<template>
    <div>
        <page-header></page-header>

        <div class="container-fluid py-3">
        	<div class="card">
        		<div class="card-body">
        			<vue-table title="Users" :fields="fields" :item-actions="itemActions" api-url="admin/user" :show-row-num="false" @table-action="tableActions" show-paginate>
        	            <template slot="buttons">
        	                <router-link :to="{ name: 'admin.users.create' }" class="btn btn-sm btn-success">Add</router-link>
        	            </template>
        	        </vue-table>
        	    </div>
        	</div>
        </div>
    </div>
</template>

<script>
import PageHeader from '~/components/PageHeader'
import VueTable from '~/components/TableOrder'
import swal from 'sweetalert2'

export default {
	metaInfo () {
	    return { title: 'Users' }
	},
    created() {
        this.$store.dispatch('page/setTitle', { title: 'Users' });
        this.$store.dispatch('page/setSubtitle', { subtitle: '' })
    },
	components: {
        PageHeader,
		VueTable
	},
	data() {
		return {
            fields: [
                {
                    name: 'name',
                    title: 'Name',
					sortable: true,
                }, {
                    name: 'email',
                    title: 'Email',
                    callback: 'email',
                    sortable: true,
                }, {
                    name: 'role_names',
                    title: 'Role',
                    callback: 'roles',
                    sortable: false,
                },
				{
					name: 'pin',
					title: 'PIN',
					sortable: false,
				},
				{
                    name: 'created_at',
                    title: 'Created at',
                    sortable: true,
                },
                // {
                //     name: '__status',
                //     title: 'Status',
                //     titleClass: 'text-center',
                //     dataClass: 'text-center'
                // },
				{
                    name: '__actions',
                    title: '',
                    titleClass: 'text-center',
                    dataClass: 'text-center'
                }
            ],
            itemActions: [
                // { name: 'detail-item', title: 'Detail', icon: 'eye', class: 'btn btn-sm bg-transparent mr-2'},
                { name: 'edit-item', title: 'Edit', icon: 'pencil-alt', class: 'btn btn-sm bg-transparent mr-1'},
                { name: 'password-item', title: 'Change passowrd', icon: 'key', class: 'btn btn-sm bg-transparent mr-1'},
                { name: 'delete-item', title: 'Delete', icon: 'trash-alt', class: 'btn btn-sm bg-transparent'}
            ]
        }
	},
	methods: {
        avatar(value) {
        	return '<img src="' + value + '" class="avatar img-fluid rounded-circle" style="max-width:40px;"/>'
        },
        email(value){
        	return '<a href="mailto:'+value+'">'+value+'</a>';
        },
        roles(roles){
            var html = '';
            if (roles.length > 0) {
                if (roles.indexOf('admin') !== -1) {
                    html += '<span class="badge badge-pill badge-warning">Admin</span>'
                }
                else if(roles.indexOf('retailer') !== -1) {
                    html += '<span class="badge badge-pill badge-primary">Retailer</span>'
                }
                else if(roles.indexOf('customer') !== -1) {
                    html += '<span class="badge badge-pill badge-success">Customer</span>'
                }
            }
            return html;
        },
        tableActions(action, data) {
        	if (action == 'edit-item') {
                if (data.id == window.User.id) {
                    this.$router.push({ name: 'admin.settings.profile'})
                }
                else {
                    this.$router.push({ name: 'admin.users.edit', params: { id: data.id } })
                }
            } else if (action == 'password-item') {
                if (data.id == window.User.id) {
                    this.$router.push({ name: 'admin.settings.password'})
                }
                else {
                    this.$router.push({ name: 'admin.users.password', params: { id: data.id } })
                }
            } else if (action == 'delete-item') {
                var text = '<div class="mb-3">\"'+data.full_name+'\"</div>';
                swal({
                    title: '<div class="mt-3">Delete this user?</div>',
                    html: text,
                    // type: 'warning',
                    reverseButtons: true,
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Delete'
                }).then((result) => {
                    if (result.value) {
                        this.$http.delete('admin/user/' + data.id)
                        .then((response) => {
                            toastr.success('You deleted the user!')

                            this.$emit('reload')
                        }, (response) => {
                            if ((typeof response.data.error !== 'string') && response.data.error) {
                              toastr.error(response.data.error.message)
                            } else {
                              toastr.error(response.status + ' : Resource ' + response.statusText)
                            }
                        })
                    }
                })
            }
        }
    }
}
</script>
