<template>
	<div>
		<page-header>
			<template slot="actions">
                <a @click="$router.go(-1)"class="btn btn-light btn-sm">
                    <fa icon="chevron-left"/>
                    Back
                </a>
			</template>
		</page-header>

        <div class="container-fluid py-3">
			<div class="card">
				<div class="card-body mt-3">
					<form @submit.prevent="onSubmit" @keydown="form.onKeydown($event)">
			            <alert-success :form="form" message="Password changed successfully."/>

			            <!-- Password -->
	                    <div class="form-group row">
	                        <label class="col-md-3 col-form-label text-md-right">{{ $t('new_password') }}</label>
	                        <div class="col-md-7">
	                            <input v-model="form.password" :class="{ 'is-invalid': form.errors.has('password') }" class="form-control" type="password" name="password">
	                            <has-error :form="form" field="password"/>
	                        </div>
	                    </div>

	                    <!-- Password Confirmation -->
	                    <div class="form-group row">
	                        <label class="col-md-3 col-form-label text-md-right">{{ $t('confirm_password') }}</label>
	                        <div class="col-md-7">
	                            <input v-model="form.password_confirmation" :class="{ 'is-invalid': form.errors.has('password_confirmation') }" class="form-control" type="password" name="password_confirmation">
	                            <has-error :form="form" field="password_confirmation"/>
	                        </div>
	                    </div>

	                    <!-- Submit Button -->
	                    <div class="form-group row">
	                        <div class="col-md-9 ml-md-auto">
	                            <v-button :loading="form.busy" type="primary">Change</v-button>
	                        </div>
	                    </div>
			        </form>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import PageHeader from '~/components/PageHeader'
import Form from 'vform'

export default {
	components: { PageHeader },
	metaInfo () {
	    return { title: 'Change password' }
	},
	data() {
		return {
			form: new Form({
	            password: '',
	            password_confirmation: ''
	        })
		}
	},
	created() {
		this.$store.dispatch('page/setTitle', { title: 'Change password' })
        this.$store.dispatch('page/setSubtitle', { subtitle: 'Users' })
	},
    methods: {
        async onSubmit () {
        	let url = '/api/admin/user/' + this.$route.params.id + '/password'
            const { response } = await this.form.post(url)
        }
    }
}
</script>
