<template>
    <div>
        <page-header>
            <template slot="actions">
                <a @click="$router.go(-1)" class="btn btn-light btn-sm">
                    <fa icon="chevron-left"/>
                    Back
                </a>
            </template>
        </page-header>
        <div class="nav-container container-fluid mt-2">
            <nav class="nav nav-tabs page-sub-nav">
                <li @click="setActive('off-license')" class="nav-item">
                    <span :class="{'nav-link': true, active: active === 'off-license'}">Off-license</span>
                </li>
                <li @click="setActive('bar')" class="nav-item">
                    <span :class="{'nav-link': true, active: active === 'bar'}">Bar</span>
                </li>
                <li @click="setActive('restaurant')" class="nav-item">
                    <span :class="{'nav-link': true, active: active === 'restaurant'}">Restaurant</span>
                </li>
            </nav>
        </div>
        <form @submit.prevent="onSubmit" @keydown="form.onKeydown($event)">
            <alert-success :form="form" message="Fees changed successfully."/>
            <transition v-if="active === 'off-license'" name="fade" mode="out-in">
            <div class="container-fluid py-3">
                <div class="card">
                    <div class="card-body mt-3">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label text-md-right">Off license fees</label>
                            <div class="col-md-7">
                                <table class="table table-active">
                                    <tr>
                                        <td>Fee source</td>
                                        <td>%</td>
                                        <td>Fixed</td>
                                    </tr>
                                    <tr>
                                        <td>Customer</td>
                                        <td><input v-model="form.price_config['off-license'].customer_fee_percent"
                                                   class="form-control" min="0" max="100" step="0.01" type="number">
                                        </td>
                                        <td><input v-model="form.price_config['off-license'].customer_fee_number"
                                                   class="form-control" min="0" step="0.01" type="number"></td>
                                    </tr>
                                    <tr>
                                        <td>Retailer</td>
                                        <td><input v-model="form.price_config['off-license'].retailer_fee_percent"
                                                   class="form-control" min="0" max="100" step="0.01" type="number">
                                        </td>
                                        <td><input v-model="form.price_config['off-license'].retailer_fee_number"
                                                   class="form-control" min="0" max="100" step="0.01" type="number">
                                        </td>
                                    </tr>
                                    <tr v-if="user.stripe_standard_account_verified">
                                        <td>Max total fee %</td>
                                        <td>
                                            <input v-model="form.price_config['off-license'].max_percent"
                                                   class="form-control" min="0" max="100" step="0.01" type="number">
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label text-md-right">Calculations (EU Card)</label>
                            <div class="col-md-7">
                                <table class="table table-active">
                                    <tr>
                                        <td>Cost of Items</td>
                                        <td><input class="form-control" type="number" placeholder="Enter price of items" v-model="totals['off-license']" min="0" step="0.01"/></td>
                                        <td><vue-select style="background-color: white" v-model="currencies['off-license']" :options="user ? user.currencies : []" /></td>
                                    </tr>
                                    <tr>
                                        <td>Grand Total</td>
                                        <td>{{calculations['off-license'].grand_total}}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Customer fee</td>
                                        <td>{{calculations['off-license'].customer_fee}}</td>
                                        <td>Retailer fee</td>
                                        <td>{{calculations['off-license'].retailer_fee}}</td>
                                    </tr>
                                    <tr>
                                        <td>Stripe fee</td>
                                        <td>{{calculations['off-license'].stripe_fee}}</td>
                                        <td>Vat</td>
                                        <td>{{calculations['off-license'].vat}}</td>
                                    </tr>
                                    <tr>
                                        <td>Potential Application fee</td>
                                        <td>{{calculations['off-license'].application_fee}}</td>
                                        <td>Charged drinkapp fee</td>
                                        <td>{{calculations['off-license'].charged_fee}}</td>
                                    </tr>
                                    <tr>
                                        <td>Net</td>
                                        <td>{{round(calculations['off-license'].net)}}</td>
                                        <td>Total Fees paid</td>
                                        <td>{{round(calculations['off-license'].total_fees)}}</td>
                                    </tr>
                                    <tr>
                                        <td>DrinkApp fee + stripe</td>
                                        <td>{{calculations['off-license'].t_f}} %</td>
                                        <td>Total Fees paid %</td>
                                        <td>{{calculations['off-license'].total_fee_percent}} %</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label text-md-right">Calculations (Not EU Card)</label>
                            <div class="col-md-7">
                                <table class="table table-active">
                                    <tr>
                                        <td>Cost of Items</td>
                                        <td><input class="form-control" type="number" placeholder="Enter price of items" v-model="totals['off-license']" min="0" step="0.01"/></td>
                                        <td><vue-select style="background-color: white" v-model="currencies['off-license']" :options="user ? user.currencies : []" /></td>
                                    </tr>
                                    <tr>
                                        <td>Grand Total</td>
                                        <td>{{calculations['off-license'].grand_total}}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Customer fee</td>
                                        <td>{{calculations['off-license'].customer_fee}}</td>
                                        <td>Retailer fee</td>
                                        <td>{{calculations['off-license'].retailer_fee}}</td>
                                    </tr>
                                    <tr>
                                        <td>Stripe fee</td>
                                        <td>{{calculations['off-license'].stripe_fee_out}}</td>
                                        <td>Vat</td>
                                        <td>{{calculations['off-license'].vat_out}}</td>
                                    </tr>
                                    <tr>
                                        <td>Potential Application fee</td>
                                        <td>{{calculations['off-license'].application_fee}}</td>
                                        <td>Charged drinkapp fee</td>
                                        <td>{{calculations['off-license'].charged_fee}}</td>
                                    </tr>
                                    <tr>
                                        <td>Net</td>
                                        <td>{{round(calculations['off-license'].net_out)}}</td>
                                        <td>Total Fees paid</td>
                                        <td>{{round(calculations['off-license'].total_fees_out)}}</td>
                                    </tr>
                                    <tr>
                                        <td>DrinkApp fee + stripe</td>
                                        <td>{{calculations['off-license'].t_f_out}}</td>
                                        <td>Total Fees paid %</td>
                                        <td>{{calculations['off-license'].total_fee_percent_out}} %</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </transition>
            <transition v-if="active === 'bar'" name="fade" mode="out-in">
            <div class="container-fluid py-3">
                <div class="card">
                    <div class="card-body mt-3">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label text-md-right">Bar fees</label>
                            <div class="col-md-7">
                                <table class="table table-active">
                                    <tr>
                                        <td>Fee source</td>
                                        <td>%</td>
                                        <td>Fixed</td>
                                    </tr>
                                    <tr>
                                        <td>Customer</td>
                                        <td><input v-model="form.price_config['bar'].customer_fee_percent"
                                                   class="form-control" min="0" max="100" step="0.01" type="number">
                                        </td>
                                        <td><input v-model="form.price_config['bar'].customer_fee_number"
                                                   class="form-control" min="0" step="0.01" type="number"></td>
                                    </tr>
                                    <tr>
                                        <td>Retailer</td>
                                        <td><input v-model="form.price_config['bar'].retailer_fee_percent"
                                                   class="form-control" min="0" max="100" step="0.01" type="number">
                                        </td>
                                        <td><input v-model="form.price_config['bar'].retailer_fee_number"
                                                   class="form-control" min="0" max="100" step="0.01" type="number">
                                        </td>
                                    </tr>
                                    <tr v-if="user.stripe_standard_account_verified">
                                        <td>Max total fee %</td>
                                        <td>
                                            <input v-model="form.price_config['bar'].max_percent"
                                                   class="form-control" min="0" max="100" step="0.01" type="number">
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label text-md-right">Calculations (EU Card)</label>
                            <div class="col-md-7">
                                <table class="table table-active">
                                    <tr>
                                        <td>Cost of Items</td>
                                        <td><input class="form-control" type="number" placeholder="Enter price of items" v-model="totals['bar']" min="0" step="0.01"/></td>
                                        <td><vue-select style="background-color: white" v-model="currencies['bar']" :options="user ? user.currencies : []" /></td>
                                    </tr>
                                    <tr>
                                        <td>Grand Total</td>
                                        <td>{{calculations['bar'].grand_total}}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Customer fee</td>
                                        <td>{{calculations['bar'].customer_fee}}</td>
                                        <td>Retailer fee</td>
                                        <td>{{calculations['bar'].retailer_fee}}</td>
                                    </tr>
                                    <tr>
                                        <td>Stripe fee</td>
                                        <td>{{calculations['bar'].stripe_fee}}</td>
                                        <td>Vat</td>
                                        <td>{{calculations['bar'].vat}}</td>
                                    </tr>
                                    <tr>
                                        <td>Potential Application fee</td>
                                        <td>{{calculations['bar'].application_fee}}</td>
                                        <td>Charged drinkapp fee</td>
                                        <td>{{calculations['bar'].charged_fee}}</td>
                                    </tr>
                                    <tr>
                                        <td>Net</td>
                                        <td>{{round(calculations['bar'].net)}}</td>
                                        <td>Total Fees paid</td>
                                        <td>{{round(calculations['bar'].total_fees)}}</td>
                                    </tr>
                                    <tr>
                                        <td>DrinkApp fee + stripe</td>
                                        <td>{{calculations['bar'].t_f}}</td>
                                        <td>Total Fees paid %</td>
                                        <td>{{calculations['bar'].total_fee_percent}} %</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label text-md-right">Calculations (Not EU Card)</label>
                            <div class="col-md-7">
                                <table class="table table-active">
                                    <tr>
                                        <td>Cost of Items</td>
                                        <td><input class="form-control" type="number" placeholder="Enter price of items" v-model="totals['bar']" min="0" step="0.01"/></td>
                                        <td><vue-select style="background-color: white" v-model="currencies['bar']" :options="user ? user.currencies : []" /></td>
                                    </tr>
                                    <tr>
                                        <td>Grand Total</td>
                                        <td>{{calculations['bar'].grand_total}}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Customer fee</td>
                                        <td>{{calculations['bar'].customer_fee}}</td>
                                        <td>Retailer fee</td>
                                        <td>{{calculations['bar'].retailer_fee}}</td>
                                    </tr>
                                    <tr>
                                        <td>Stripe fee</td>
                                        <td>{{calculations['bar'].stripe_fee_out}}</td>
                                        <td>Vat</td>
                                        <td>{{calculations['bar'].vat_out}}</td>
                                    </tr>
                                    <tr>
                                        <td>Potential Application fee</td>
                                        <td>{{calculations['bar'].application_fee}}</td>
                                        <td>Charged drinkapp fee</td>
                                        <td>{{calculations['bar'].charged_fee}}</td>
                                    </tr>
                                    <tr>
                                        <td>Net</td>
                                        <td>{{round(calculations['bar'].net_out)}}</td>
                                        <td>Total Fees paid</td>
                                        <td>{{round(calculations['bar'].total_fees_out)}}</td>
                                    </tr>
                                    <tr>
                                        <td>DrinkApp fee + stripe</td>
                                        <td>{{calculations['bar'].t_f_out}}</td>
                                        <td>Total Fees paid %</td>
                                        <td>{{calculations['bar'].total_fee_percent_out}} %</td>

                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </transition>
            <transition v-if="active === 'restaurant'" name="fade" mode="out-in">
            <div class="container-fluid py-3">
                <div class="card">
                    <div class="card-body mt-3">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label text-md-right">Restaurant fees</label>
                            <div class="col-md-7">
                                <table class="table table-active">
                                    <tr>
                                        <td>Fee source</td>
                                        <td>%</td>
                                        <td>Fixed</td>
                                    </tr>
                                    <tr>
                                        <td>Customer</td>
                                        <td><input v-model="form.price_config['restaurant'].customer_fee_percent"
                                                   class="form-control" min="0" max="100" step="0.01" type="number">
                                        </td>
                                        <td><input v-model="form.price_config['restaurant'].customer_fee_number"
                                                   class="form-control" min="0" step="0.01" type="number"></td>
                                    </tr>
                                    <tr>
                                        <td>Retailer</td>
                                        <td><input v-model="form.price_config['restaurant'].retailer_fee_percent"
                                                   class="form-control" min="0" max="100" step="0.01" type="number">
                                        </td>
                                        <td><input v-model="form.price_config['restaurant'].retailer_fee_number"
                                                   class="form-control" min="0" max="100" step="0.01" type="number">
                                        </td>
                                    </tr>
                                    <tr v-if="user.stripe_standard_account_verified">
                                        <td>Max total fee %</td>
                                        <td>
                                            <input v-model="form.price_config['restaurant'].max_percent"
                                                   class="form-control" min="0" max="100" step="0.01" type="number">
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label text-md-right">Calculations (EU Card)</label>
                            <div class="col-md-7">
                                <table class="table table-active">
                                    <tr>
                                        <td>Cost of Items</td>
                                        <td><input class="form-control" type="number" placeholder="Enter price of items" v-model="totals['restaurant']" min="0" step="0.01"/></td>
                                        <td><vue-select style="background-color: white" v-model="currencies['restaurant']" :options="user ? user.currencies : []" /></td>
                                    </tr>
                                    <tr>
                                        <td>Grand Total</td>
                                        <td>{{calculations['restaurant'].grand_total}}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Customer fee</td>
                                        <td>{{calculations['restaurant'].customer_fee}}</td>
                                        <td>Retailer fee</td>
                                        <td>{{calculations['restaurant'].retailer_fee}}</td>
                                    </tr>
                                    <tr>
                                        <td>Stripe fee</td>
                                        <td>{{calculations['restaurant'].stripe_fee}}</td>
                                        <td>Vat</td>
                                        <td>{{calculations['restaurant'].vat}}</td>
                                    </tr>
                                    <tr>
                                        <td>Potential Application fee</td>
                                        <td>{{calculations['restaurant'].application_fee}}</td>
                                        <td>Charged drinkapp fee</td>
                                        <td>{{calculations['restaurant'].charged_fee}}</td>
                                    </tr>
                                    <tr>
                                        <td>Net</td>
                                        <td>{{round(calculations['restaurant'].net)}}</td>
                                        <td>Total Fees paid</td>
                                        <td>{{round(calculations['restaurant'].total_fees)}}</td>
                                    </tr>
                                    <tr>
                                        <td>DrinkApp fee + stripe</td>
                                        <td>{{calculations['restaurant'].t_f}}</td>
                                        <td>Total Fees paid %</td>
                                        <td>{{calculations['restaurant'].total_fee_percent}} %</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label text-md-right">Calculations (Not EU Card)</label>
                            <div class="col-md-7">
                                <table class="table table-active">
                                    <tr>
                                        <td>Cost of Items</td>
                                        <td><input class="form-control" type="number" placeholder="Enter price of items" v-model="totals['restaurant']" min="0" step="0.01"/></td>
                                        <td><vue-select style="background-color: white" v-model="currencies['restaurant']" :options="user ? user.currencies : []" /></td>
                                    </tr>
                                    <tr>
                                        <td>Grand Total</td>
                                        <td>{{calculations['restaurant'].grand_total}}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Customer fee</td>
                                        <td>{{calculations['restaurant'].customer_fee}}</td>
                                        <td>Retailer fee</td>
                                        <td>{{calculations['restaurant'].retailer_fee}}</td>
                                    </tr>
                                    <tr>
                                        <td>Stripe fee</td>
                                        <td>{{calculations['restaurant'].stripe_fee_out}}</td>
                                        <td>Vat</td>
                                        <td>{{calculations['restaurant'].vat_out}}</td>
                                    </tr>
                                    <tr>
                                        <td>Potential Application fee</td>
                                        <td>{{calculations['restaurant'].application_fee}}</td>
                                        <td>Charged drinkapp fee</td>
                                        <td>{{calculations['restaurant'].charged_fee}}</td>
                                    </tr>
                                    <tr>
                                        <td>Net</td>
                                        <td>{{round(calculations['restaurant'].net_out)}}</td>
                                        <td>Total Fees paid</td>
                                        <td>{{round(calculations['restaurant'].total_fees_out)}}</td>
                                    </tr>
                                    <tr>
                                        <td>DrinkApp fee + stripe</td>
                                        <td>{{calculations['restaurant'].t_f_out}}</td>
                                        <td>Total Fees paid %</td>
                                        <td>{{calculations['restaurant'].total_fee_percent_out}} %</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </transition>
            <!-- Submit Button -->
            <div class="form-group row">
                <div class="col-md-3 ml-md-auto">
                    <v-button :loading="form.busy" type="primary">Save</v-button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import PageHeader from '~/components/PageHeader'
    import VueSelect from "vue-select"
    import Form from 'vform'
    import {mapGetters} from "vuex";

    export default {
        components: {PageHeader, VueSelect},
        metaInfo() {
            return {title: 'Change Fees'}
        },
        computed: Object.assign(mapGetters({
            user_: 'auth/user',
        }), {
            mode() {
                return this.user.id ? 'update' : 'create'
            },
        }),

        data() {
            return {
                user: {

                },
                active : 'off-license',
                calculations: {
                    'off-license': {
                        customer_fee: 0,
                        retailer_fee: 0,
                        grand_total: 0,
                        stripe_fee: 0,
                        vat: 0,
                        application_fee: 0,
                        stripe_fee_out: 0,
                        vat_out: 0,
                        charged_fee: 0,
                        total_fees: 0,
                        total_fee_percent: 0,
                        t_f: 0,
                        t_f_out: 0,
                    },
                    'bar': {
                        customer_fee: 0,
                        retailer_fee: 0,
                        grand_total: 0,
                        stripe_fee: 0,
                        vat: 0,
                        charged_fee: 0,
                        application_fee: 0,
                        total_fees: 0,
                        stripe_fee_out: 0,
                        vat_out: 0,
                        total_fee_percent: 0,
                        t_f: 0,
                        t_f_out: 0,
                    },
                    'restaurant': {
                        customer_fee: 0,
                        retailer_fee: 0,
                        grand_total: 0,
                        stripe_fee: 0,
                        charged_fee: 0,
                        vat: 0,
                        stripe_fee_out: 0,
                        vat_out: 0,
                        application_fee: 0,
                        total_fees: 0,
                        total_fee_percent: 0,
                        t_f: 0,
                        t_f_out: 0,
                    }
                },
                currencies: {
                    'off-license': '',
                    'bar': '',
                    'restaurant': '',
                },
                totals: {
                    'off-license': 100,
                    'bar': 100,
                    'restaurant': 100,
                },
                form: new Form({
                    price_config: {
                        'off-license': {
                            customer_fee_percent: 0,
                            customer_fee_number: 0,
                            retailer_fee_percent: 0,
                            retailer_fee_number: 0,
                        },
                        'bar': {
                            customer_fee_percent: 0,
                            customer_fee_number: 0,
                            retailer_fee_percent: 0,
                            retailer_fee_number: 0,
                        },
                        'restaurant': {
                            customer_fee_percent: 0,
                            customer_fee_number: 0,
                            retailer_fee_percent: 0,
                            retailer_fee_number: 0,
                        },
                    }
                })
            }
        },
        watch: {
            form: {
                deep: true,
                immediate: true,
                handler(newValue, oldValue) {
                    this.calculate(newValue);
                }
            },
            totals: {
                deep: true,
                immediate: true,
                handler(newValue, oldValue) {
                    this.calculate(this.form);
                }
            },
            currencies: {
                deep: true,
                immediate: true,
                handler(newValue, oldValue) {
                    this.calculate(this.form);
                }
            },
            user(value) {
                if (value.id) {
                    this.form.keys().forEach(key => {
                        this.form[key] = value[key]
                    })
                }
            }

        },
        mounted() {
            let that = this;
            this.$http.get('admin/user/' + this.$route.params.id + '/edit')
                .then((response) => {
                    this.user = response.data.data;
                    Object.keys(that.currencies).forEach(v => {
                        that.currencies[v] = response.data.data.currencies[0];
                    });
                    this.form.keys().forEach(key => {
                        this.form[key] = this.user[key]
                    })
                }).catch((error) => {
                console.log(error)
            });
        },
        created() {
            this.$store.dispatch('page/setTitle', {title: 'Change Fees'});
            this.$store.dispatch('page/setSubtitle', {subtitle: 'Users'});
        },

        methods: {
            round(number) {
                return Math.round(number * 100)/100;
            },
            setActive(a) {
                this.active = a;
            },
            calculate(new_form) {
                Object.keys(new_form.price_config).forEach(type => {
                   let price = this.totals[type];
                   this.calculations[type].customer_fee = this.round(price * new_form.price_config[type].customer_fee_percent/100 + parseFloat(new_form.price_config[type].customer_fee_number));
                   let fee = this.calculations[type].customer_fee ? this.round(this.calculations[type].customer_fee) : 0;
                   this.calculations[type].retailer_fee = price * new_form.price_config[type].retailer_fee_percent/100 + parseFloat(new_form.price_config[type].retailer_fee_number);
                   //euro 1.4% + €0.25
                   // aed 2.9% + $0.25
                   // usd 2.9% + $0.25
                   //gbp 1.4% + 20p
                   this.calculations[type].grand_total = parseFloat(price) + parseFloat(fee);
                   let stripe_fee, stripe_fee_clean, stripe_fee_clean_us;
                   switch (this.currencies[type]) {
                       case 'eur':
                           stripe_fee_clean = this.calculations[type].grand_total * 1.4/100 + 0.25;
                           stripe_fee_clean_us = this.calculations[type].grand_total * 2.9/100 + 0.25;
                           break;
                       case 'usd':
                           stripe_fee_clean = this.calculations[type].grand_total * 2.9/100 + 0.30;
                           stripe_fee_clean_us = this.calculations[type].grand_total * 2.9/100 + 0.30;
                           break;
                       case 'gbp':
                           stripe_fee_clean = this.calculations[type].grand_total * 1.4/100 + 0.20;
                           stripe_fee_clean_us = this.calculations[type].grand_total * 2.9/100 + 0.20;
                           break;
                       case 'aed':
                           stripe_fee_clean = this.calculations[type].grand_total * 1.4/100 + 0.25*4.7;
                           stripe_fee_clean_us = this.calculations[type].grand_total * 2.9/100 + 0.25*4.7;
                           break;
                   }
                   stripe_fee = this.round(stripe_fee_clean);
                   stripe_fee_clean_us = this.round(stripe_fee_clean_us);
                   this.calculations[type].stripe_fee = stripe_fee ? stripe_fee : 0;
                   this.calculations[type].vat = this.round(stripe_fee_clean * 0.21);
                   this.calculations[type].stripe_fee_out = stripe_fee_clean_us ? stripe_fee_clean_us : 0;
                   this.calculations[type].vat_out = this.round(stripe_fee_clean_us * 0.21);
                   let stripe_total_fee = this.calculations[type].stripe_fee + this.calculations[type].vat;
                   let stripe_total_fee_out = this.calculations[type].stripe_fee_out + this.calculations[type].vat_out;
                   this.calculations[type].application_fee = this.round(parseFloat(this.calculations[type].customer_fee) + parseFloat(this.calculations[type].retailer_fee));
                   this.calculations[type].charged_fee = this.round(parseFloat(this.calculations[type].customer_fee) + parseFloat(this.calculations[type].retailer_fee));
                   this.calculations[type].total_fees = (stripe_total_fee + this.calculations[type].retailer_fee);
                   this.calculations[type].total_fees_out = (stripe_total_fee_out + this.calculations[type].retailer_fee);
                   if (new_form.price_config[type].max_percent || new_form.price_config[type].max_percent === 0) {
                       if (this.calculations[type].total_fees * 100 / price >= new_form.price_config[type].max_percent) {
                           let new_total_fee = this.calculations[type].total_fees * new_form.price_config[type].max_percent / (this.calculations[type].total_fees * 100 / price);
                           if (this.calculations[type].application_fee >= this.calculations[type].total_fees) {
                               this.calculations[type].charged_fee -= this.calculations[type].total_fees - new_total_fee;
                               this.calculations[type].total_fees = new_total_fee;
                           } else {
                               this.calculations[type].total_fees = this.calculations[type].total_fees - this.calculations[type].application_fee - 0.01;
                               this.calculations[type].charged_fee = 0.01;
                           }
                           this.calculations[type].charged_fee = this.round(this.calculations[type].charged_fee);
                       }
                   }
                   this.calculations[type].t_f = this.calculations[type].charged_fee + this.calculations[type].stripe_fee + this.calculations[type].vat;
                   this.calculations[type].t_f_out = this.calculations[type].charged_fee + this.calculations[type].stripe_fee_out + this.calculations[type].vat_out;
                   this.calculations[type].net = this.round(this.calculations[type].grand_total - this.calculations[type].charged_fee) - stripe_total_fee;
                   this.calculations[type].net_out = this.round(this.calculations[type].grand_total - this.calculations[type].charged_fee) - stripe_total_fee_out;
                   this.calculations[type].total_fee_percent = this.round((price - this.calculations[type].net)/price * 100);
                   this.calculations[type].total_fee_percent_out = this.round((price - this.calculations[type].net_out)/price * 100);
                });
            },
            async onSubmit() {
                let url = '/api/admin/user/' + this.$route.params.id + '/change-prices';
                const {response} = await this.form.post(url)
            }
        }
    }
</script>
