<template>
    <div :class="{
            'board-item': true,
            is_delivery: (table)
            }">
        <iframe ref="iframe" width="200" frameBorder="0" :id="order_id+'item'" :src="'/order/'+order_id" class="print"></iframe>
        <div class="row info">
            <div class="col-sm-3">
                <div class="header">order</div>
                <div class="number">{{queue}}</div>
            </div>
            <template>
                <div class="col-sm-3">
                    <div class="header">Delivery</div>
                    <div class="number table_number">
                        <template v-if="table">TABLE: {{table}}</template>
                        <template v-if="delivery_address">HOME</template>
                        <template v-if="!table && !delivery_address">COLLECT AT BAR</template>
                    </div>
                </div>
            </template>
            <div class="col-sm-6">
                <div class="header">Name</div>
                <div class="number name">{{customer_name}}</div>
            </div>
        </div>
        <div class="type-and-date">
            <span>{{transformedDate()}}</span>
        </div>
        <div class="items">
            <div class="total" :style="{top: count_top}">{{currency_symbol}}{{total}}</div>
            <ul>
                <li class="row" v-for="order_detail in order_details">
                    <div class="item-name">{{order_detail.name}}</div>
                    <div class="quantity">x{{order_detail.quantity}}</div>
                    <template v-if="order_detail.options">
                        <template v-for="option_id in Object.keys(order_detail.options)">
                            <div class="item-name-option">{{order_detail.options[option_id].name}} -
                                {{order_detail.options[option_id].value}}
                            </div>
                        </template>
                    </template>
                    <template v-if="order_detail.addons">
                        <template v-for="addon_id in Object.keys(order_detail.addons)">
                            <div class="item-name-addon">{{order_detail.addons[addon_id].name}}</div>
                            <div class="quantity">x{{order_detail.quantity}}</div>
                        </template>
                    </template>
                </li>
            </ul>
        </div>
        <div class="delivery-data" v-if="delivery_address">
            <p><strong>Phone:</strong> {{phone_number}}</p>
            <p style="cursor: pointer" @click="googleAddress"><strong>Address:</strong> {{delivery_address}}</p>
            <p v-if="description"><strong>Notes:</strong> {{description}}</p>
        </div>
        <div class="tips" v-if="parseInt(tips)"><span class="tip_name">Tip</span><span class="number">{{currency_symbol}}{{tips}}</span>
        </div>
        <div class="board-buttons">
            <button :class="{
                'btn': true,
                'btn-danger': true,
                }" style="float: right; width: 70px" @click="print_order">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 466.827 466.827" style="enable-background:new 0 0 466.827 466.827;" xml:space="preserve">
<g>
	<g>
		<path
            d="M448.619,198.832c-1.117-0.383-2.326-0.645-3.707-0.65c-23.979-0.025-47.981-0.213-71.99-0.406    c-6.403-41.292-6.027-83.109-8.287-124.764c-0.36-6.559-5.348-10.011-10.466-10.417c-0.965-0.269-1.98-0.467-3.139-0.467    c-75.113-0.119-150.066-1.846-224.67,8.554c-6.66,0.927-8.714,6.256-7.563,11.327c-0.173,0.607-0.345,1.221-0.427,1.892    c-4.872,39.56-5.616,79.381-7.833,119.134c-34.266,2.651-68.466,6.421-102.544,11.865c-6.985,1.12-8.93,7.015-7.384,12.304    c-0.365,1.092-0.614,2.277-0.609,3.633c0.297,65.809,5.969,87.648,16.717,152.561c0.432,2.61,1.528,4.509,3.011,5.799    c0.922,4.545,4.311,8.647,10.207,8.998c141,8.419,283.153,12.04,423.315-8.551c6.302-0.925,8.476-5.774,7.719-10.593    c0.097-0.422,0.224-0.817,0.274-1.265c7.835-70.63,6.602-97.938,1.36-168.713C462.005,201.104,454.632,197.688,448.619,198.832z     M139.373,90.806c67.664-8.678,135.925-7.165,204.015-6.946c1.752,38.031,2.291,76.037,7.648,113.752    c-72.956-0.551-145.949-0.719-218.648,3.89C134.417,164.571,135.275,127.583,139.373,90.806z M310.133,381.34    c0.021-0.284,0.086-0.554,0.086-0.833v-5.443c0-5.906-4.9-10.821-10.79-10.877c-1.625-0.817-3.515-1.209-5.606-1.092    c-0.833-0.162-1.676-0.32-2.651-0.274c-3.849,0.178-7.697,0.366-11.547,0.544c-1.036-0.325-2.153-0.549-3.418-0.544    c-30.868,0.102-61.692,1.381-92.521,2.722c-0.495,0.021-0.932,0.122-1.389,0.198c-0.447-0.066-0.868-0.198-1.333-0.198    c-5.931,0-10.882,4.951-10.882,10.883v5.996c-9.605-0.188-19.213-0.365-28.812-0.69c-0.041-0.462-0.046-0.914-0.145-1.401    c-1.795-8.749-2.202-17.666-2.293-26.578c64.722-7.516,129.682-5.723,194.573-1.117c0.106,9.191,0.472,18.316,1.554,27.416    C326.682,380.558,318.399,380.959,310.133,381.34z M440.251,369.625c-27.797,3.91-55.686,6.794-83.64,8.922    c-1.396-10.618-1.493-21.343-1.498-32.062c0-2.803-0.889-5.017-2.274-6.703c-1.168-4.199-4.475-7.851-9.964-8.267    c-70.786-5.307-141.667-7.729-212.254,1.361c-0.66,0.081-1.259,0.254-1.851,0.426c-5.72-0.396-11.758,3.062-11.753,10.456    c0.005,12.466,0.297,24.872,2.272,37.165c-27.274-1.091-54.515-2.478-81.695-4.066c-10.135-61.484-15.292-79.861-15.767-142.153    c138.812-21.104,279.809-15.013,419.728-14.77C445.938,284.371,446.756,305.317,440.251,369.625z"/>
        <path
            d="M287.084,126.07c13.746-1.704,13.908-23.499,0-21.772c-36.217,4.499-72.456,3.121-108.85,4.083    c-14.007,0.371-14.048,22.14,0,21.771C214.628,129.19,250.867,130.569,287.084,126.07z"/>
        <path
            d="M289.8,151.924c-36.643-2.635-71.896-4.019-107.655,5.83c-13.518,3.722-7.767,24.725,5.789,20.992    c33.898-9.336,67.204-7.546,101.866-5.055C303.815,174.699,303.724,152.922,289.8,151.924z"/>
        <path
            d="M400.008,243.087h-27.213c-14.036,0-14.036,21.77,0,21.77h27.213C414.048,264.851,414.048,243.087,400.008,243.087z"/>
        <path d="M341.504,244.442c-14.035,0-14.035,21.77,0,21.77C355.545,266.212,355.545,244.442,341.504,244.442z"/>
	</g>
</g>
</svg>
            </button>
            <template v-if="status === 'pending'">
                <template v-if="hasFood">
                    <notification-button :key="order_id+'soon'" :table="table" :minutes="'confirm'"
                                         :order_id="order_id"></notification-button>
                    <button :key="order_id+'ready'" v-if="!table" type="button" :disabled="loading" :class="{
                        'btn': true,
                        'btn-warning': true,
                        'btn-ready': true,
                        'btn-loading': loading
                        }" @click="markOrder('ready')">Ready
                    </button>
                </template>
                <template v-else>
                    <template v-if="delivery_address">
                        <notification-button :key="order_id+'30'" :table="table" :for_home="true" :minutes="30"
                                             :order_id="order_id"></notification-button>
                        <notification-button :key="order_id+'custom'" :table="table" :for_home="true"
                                             :minutes="'custom'" :order_id="order_id"></notification-button>
                    </template>
                    <template v-else>
                        <notification-button :key="order_id+'4'" :table="table" :minutes="4"
                                             :order_id="order_id"></notification-button>
                        <notification-button :key="order_id+'7'" :table="table" :minutes="7"
                                             :order_id="order_id"></notification-button>
                        <notification-button :key="order_id+'10'" :table="table" :minutes="10"
                                             :order_id="order_id"></notification-button>
                        <button v-if="!table" type="button" :disabled="loading" :class="{
                            'btn': true,
                            'btn-warning': true,
                            'btn-ready': true,
                            'btn-loading': loading
                            }" :key="order_id+'ready'" @click="markOrder('ready')">Ready
                        </button>
                    </template>
                </template>
            </template>
            <template v-else>
                <button type="button"
                        :key="order_id+'complete'"
                        :class="{
                'btn': true,
                'btn-warning': true,
                'btn-ready': true,
                'btn-loading': loading
                }" :disabled="loading" style="width: 50%" @click="markOrder('complete')">Complete
                </button>
            </template>
        </div>
    </div>
</template>

<script>
    import i18n from '~/plugins/i18n'
    import swal from 'sweetalert2'
    import NotificationButton from "./NotificationButton";
    import {mapGetters} from 'vuex';
    import RefundButton from "./RefundButton";
    import printJs from 'print-js';
    export default {
        name: "BoardItem",
        components: {RefundButton, NotificationButton},
        data() {
            let has = false;
            this.order_details.forEach(function (value) {
                if (value.item_type === 'food') {
                    has = true;
                }
            });
            return {
                loading: false,
                hasFood: has,
            }
        },
        props: {
            order_details: {
                required: true,
                default: [],
            },
            payment_id: {
                required: true,
                default: '',
            },
            order_id: {
                required: true,
                default: '',
            },
            description: {
                required: false,
                description: '',
            },
            queue: {
                required: true,
                default: '',
            },
            table: {
                required: true,
                default: '',
            },
            customer_name: {
                required: true,
                default: '',
            },
            total: {
                required: true,
                default: '',
            },
            phone_number: {
                required: true,
                default: '',
            },
            delivery_address: {
                required: true,
                default: '',
            },
            latitude: {
                required: true,
                default: '',
            },
            longitude: {
                required: true,
                default: '',
            },
            status: {
                required: true,
                default: '',
            },
            tips: {
                required: true,
                default: '',
            },
            currency_symbol: {
                required: true,
                default: '',
            },
            created_at: {
                required: true,
                default: '',
            },
        },
        computed: Object.assign(
            mapGetters({
                sound: 'page/sound',
                can_print: 'page/can_print',
                locations: 'page/locations',
                selected_location: 'page/selected_location',
                selected_location_delivery: 'page/selected_location_delivery',
                selected_location_printer: 'page/selected_location_printer',
            }), {
                count_top() {
                    let total = 15;
                    Object.values(this.order_details).forEach(function (value) {
                        total += 10;
                        if (value.options) {
                            total += Object.values(value.options).length * 9
                        }
                        if (value.addons) {
                            total += Object.values(value.addons).length * 9
                        }
                    });

                    return total + 'px';
                }
            }),
        methods: {
            transformedDate() {
                return this.moment.utc(this.created_at, 'YYYY-MM-DD HH:mm:ss').local().format('LLLL');
            },
            cbCreateDevice_printer(builder, retcode) {
                if( retcode == 'OK' ) {
                    let that = this;
                    builder.onreceive = function (res) {
                        console.log(res);
                        if (!res.success) {
                            let printers = that.$store.getters['page/can_print'];
                            printers[location_id] = false;
                            that.$store.dispatch('page/setCanPrint', {can_print: printers});
                        } else {
                            that.$http.get('/orders/'+that.order_id+'/set-printed');
                        }
                    };
                    builder.oncoveropen = function () {
                        alert('coveropen');
                    };
                    builder.addTextSmooth(true);
                    builder.addTextFont(builder.FONT_A);
                    let date = this.getDate();
                    builder.addTextAlign(builder.ALIGN_CENTER);
                    let selected_location = this.selected_location;
                    let location;
                    if (selected_location) {
                        location = this.locations.filter(function (value) {
                            return value.id === selected_location;
                        })[0];
                    }
                    if (location) {
                        builder.addText(location.name + '\n\n');
                    }
                    builder.addTextStyle(true, false, false, builder.COLOR_1);
                    builder.addTextSize(2, 2);
                    if (this.table) {
                        builder.addText('To table:\t');
                        builder.addText(this.table+'\n');
                    } else if (this.delivery_address) {
                        builder.addText('Delivery\n');
                    } else {
                        builder.addText('Collect at bar\n');
                    }
                    builder.addTextSize(1, 1);
                    builder.addTextStyle(false, false, false, builder.COLOR_1);
                    builder.addTextAlign(builder.ALIGN_LEFT);
                    builder.addText(date+'\n');
                    builder.addText('Queue number: ');
                    builder.addTextSmooth(false);
                    builder.addText(this.queue + '\n');
                    builder.addText('Customer: ' + this.customer_name +'\n');
                    if (this.phone_number) {
                        builder.addText('Number: ' + this.phone_number +'\n');
                    }
                    if (this.delivery_address) {
                        builder.addText('Address: ' + this.phone_number +'\n');
                    }
                    if (this.description) {
                        builder.addText('Note: ' + this.description +'\n');
                    }
                    builder.addText('Items : \n\n');
                    this.order_details.forEach(function (order_detail) {
                        let options = '';
                        if (order_detail.options) {
                            Object.keys(order_detail.options).forEach((option_id, index) => {
                                options += order_detail.options[option_id].name + ' - ' +order_detail.options[option_id].value;
                                if (order_detail.options.length - 1 !== index) {
                                    options += ', ';
                                }
                            });
                        }
                        if (options) {
                            options = '('+options+')';
                        }
                        builder.addText(order_detail.quantity);
                        builder.addTextPosition(70);
                        builder.addText(order_detail.name + options + '\n');
                        builder.addTextPosition(0);
                        if (order_detail.addons) {
                            Object.keys(order_detail.addons).forEach((addon_id) => {
                                builder.addText('+\t' + order_detail.quantity +' X '+order_detail.addons[addon_id].name + '\n');
                            });
                        }
                    });
                    builder.addFeedLine(4);
                    builder.addCut(builder.CUT_FEED);
                    if (this.can_print[this.selected_location].device.isConnected) {
                        builder.send();
                    }
                } else {
                    let printers = this.$store.getters['page/can_print'];
                    printers[location_id] = false;
                    this.$store.dispatch('page/setCanPrint', {can_print: printers});
                    alert(retcode);
                }
            },
            print_order() {
                if (this.selected_location_printer && this.can_print && this.can_print[this.selected_location]) {
                    let printer = this.can_print[this.selected_location].printer;
                    if (printer) {
                        this.cbCreateDevice_printer(printer, 'OK');
                    } else {
                        let ePosDev = new window.epson.ePOSDevice();
                        ePosDev.connect(this.selected_location_printer, ePosDev.IFPORT_EPOSDEVICE_S, cbConnect);
                        function cbConnect(data) {
                            if(data == 'OK' || data == 'SSL_CONNECT_OK') {
                                ePosDev.createDevice('local_printer', ePosDev.DEVICE_TYPE_PRINTER,
                                    {'crypto':false, 'buffer':false}, this.cbCreateDevice_printer);
                            } else {
                                let printers = that.$store.getters['page/can_print'];
                                printers[location_id] = false;
                                that.$store.dispatch('page/setCanPrint', {can_print: printers});
                                alert(data);
                            }
                        }
                    }
                } else {
                    let iframe = this.$refs['iframe'];
                    let that = this;
                    iframe.style.display = 'inline';
                    iframe.style.height = iframe.contentWindow.document.body.scrollHeight + 30 + 'px';
                    setTimeout(function () {
                        printJs(that.order_id+'item', 'html');
                    }, 1000);
                }
            },
            markOrder(status) {
                let this_ = this;
                this_.loading = true;
                if (status !== 'refund' || confirm('Refund order?')) {
                    this.$http.post('order/' + this.order_id + '/change_status', {'status': status})
                        .then((response) => {
                            this.$http.get('/location/' + this.$store.state.page.selected_location + '/orders').then((response) => {
                                if (response.data.last_order_id !== this.$store.state.page.location_orders.last_order_id
                                    && response.data.last_order_id !== ''
                                    && response.data.last_order_id > this.$store.state.page.location_orders.last_order_id) {
                                    if (this.$store.state.page.sound !== '') {
                                        this.$store.state.page.sound.play();
                                    }
                                }
                                this.$store.dispatch('page/setLocationOrders', {location_orders: response.data});
                                this_.loading = false;
                            });
                        }).catch((error) => {
                        this_.loading = false;
                        swal({
                            type: 'error',
                            title: i18n.t('error_alert_title'),
                            text: i18n.t('error_alert_text'),
                            reverseButtons: true,
                            confirmButtonText: i18n.t('ok'),
                            cancelButtonText: i18n.t('cancel')
                        });
                        console.log(error)
                    });
                } else {
                    this_.loading = false;
                }
            },
            getDate()
            {
                return new Intl.DateTimeFormat('en-US', {month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric'}).format(new Date(this.created_at));
            },
            googleAddress() {
                window.open('http://www.google.com/maps/place/' + this.latitude + ',' + this.longitude);
            },
            sendNotificationToUser(minutes) {
                let this_ = this;
                this_.loading = true;
                this.$http.post('order/' + this.order_id + '/notification', {'minutes': minutes})
                    .then((response) => {
                        this_.loading = false;
                    }).catch((error) => {
                    this_.loading = false;
                    swal({
                        type: 'error',
                        title: i18n.t('error_alert_title'),
                        text: i18n.t('error_alert_text'),
                        reverseButtons: true,
                        confirmButtonText: i18n.t('ok'),
                        cancelButtonText: i18n.t('cancel')
                    });
                    console.log(error)
                });
            },
        }
    }
</script>
<style scoped>
    .print {
        display: none;
        position: absolute;
        left: -9999999px;
    }
    .board-item {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
        border-radius: 2px;
        border: 1px solid #e8e8e8;
        background-color: #ffffff;
        padding: 19px;
        margin: 15px;
        overflow: hidden;
    }

    .delivery-data {
        text-align: left;
        margin: 5px;
        text-transform: none;
    }

    .delivery-data p {
        margin-bottom: 5px;
    }

    .delivery-data p:last-child {
        margin-bottom: 0;
    }

    .btn-minutes {
        border-radius: 2px;
        color: #f8613d;
        border: 1px solid #f8613d;
        background-color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        width: 20%;
        float: left;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    .btn-minutes:hover, .btn-ready:hover, .btn-danger:hover {
        background-color: #ffffff;
    }
    .btn-danger svg {
        fill: white;
    }
    .btn-danger:hover svg {
        fill: #dc3545;
    }
    .btn-ready:hover {
        color: #f8613d;
    }

    .btn-ready {
        color: #ffffff;
        border-radius: 0 2px 2px 0;
        border: 1px solid #f8613d;
        float: left;
        background-color: #f8613d;
        font-family: Rubik, sans-serif;
        font-size: 14px;
        font-weight: 500;
        width: 20%;
    }

    .info .header {
        color: #969699;
        font-size: 11px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        text-transform: uppercase;
    }

    .item-name {
        width: 60%;
    }

    .item-name-option {
        width: 60%;
        font-weight: 300;
        font-style: oblique;
        font-size: 12px;
    }

    .item-name-addon {
        width: 60%;
        font-weight: 300;
        font-style: oblique;
        font-size: 12px;
    }

    .board-item ul {
        padding: 4px;
        position: relative;
        z-index: 1;
    }

    .board-item ul > li {
        color: #1b1b1c;
        text-align: left;
        font-size: 14px;
        font-family: Rubik, sans-serif;
        font-weight: 500;
        list-style-type: none;
        border-bottom: 1px solid #f3f3f3;
        text-transform: none;
        margin-left: 4px;
    }

    .board-item ul > li .quantity {
        font-size: 14px;
        color: #726c7d;
        font-weight: 700;
        line-height: 21px;
        text-align: right;
        width: 35%;
        text-transform: uppercase;
    }

    .board-item ul li:last-child {
        border: none;
    }

    .board-buttons {
        margin: 0 5px;
    }

    .items .total {
        color: #e8e8e8;
        font-size: 24px;
        font-weight: 300;
        line-height: 21px;
        position: relative;
        z-index: 2;
        left: 25%;
    }

    .items {
        position: relative;
        top: -5px;
    }

    .info {
        margin-left: -5px;
    }

    .info .number {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        color: #726c7d;
        border-radius: 2px;
        padding: 1px 6px;
        background-color: #e8e8e8;
        text-transform: none;
        width: fit-content;
    }

    .info .name {
        text-align: left;
    }

    .info > div:first-child .number {
        background-color: #726c7d;
        color: #ffffff;
        font-weight: 500;
    }

    .info .number.table_number {
        background-color: #f8613d;
        color: #ffffff;
    }

    .info > div:not(:last-child) {
        border-right: 1px dashed #e8e8e8;
    }

    .board-item.is_delivery {
        border-color: #f8613d;
    }

    .tips {
        text-align: left;
        font-size: 14px;
        line-height: 21px;
        color: #726c7d;
        border-radius: 2px;
        padding: 5px 6px;
        background-color: #e8e8e8;
        text-transform: none;
        margin: 0px 5px 7px;
        font-weight: 500;
    }

    .btn-danger:hover {
        color: #dc3545;
    }

    .btn-danger {
        color: #ffffff;
        border-radius: 0 2px 2px 0;
        border: 1px solid #dc3545;
        background-color: #dc3545;
        font-family: Rubik, sans-serif;
        font-size: 14px;
        font-weight: 500;
        float: left;
        width: 20%;
    }

    .tips .number {
        float: right;
        margin-right: 5px;
    }

    .tips .tip_name {
        margin: 5px;
    }

    .type-and-date {
        margin-top: 10px;
        text-align: left;
        margin-left: 9px;
        display: flex;
        justify-content: flex-end;
    }
</style>
