<template>
    <div :class="wrapper">
        <div class="cropperWrapper">
            <img id="cropImage" style="width:100%" :src="image">
            <button type="button" class="btn btn-light btn-rorate bg-transparent text-white" @click="rotate"><fa icon="redo" fixed-width/></button>
        </div>
        <div slot="footer" class="footer d-flex">
            <button type="button" class="btn btn-outline-secondary" @click="cancel">Cancel</button>
            <button type="button" class="btn btn-primary ml-auto" :class="{'btn-loading': isUploading}" @click="upload">Crop and Upload</button>
        </div>
    </div>
</template>

<script>
import 'cropperjs/dist/cropper.css'
import Cropper from 'cropperjs'

export default {
    components: { Cropper },
    props: {
        image: {
            type: String,
            default() {
                return ''
            }
        },
        width: {
            type: Number,
            default() {
                return 0
            }
        },
        height: {
            type: Number,
            default() {
                return 0
            }
        },
        wrapper: {
            type: String,
            default() {
                return ''
            }
        },
        topCropbox: {
            type: Boolean,
            default() {
                return false
            }
        }
    },
    data() {
        return {
            cropper: null,
            isUploading: false
        }
    },
    mounted() {
        this.createCropper()
    },
    watch: {
        image(val) {
            this.replaceUrl()
        }
    },
    methods: {
        replaceUrl() {
            this.cropper.replace(this.image)
        },
        createCropper() {
            let that = this;
            var imageObj = document.getElementById('cropImage');
            if (this.width && this.height) {
                this.cropper = new Cropper(imageObj, {
                    aspectRatio: that.width/that.height,
                    autoCropArea: 1,
                    dragMode: 'move',
                    rotatable: true,
                    movable: true,
                    zoomable: true,
                    rotate: true,
                    ready: function() {
                        that.setCropBox()
                    }
                });                
            }
            else {
                this.cropper = new Cropper(imageObj, {
                    autoCropArea: 1,
                    dragMode: 'move',
                    rotatable: true,
                    movable: true,
                    zoomable: true,
                    rotate: true,
                    ready: function() {
                        that.setCropBox()
                    }
                })
            }
        },
        setCropBox() {
            if (this.topCropbox) {
                var cropBoxData = this.cropper.getCropBoxData();
                cropBoxData.top = 0;
                this.cropper.setCropBoxData(cropBoxData)
            }                
        },
        rotate(e) {
            if (this.cropper) {
                this.cropper.rotate(45)
            }
        },
        upload(e) {
            let that = this
            if (this.cropper) {
                let canvas

                if (this.width && this.height) {
                    canvas = this.cropper.getCroppedCanvas({
                        width: this.width,
                        height: this.height,
                    })
                }
                else {
                    canvas = this.cropper.getCroppedCanvas()
                }

                this.isUploading = true;
                canvas.toBlob((blob) => {
                    var fd = new FormData();
                    fd.append('image', blob);
                    this.$http.post('/image/upload', fd)
                    .then((response) => {
                        that.$emit('succeed', response.data);
                    })
                    .catch((error) => {
                        console.log(error)
                    });
                }, 'image/jpeg', 1)
            }
        },
        cancel() {
          this.$emit('canceled')
        },
    },
}
</script>

<style lang="scss" scoped>
    .cropperWrapper {
        position: relative;
        height: 300px;

        img {
            max-width: 100%;
            max-height: 100%;
        }

        .btn-rorate {
            position: absolute;
            bottom: 3px;
            right: 3px;
        }
    }
    .footer {
        margin-top: 30px;
        display: block;
        text-align: center;
        background-color: transparent;
    }
</style>
