<template>
  <span :style="{color: color}" @click="setStatus(rowData)"><i class="fas fa-circle"></i></span>
</template>

<script>
export default{
  props: {
    rowData: {
      type: Object,
      required: true
    },
    apiUrl: {
      type: String,
      required: true
    }
  },
  computed: {
    color() {
      return this.rowData.default_hotspot ? '#28a745' : '#ccc'
    }
  },
  methods: {
    setStatus(rowData) {
      let index = this
      if (rowData.thumbnail) {
          var text = '<div class="mt-2"><img src="' + rowData.thumbnail + '" class="img-fluid" style="max-height:100px;"></div><div class="my-3">\"'+rowData.name+'\"</div>';
      }
      else {
          var text = '<div class="mt-2 mb-3">\"'+rowData.name+'\"</div>';
      }
      
      if (rowData.default_hotspot) {
        var confirm = "Default Off"
        var confirmColor = "rgb(221, 51, 51)"
      }
      else {
        var confirm = "Default On" 
        var confirmColor = "rgb(40, 167, 69)"
      }
      swal({
        title: '<div class="mt-3">Change Default</div>',
        html: text,
        reverseButtons: true,
        showCancelButton: true,
        confirmButtonColor: confirmColor,
        confirmButtonText: confirm,
      }).then(function (result) {
        result.value && index.postData(rowData)
      })
      // index.postData(rowData)
    },
    postData(rowData) {
      this.$http.post(this.apiUrl + '/' + rowData.id + '/set_default', {status: !rowData.default_hotspot})
          .then((response) => {
            this.rowData.default_hotspot = !this.rowData.default_hotspot
            toastr.success('Changed successfully!')
          }).catch((response) => {
            if (response.data.error) {
              toastr.error(response.data.error.message)
            } else if (response.data.messages.length) {
              toastr.error(response.data.messages.join(" "))
            } else {
              toastr.error(response.status + ' : Resource ' + response.statusText)
            }
          })
    }
  }
}
</script>

<style lang="scss" scoped>
span {
  cursor:pointer;
}
</style>
