<template>
    <div :class="topClass">
        <card :title="title">
            <template slot="labels">
                <Daterangepicker :id="id" :date-start="dateStart" :date-end="dateEnd" :call-back="loadData"/>
            </template>
            <div class="table-container" :class="wrapperClass">
                <template v-if="(chartTypeMain === 'pie' && series.length) || (chartTypeMain !== 'pie' && series[0].data.length)">
                    <div v-if="total">{{total}}</div>
                    <VueApexCharts ref="Chart" height="500" :type="chartTypeMain" :options="chartOptions[chartType]" :series="series"></VueApexCharts>
                </template>
                <template v-else>
                    <template v-if="loading">Loading...</template><template v-else>No data</template>
                </template>
            </div>
        </card>
    </div>
</template>
<script>

    import CustomAction from '~/components/CustomAction'
    import StatusAction from '~/components/StatusAction'
    import TablePagination from '~/components/TablePagination'
    import VueHotelDatepicker from "~/components/VueHotelDatepicker";
    import Card from "~/components/Card";
    import Daterangepicker from "./Daterangepicker";
    import VueApexCharts from "vue-apexcharts";

    export default {
        components: {
            Daterangepicker,
            VueHotelDatepicker,
            TablePagination,
            CustomAction,
            StatusAction,
            Card,
            VueApexCharts
        },
        props: {
            wrapperClass: {
                type: String,
                default() {
                    return null
                }
            },
            id: {
               type: String
            },
            topClass: {
                type: String,
                default() {
                  return 'col-sm-12 col-md-12 col-lg-4';
                },
            },
            chartTypeMain: {
               type: String,
                default() {
                    return 'bar'
                }
            },
            labels: {
                type: Array,
                default() {
                    return []
                }
            },
            loading: {
               type: Boolean,
                default: true,
            },
            chartType: {
               type: String,
                default: 'orders',
            },
            tableClass: {
                type: String,
                default() {
                    return 'table table-striped table-hover'
                }
            },
            title: {
                type: String,
                default() {
                    return ''
                }
            },
            showSearch: {
                type: Boolean,
                default() {
                    return true
                }
            },
            showRowNum: {
                type: Boolean,
                default() {
                    return false
                }
            },
            showPaginate: {
                type: Boolean,
                default() {
                    return false
                }
            },
            showDates: {
                type: Boolean,
                default() {
                    return false
                }
            },
            fields: {
                type: Array,
                required: true
            },
            apiUrl: {
                type: String,
                required: true
            },
            disabledClass: {
                type: String,
                default() {
                    return 'disabled'
                }
            },
            itemActions: {
                type: Array,
                default() {
                    return [
                        {name: 'edit-item', icon: 'fas fa-pencil-alt', class: 'btn btn-info'},
                        {name: 'delete-item', icon: 'fas fa-trash-alt', class: 'btn btn-danger'}
                    ]
                }
            },
            moreParams: {
                type: Object,
                default() {
                    return {}
                },
            },
            canSearch: {
                type: Boolean,
                default: true,
            },
            showTotal: {
                type: Boolean,
                default: true,
            },
            total: {
                type: String,
                default: '',
            },
            searchKey: {
                type: String,
                default: 'keyword'
            },
            searchPlaceholder: {
                type: String,
                default: 'Search',
            },
            columns: {
                type: Number,
                default: 2,
            }
        },
        data() {

            return {
                series: [
                    {data: []}
                ],
                chartOptions: {
                    orders: {
                        plotOptions: {
                            bar: {
                                barHeight: '100%',
                                distributed: true,
                                horizontal: true,
                                dataLabels: {
                                    position: 'bottom'
                                },
                            },
                        },
                        title: {
                            text: ''
                        },
                        legend: {
                            show: false
                        },
                        colors: ['#33b2df', '#546E7A', '#d4526e', '#13d8aa', '#A5978B', '#2b908f', '#f9a3a4', '#90ee7e', '#f48024', '#69d2e7'],
                        dataLabels: {
                            enabled: true,
                            textAnchor: 'start',
                            style: {
                                colors: ['#fff']
                            },
                            formatter: function(val, opt) {
                                return opt.w.globals.labels[opt.dataPointIndex] + ":  " + val
                            },
                            offsetX: 0,
                            dropShadow: {
                                enabled: true
                            }
                        },
                        stroke: {
                            width: 1,
                            colors: ['#fff']
                        },
                        yaxis: {
                            labels: {
                                show: false
                            },
                        },

                        tooltip: {
                            theme: 'dark',
                            x: {
                                show: false
                            },
                            y: {
                                title: {
                                    formatter: function() {
                                        return ''
                                    }
                                }
                            }
                        }
                    },
                    revenue: {
                        plotOptions: {
                            bar: {
                                horizontal: false,
                                dataLabels: {
                                    position: 'top',
                                },
                            }
                        },
                        title: {
                            text: ''
                        },
                        legend: {
                            position: 'top',
                            horizontalAlign: 'left',
                            offsetX: 40
                        },
                        dataLabels: {
                            enabled: false,
                            offsetX: -6,
                            style: {
                                fontSize: '12px',
                                colors: ['#fff']
                            }
                        },
                        stroke: {
                            show: true,
                            width: 1,
                            colors: ['#fff']
                        },
                    },
                    users: {
                        chart: {
                            stacked: true,
                            stackType: '100%'
                        },
                        title: {
                            text: ''
                        },
                        plotOptions: {
                            bar: {
                                horizontal: true,
                            },

                        },
                        stroke: {
                            width: 1,
                            colors: ['#fff']
                        },
                        legend: {
                            position: 'top',
                            horizontalAlign: 'left',
                            offsetX: 40
                        }
                    },
                    pie: {
                        labels: this.labels,
                        responsive: [{
                            breakpoint: 480,
                            options: {
                                chart: {
                                    width: 200
                                },
                                legend: {
                                    position: 'bottom'
                                }
                            }
                        }]
                    }
                },
                selectedOption: 'today',
                dateStart: '',
                dateEnd: '',
                minDate: new Date(2019, 0, 1, 0, 0, 0),
                items: [],
                params: this.moreParams || {},
                searchable: {
                    [this.searchKey]: ''
                },
                totalPage: 0,
                totalCount: 0,
                currentPage: 0,
                pagination: null,
                sortKey: '',
                sortOrder: ''
            }
        },
        watch: {
            $route() {
                let pageNum = 1;

                if (this.$route.query.page) {
                    pageNum = this.$route.query.page
                }

                this.loadPage(pageNum)
            }
        },
        created() {
            if (this.$route.query[this.searchKey]) {
                this.searchable[this.searchKey] = this.$route.query[this.searchKey]
            }

            if (this.$route.query.page) {
                this.onSearch(this.$route.query.page)
            }
            else {
                this.onSearch()
            }
        },
        mounted() {
            this.$parent.$on('reload', (page) => {
                if (page) {
                    this.onSearch(page)
                }
                else {
                    this.onSearch(this.$route.query.page)
                }
            });

        },
        methods: {
            getTodayDates: function () {
                let today = new Date();
                let dd = String(today.getDate()).padStart(2, '0');
                let mm = String(today.getMonth() + 1).padStart(2, '0');
                let yyyy = today.getFullYear();
                return {
                    dateStart: yyyy + '-' + mm + '-' + dd,
                    dateEnd: yyyy + '-' + mm + '-' + dd
                }
            },
            getWeekDates: function () {

                let start = this.getMonday();
                let end = this.getSunday();
                return {
                    dateStart: start.getFullYear() + '-' + String(start.getMonth() + 1).padStart(2, '0') + '-' + String(start.getDate()).padStart(2, '0'),
                    dateEnd: end.getFullYear() + '-' + String(end.getMonth() + 1).padStart(2, '0') + '-' + String(end.getDate()).padStart(2, '0')
                }
            },
            selectChange: function()
            {
                this.loadData();
            },
            getMonday: function () {
                let d = new Date();
                let day = d.getDay(),
                    diff = d.getDate() - day + (day === 0 ? -6:1);
                return new Date(d.setDate(diff));
            },
            getSunday: function () {
                let d = new Date();
                let day = d.getDay(),
                    diff = d.getDate() + (7 - day);
                return new Date(d.setDate(diff));
            },

            getMonthDates: function () {
                let today = new Date();
                let mm = String(today.getMonth() + 1).padStart(2, '0');
                let yyyy = today.getFullYear();
                return {
                    dateStart: yyyy + '-' + mm ,
                    dateEnd: yyyy + '-' + mm
                }
            },

            updateDates: function (data) {
                this.dateStart = data.dateStart;
                this.dateEnd = data.dateEnd;
                this.loadData();
            },
            resetDates: function () {
                this.dateStart = '';
                this.dateEnd = '';
                this.loadData();
            },
            sortBy: function (key) {
                if (this.sortKey === '') {
                    this.currentPage = 1;
                }
                this.sortKey = key;
                this.sortOrder = (this.sortOrder === '' || this.sortOrder === 'desc') ? this.sortOrder = 'asc' : 'desc';
                this.loadData();
            },
            loadPage(page) {
                if (page == 'prev') {
                    this.goPreviousPage()
                } else if (page == 'next') {
                    this.goNextPage()
                } else {
                    this.goPage(page)
                }
            },
            onSearch(page) {
                this.currentPage = page ? page : 1;

                this.params = this.searchable;

                setTimeout(() => {
                    this.loadData()
                }, 10)
            },
            loadData(start_date, end_date) {
                this.loading = true;
                if (start_date && end_date) {
                    this.dateStart = start_date;
                    this.dateEnd = end_date
                } else {
                    this.dateStart = moment().startOf('month').format('YYYY-MM-DD');
                    this.dateEnd = moment().endOf('month').format('YYYY-MM-DD');
                }
                let url = this.apiUrl;
                let params = {};

                if (this.currentPage) {
                    params = Object.assign(this.params, {
                        page: this.currentPage
                    })
                } else {
                    params = this.params
                }
                params['sortKey'] = this.sortKey;
                params['sortOrder'] = this.sortOrder;
                params['dateStart'] = this.dateStart;
                params['dateEnd'] = this.dateEnd;
                params['offset'] = new Date().getTimezoneOffset();
                this.$http.get(url, {params: params})
                    .then(response => {
                        if (response.data) {
                            if (response.data.total) {
                                this.total = response.data.total;
                                // this.$refs.Chart.updateOptions({ title: response.data.total });
                                this.series = response.data.data;
                            } else {
                                this.series = response.data;
                            }
                        }
                        this.loading = false;
                    })
            },
            goPreviousPage() {
                if (this.currentPage > 1) {
                    this.currentPage--;
                    this.loadData()
                }
            },
            goNextPage() {
                if (this.currentPage < this.totalPage) {
                    this.currentPage++
                    this.loadData()
                }
            },
            goPage(page) {
                if (page != this.currentPage && (page > 0 && page <= this.totalPage)) {
                    this.currentPage = page
                    this.loadData()
                }
            },
            hasCallback(item) {
                return item.callback ? true : false
            },
            callCallback(field, item) {
                if (!this.hasCallback(field)) return

                var args = field.callback.split('|')
                var func = args.shift()
                args.push(item);
                if (typeof this.$parent[func] == 'function') {
                    return (args.length > 0) ?
                        this.$parent[func].apply(this.$parent, [this.getObjectValue(item, field.name)].concat(args)) :
                        this.$parent[func].call(this.$parent, this.getObjectValue(item, field.name))
                }
                return null
            },
            getObjectValue(object, path, defaultValue) {
                defaultValue = (typeof defaultValue == 'undefined') ? null : defaultValue

                var obj = object
                if (path.trim() != '') {
                    var keys = path.split('.')
                    keys.forEach((key) => {
                        if (obj !== null && typeof obj[key] != 'undefined' && obj[key] !== null) {
                            obj = obj[key]
                        } else {
                            obj = defaultValue
                            return
                        }
                    })
                }
                return obj
            },
            isSpecialField(name) {
                return name.slice(0, 2) === '__'
            },
            callAction(action, data, page) {
                this.$emit('table-action', action, data, page)
            },
            reload() {
                this.loadData()
            }
        }
    }
</script>

<style lang="scss" scoped>
    .btn {
        outline: none;
    }

    .table {
        border-bottom: 1px solid #e7eaec;
    }

    .none {
        color: #e7eaec;
        padding-bottom: 20px;
    }

    .actions {
        width: 15%;
        padding: 12px 0px;
        text-align: center;
    }

    .actions button {
        color: #6c757d;
    }

    .sortable {
        cursor: pointer;
    }
</style>
<style lang="css">
    .vhd-container .vhd-input {
        padding: 0;
        line-height: 30px;
    }

    .table th {
        font-size: 11px;
        font-weight: 500;
        line-height: 21px;
        text-transform: uppercase;
        opacity: 0.7;
        color: #1b1b1c;
    }

    .table td {
        color: #726c7d;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
    }
    .card {
        margin-bottom: 10px;
    }
</style>
