<template>
    <div class="col-sm-12 col-md-4">
        <card :title="title">
            <template slot="labels">
                <vue-hotel-datepicker class="ml-2" mobile="mobile"
                                      :startDate="dateStart"
                                      :endDate="dateEnd"
                                      :separator="'-'"
                                      :minDate="minDate"
                                      @comform="updateDates"
                                      @reset="resetDates"></vue-hotel-datepicker>
            </template>
            <h2 :class="className">{{result}}</h2>
        </card>
    </div>
</template>

<script>
    import VueHotelDatepicker from "./VueHotelDatepicker";
    import Card from "./Card";

    export default {
        name: "Dashboard",
        components: {Card, VueHotelDatepicker},
        data() {
            return {
                dateStart: '',
                dateEnd: '',
                result: '',
                minDate: new Date(2019, 0, 1, 0, 0, 0),
            }
        },
        props: {
            title: {
                type: String,
                required: true,
            },
            url: {
                type: String,
                required: true,
            },
            className: {
                type: String,
                default(){
                    return 'text-primary';
                }
            },
        },
        created() {
            this.loadData()
        },
        methods: {
            updateDates: function(data)
            {
                this.dateStart = data.start;
                this.dateEnd = data.end;
                this.loadData();
            },
            resetDates: function()
            {
                this.dateStart = '';
                this.dateEnd = '';
                this.loadData();
            },
            loadData: function () {
                let params = {
                    dateStart: this.dateStart,
                    dateEnd: this.dateEnd,
                };
                this.$http.get(this.url, { params: params }).then(response => {
                    this.result = response.data.data;
                });
            }
        }
    }
</script>

<style scoped>

</style>