<template>
    <div class="col-sm-12 col-md-4" :class="{'col-sm-12': true, 'col-md-4': columns===3, 'col-md-6': columns===2}">
        <card :title="title">
        <template slot="labels">
            <select class="form-control ml-2" style="width: 120px" v-model="selectedOption" @change="selectChange">
                <template v-for="(option_obj, option_key, index) in selectOptions">
                    <option :value="option_key" :selected="selectedOption==option_key">
                        {{option_obj.value}}
                    </option>
                </template>
            </select>
        </template>
        <div class="table-container" :class="wrapperClass">
            <div class="table-responsive">
                <table :class="tableClass">
                    <thead>
                    <tr>
                        <template v-if="showRowNum">
                            <th>No</th>
                        </template>
                        <template v-for="field in fields">
                            <template v-if="isSpecialField(field.name)">
                                <th v-if="field.name == '__actions'" :class="field.titleClass">
                                    <template v-if="field.trans">
                                        {{ $t(field.trans) }}
                                    </template>
                                    <template v-else>
                                        {{ field.title ? field.title : '' }}
                                    </template>
                                </th>
                                <th v-if="field.name == '__component'" :class="field.titleClass">
                                    <template v-if="field.trans">
                                        {{ $t(field.trans) }}
                                    </template>
                                    <template v-else>
                                        {{ field.title ? field.title : field.name }}
                                    </template>
                                </th>
                                <th v-if="field.name == '__status'" :class="field.titleClass">
                                    <template v-if="field.trans">
                                        {{ $t(field.trans) }}
                                    </template>
                                    <template v-else>
                                        {{ field.title ? field.title : field.name }}
                                    </template>
                                </th>
                            </template>
                            <template v-else>
                                <th :class="field.titleClass" @click="sortBy(field.name)">
                                    <template v-if="field.trans">
                                        {{ $t(field.trans) }}
                                    </template>
                                    <template v-else>
                                        {{ field.title ? field.title : field.name }}
                                        <template v-if="field.sortable">
                                            <template v-if="sortKey != field.name">
                                                <svg aria-hidden="true" focusable="false" data-prefix="fas"
                                                     data-icon="sort" role="img" xmlns="http://www.w3.org/2000/svg"
                                                     viewBox="0 0 320 512" class="svg-inline--fa fa-sort fa-w-10 ">
                                                    <path fill="currentColor"
                                                          d="M41 288h238c21.4 0 32.1 25.9 17 41L177 448c-9.4 9.4-24.6 9.4-33.9 0L24 329c-15.1-15.1-4.4-41 17-41zm255-105L177 64c-9.4-9.4-24.6-9.4-33.9 0L24 183c-15.1 15.1-4.4 41 17 41h238c21.4 0 32.1-25.9 17-41z"
                                                          class=""></path>
                                                </svg>
                                            </template>
                                            <template v-else>
                                                <template v-if="sortOrder == 'asc'">
                                                    <svg aria-hidden="true" focusable="false" data-prefix="fas"
                                                         data-icon="sort-up" role="img"
                                                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
                                                         class="svg-inline--fa fa-sort-up fa-w-10 ">
                                                        <path fill="currentColor"
                                                              d="M279 224H41c-21.4 0-32.1-25.9-17-41L143 64c9.4-9.4 24.6-9.4 33.9 0l119 119c15.2 15.1 4.5 41-16.9 41z"
                                                              class=""></path>
                                                    </svg>
                                                </template>
                                                <template v-else>
                                                    <svg aria-hidden="true" focusable="false" data-prefix="fas"
                                                         data-icon="sort-down" role="img"
                                                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
                                                         class="svg-inline--fa fa-sort-down fa-w-10 ">
                                                        <path fill="currentColor"
                                                              d="M41 288h238c21.4 0 32.1 25.9 17 41L177 448c-9.4 9.4-24.6 9.4-33.9 0L24 329c-15.1-15.1-4.4-41 17-41z"
                                                              class=""></path>
                                                    </svg>
                                                </template>
                                            </template>
                                        </template>
                                    </template>
                                </th>
                            </template>
                        </template>
                    </tr>
                    </thead>
                    <tbody v-cloak>
                    <template v-if="items.length > 0">
                        <tr v-for="(item, index) in items">
                            <template v-if="showRowNum">
                                <td>
                                    {{(index + 1) + (currentPage - 1) * 10}}
                                </td>
                            </template>
                            <template v-for="field in fields">
                                <template v-if="isSpecialField(field.name)">
                                    <template v-if="field.name == '__actions'">
                                        <td :class="field.dataClass" class="actions">
                                            <template v-for="action in itemActions">
                                                <button @click="callAction(action.name, item, currentPage)"
                                                        :class="action.class" :title="action.title"
                                                        :style="{background: action.color}">
                                                    <fa :icon="action.icon"/>
                                                    {{ action.label }}
                                                </button>
                                            </template>
                                        </td>
                                    </template>
                                    <template v-if="field.name == '__component'">
                                        <td :class="field.dataClass" class="component">
                                            <custom-action :api-url="apiUrl" :row-data="item"></custom-action>
                                        </td>
                                    </template>
                                    <template v-if="field.name == '__status'">
                                        <td :class="field.dataClass" class="component">
                                            <status-action :api-url="apiUrl" :row-data="item"></status-action>
                                        </td>
                                    </template>
                                </template>
                                <template v-else>
                                    <td v-if="hasCallback(field)" :class="field.dataClass"
                                        v-html="callCallback(field, item)">
                                    </td>
                                    <td :class="field.dataClass" v-else>
                                        {{ item[field.name] }}
                                    </td>
                                </template>
                            </template>
                        </tr>
                    </template>
                    </tbody>
                </table>
                <h3 class="none text-center py-3" v-if="items.length == 0">No Content</h3>
                <table-pagination ref="pagination" v-on:loadPage="loadPage"
                                  v-if="showPaginate && items.length > 0"></table-pagination>
            </div>
        </div>
    </card>
    </div>
</template>
<script>
    import CustomAction from '~/components/CustomAction'
    import StatusAction from '~/components/StatusAction'
    import TablePagination from '~/components/TablePagination'
    import VueHotelDatepicker from "~/components/VueHotelDatepicker";
    import Card from "~/components/Card";

    export default {
        components: {
            VueHotelDatepicker,
            TablePagination,
            CustomAction,
            StatusAction,
            Card
        },
        props: {
            wrapperClass: {
                type: String,
                default() {
                    return null
                }
            },
            tableClass: {
                type: String,
                default() {
                    return 'table table-striped table-hover'
                }
            },
            title: {
                type: String,
                default() {
                    return ''
                }
            },
            showSearch: {
                type: Boolean,
                default() {
                    return true
                }
            },
            showRowNum: {
                type: Boolean,
                default() {
                    return false
                }
            },
            showPaginate: {
                type: Boolean,
                default() {
                    return false
                }
            },
            showDates: {
                type: Boolean,
                default() {
                    return false
                }
            },
            fields: {
                type: Array,
                required: true
            },
            apiUrl: {
                type: String,
                required: true
            },
            disabledClass: {
                type: String,
                default() {
                    return 'disabled'
                }
            },
            itemActions: {
                type: Array,
                default() {
                    return [
                        {name: 'edit-item', icon: 'fas fa-pencil-alt', class: 'btn btn-info'},
                        {name: 'delete-item', icon: 'fas fa-trash-alt', class: 'btn btn-danger'}
                    ]
                }
            },
            moreParams: {
                type: Object,
                default() {
                    return {}
                },
            },
            canSearch: {
                type: Boolean,
                default: true,
            },
            showTotal: {
                type: Boolean,
                default: true,
            },
            searchKey: {
                type: String,
                default: 'keyword'
            },
            searchPlaceholder: {
                type: String,
                default: 'Search',
            },
            columns: {
                type: Number,
                default: 2,
            }
        },
        data() {
            return {
                selectOptions: {
                    today: {
                        value: 'Today',
                        callback: 'getTodayDates',
                    },
                    lastWeek: {
                        value: 'Last Week',
                        callback: 'getWeekDates',
                    },
                    thisWeek: {
                        value: 'This Week',
                        callback: 'getWeekDates',
                    },
                    lastMonth: {
                        value: 'Last Month',
                        callback: 'getMonthDates',
                    },
                    thisMonth: {
                        value: 'This Month',
                        callback: 'getMonthDates',
                    },
                },
                selectedOption: 'today',
                dateStart: '',
                dateEnd: '',
                minDate: new Date(2019, 0, 1, 0, 0, 0),
                items: [],
                params: this.moreParams || {},
                searchable: {
                    [this.searchKey]: ''
                },
                totalPage: 0,
                totalCount: 0,
                currentPage: 0,
                pagination: null,
                sortKey: '',
                sortOrder: ''
            }
        },
        watch: {
            $route() {
                let pageNum = 1;

                if (this.$route.query.page) {
                    pageNum = this.$route.query.page
                }

                this.loadPage(pageNum)
            }
        },
        created() {
            if (this.$route.query[this.searchKey]) {
                this.searchable[this.searchKey] = this.$route.query[this.searchKey]
            }

            if (this.$route.query.page) {
                this.onSearch(this.$route.query.page)
            }
            else {
                this.onSearch()
            }
        },
        mounted() {
            this.$parent.$on('reload', (page) => {
                if (page) {
                    this.onSearch(page)
                }
                else {
                    this.onSearch(this.$route.query.page)
                }
            })
        },
        methods: {
            getTodayDates: function () {
                let today = new Date();
                let dd = String(today.getDate()).padStart(2, '0');
                let mm = String(today.getMonth() + 1).padStart(2, '0');
                let yyyy = today.getFullYear();
                return {
                    dateStart: yyyy + '-' + mm + '-' + dd,
                    dateEnd: yyyy + '-' + mm + '-' + dd
                }
            },
            getWeekDates: function () {

                let start = this.getMonday();
                let end = this.getSunday();
                return {
                    dateStart: start.getFullYear() + '-' + String(start.getMonth() + 1).padStart(2, '0') + '-' + String(start.getDate()).padStart(2, '0'),
                    dateEnd: end.getFullYear() + '-' + String(end.getMonth() + 1).padStart(2, '0') + '-' + String(end.getDate()).padStart(2, '0')
                }
            },
            selectChange: function()
            {
                this.loadData();
            },
            getMonday: function () {
                let d = new Date();
                let day = d.getDay(),
                    diff = d.getDate() - day + (day === 0 ? -6:1);
                return new Date(d.setDate(diff));
            },
            getSunday: function () {
               let d = new Date();
                let day = d.getDay(),
                    diff = d.getDate() + (7 - day);
                return new Date(d.setDate(diff));
            },

            getMonthDates: function () {
                let today = new Date();
                let mm = String(today.getMonth() + 1).padStart(2, '0');
                let yyyy = today.getFullYear();
                return {
                    dateStart: yyyy + '-' + mm ,
                    dateEnd: yyyy + '-' + mm
                }
            },

            updateDates: function (data) {
                this.dateStart = data.dateStart;
                this.dateEnd = data.dateEnd;
                this.loadData();
            },
            resetDates: function () {
                this.dateStart = '';
                this.dateEnd = '';
                this.loadData();
            },
            sortBy: function (key) {
                if (this.sortKey === '') {
                    this.currentPage = 1;
                }
                this.sortKey = key;
                this.sortOrder = (this.sortOrder === '' || this.sortOrder === 'desc') ? this.sortOrder = 'asc' : 'desc';
                this.loadData();
            },
            loadPage(page) {
                if (page == 'prev') {
                    this.goPreviousPage()
                } else if (page == 'next') {
                    this.goNextPage()
                } else {
                    this.goPage(page)
                }
            },
            onSearch(page) {
                this.currentPage = page ? page : 1;

                this.params = this.searchable;

                setTimeout(() => {
                    this.loadData()
                }, 10)
            },
            loadData() {
                let url = this.apiUrl;
                let params = {};

                if (this.currentPage) {
                    params = Object.assign(this.params, {
                        page: this.currentPage
                    })
                } else {
                    params = this.params
                }
                params['sortKey'] = this.sortKey;
                params['sortOrder'] = this.sortOrder;
                params['selected_option'] = this.selectedOption;
                params['offset'] = new Date().getTimezoneOffset();
                this.$router.push({name: this.$route.name, query: params});

                this.$http.get(url, {params: params})
                    .then(response => {
                        this.totalCount = response.data.total;
                        this.pagination = {
                            total_pages: response.data.last_page,
                            total: response.data.total,
                            current_page: response.data.current_page,
                        };
                        this.items = response.data.data;
                        this.totalPage = response.data.last_page;
                        this.currentPage = response.data.current_page;
                        if (this.showPaginate && this.items.length != 0) {
                            this.$nextTick(() => {
                                this.$refs.pagination.$data.pagination = this.pagination
                            })
                        }
                    })
            },
            goPreviousPage() {
                if (this.currentPage > 1) {
                    this.currentPage--
                    this.loadData()
                }
            },
            goNextPage() {
                if (this.currentPage < this.totalPage) {
                    this.currentPage++
                    this.loadData()
                }
            },
            goPage(page) {
                if (page != this.currentPage && (page > 0 && page <= this.totalPage)) {
                    this.currentPage = page
                    this.loadData()
                }
            },
            hasCallback(item) {
                return item.callback ? true : false
            },
            callCallback(field, item) {
                if (!this.hasCallback(field)) return

                var args = field.callback.split('|')
                var func = args.shift()
                args.push(item);
                if (typeof this.$parent[func] == 'function') {
                    return (args.length > 0) ?
                        this.$parent[func].apply(this.$parent, [this.getObjectValue(item, field.name)].concat(args)) :
                        this.$parent[func].call(this.$parent, this.getObjectValue(item, field.name))
                }
                return null
            },
            getObjectValue(object, path, defaultValue) {
                defaultValue = (typeof defaultValue == 'undefined') ? null : defaultValue

                var obj = object
                if (path.trim() != '') {
                    var keys = path.split('.')
                    keys.forEach((key) => {
                        if (obj !== null && typeof obj[key] != 'undefined' && obj[key] !== null) {
                            obj = obj[key]
                        } else {
                            obj = defaultValue
                            return
                        }
                    })
                }
                return obj
            },
            isSpecialField(name) {
                return name.slice(0, 2) === '__'
            },
            callAction(action, data, page) {
                this.$emit('table-action', action, data, page)
            },
            reload() {
                this.loadData()
            }
        }
    }
</script>

<style lang="scss" scoped>
    .btn {
        outline: none;
    }

    .table {
        border-bottom: 1px solid #e7eaec;
    }

    .none {
        color: #e7eaec;
        padding-bottom: 20px;
    }

    .actions {
        width: 15%;
        padding: 12px 0px;
        text-align: center;
    }

    .actions button {
        color: #6c757d;
    }

    .sortable {
        cursor: pointer;
    }
</style>
<style lang="css">
    .vhd-container .vhd-input {
        padding: 0;
        line-height: 30px;
    }

    .table th {
        font-size: 11px;
        font-weight: 500;
        line-height: 21px;
        text-transform: uppercase;
        opacity: 0.7;
        color: #1b1b1c;
    }

    .table td {
        color: #726c7d;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
    }
    .card {
        margin-bottom: 10px;
    }
</style>
