<template>
    <input class="datepicker form-control ml-2" type="text" :id="id" :name="id" />
</template>

<script>
    export default {
        props: {
            id: {
                type: String
            },
            format: {
                type: String,
                default: 'DD MMMM YYYY',
            },
            callBack: {
                type: Function
            },
            defaultToday: {
                type: Boolean,
                default: false,
            }
        },
        name: "Daterangepicker",
        mounted: function() {
            let that = this;
            $('#'+this.id).daterangepicker({
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                "alwaysShowCalendars": true,
                "startDate": this.defaultToday?moment():moment().startOf('month'),
                "endDate":  this.defaultToday?moment():moment().endOf('month'),
                "locale": {
                    format: this.format,
                }
            }, function(start, end, label) {
                that.callBack(start.format('YYYY-MM-DD'), end.format('YYYY-MM-DD'));
            });
        }
    }

</script>

<style scoped>
    .datepicker {
        width: 300px;
    }
</style>