<template>
    <div class="col-md-12" :style="{marginBottom: '10px'}">
        <card :title="title">
            <template slot="labels">
                <button title="Edit" class="btn btn-info btn-sm ml-auto" @click="visibleDetailModal=true">
                    <template v-if="!last4"><fa icon="plus"/></template>
                    <template v-else><fa icon="pencil-alt"/></template>
                </button>
            </template>
            <div class="row">
                <label class="col-sm-5">IBAN</label>
                <div class="col-sm-7" v-if="last4">{{(last4 !== '')?'...'+last4:''}}</div>
                <div class="col-sm-7 text-secondary" v-else>Not Provided</div>
            </div>
        </card>
        <modal
                :show="visibleDetailModal"
                :large="true"
                confirm-text="Submit"
                @cancel="visibleDetailModal=false">
            <div slot="title">Bank Details</div>
            <div>
                <form @submit.prevent="setup">
                    <template>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label text-md-right">Currency</label>
                            <div class="col-md-6 col-form-label">
                                {{currency_dict[currency]}}
                            </div>
                        </div>
                        <div class="form-group row" v-if="currency!='gbp' && currency!='usd'">
                            <label class="col-md-3 col-form-label text-md-right">IBAN</label>
                            <div class="col-md-6">
                                <input required type="text" class="form-control" name="account-iban"
                                       placeholder="" v-model="form_data.iban">
                            </div>
                        </div>
                        <template v-else>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label text-md-right">Routing number</label>
                                <div class="col-md-6">
                                    <input type="text" required class="form-control"
                                           name="account-routing_number" placeholder=""
                                           v-model="form_data.routing_number">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label text-md-right">Account Number</label>
                                <div class="col-md-6">
                                    <input type="text" required class="form-control" name="account-iban"
                                           placeholder="" v-model="form_data.iban">
                                </div>
                            </div>
                        </template>
                    </template>
                    <hr/>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-light ml-auto" @click="visibleDetailModal=false">
                            Cancel
                        </button>
                        <v-button type="primary" :loading="submitting">Submit</v-button>
                    </div>
                </form>
            </div>
        </modal>
    </div>
</template>

<script>
    import Card from "./Card";
    import swal from 'sweetalert2'
    import Modal from "./Modal";

    export default {
        data() {
           return {
               visibleDetailModal: false,
               submitting: false,
               form_data: {
                   currency: 'eur',
               },
               last4: '',
               currency_dict: {
                   // chf: 'CHF - Swiss Franc',
                   // dkk: 'DKK - Danish Krone',
                   eur: 'EUR - Euro',
                   gbp: 'GBP - British Pound',
                   usd: 'USD - United states dollar',
                   // nok: 'NOK - Norwegian Krone',
                   // sek: 'SEK - Swedish Krona',
               }
           }
        },
        name: "EditBank",
        components: {Modal, Card},
        props: {
            external_accounts: {
                type: Object,
                required: true,
            },
            currency: {
                type: String,
                required: true,
            },
            title: {
                type: String,
                required: true,
            },
            countries: {
                type: Object,
                required: true,
            },
        },
        created() {
            if (typeof this.external_accounts !== 'undefined'
                && typeof this.external_accounts.data !== 'undefined'
                && this.external_accounts.total_count > 0) {
                // this.currency = this.external_accounts.data[0].currency;
                for (let acc in this.external_accounts.data) {
                    if (this.external_accounts.data[acc].currency === this.currency) {
                        this.last4 = this.external_accounts.data[acc].last4;
                    }
                }
            }
        },
        methods: {
            async setup() {
                this.submitting = true;
                let data = {
                    external_account: {
                        account_number: this.form_data.iban.replace(/[^a-zA-Z0-9]/g, '').toUpperCase(),
                        currency: this.currency,
                        object: 'bank_account',
                    }
                };
                if (this.currency == 'gbp') {
                    data.external_account.routing_number = this.form_data.routing_number;
                    data.external_account.country = 'GB';
                } else if (this.currency == 'usd') {
                    data.external_account.country = 'US';
                    data.external_account.routing_number = this.form_data.routing_number;
                }else {
                    data.external_account.country = data.external_account.account_number.substr(0,2);
                }
                this.$http.post('settings/payment/bank', data)
                    .then((response) => {
                        this.submitting = false;
                        if (response.data.account.last4) {
                            this.visibleDetailModal = false;
                            this.last4 = data.external_account.account_number.substr(-4);
                            swal({
                                type: 'success',
                                title: 'Saved',
                                html: '<p>Your bank account confirmed</p>',
                            });
                        }
                    }).catch((error) => {
                    this.submitting = false;
                    if (error.response.data.messages && error.response.data.messages.length > 0) {
                        let error_html = '';
                        error.response.data.messages.forEach((line) => {
                            error_html += '<p>' + line + '</p>';
                        });

                        swal({
                            type: 'error',
                            title: 'Error',
                            html: error_html,
                            reverseButtons: true,
                            confirmButtonText: 'OK',
                            cancelButtonText: 'Cancel'
                        })
                    }
                })
            },
        }
    }
</script>

<style scoped>
    p.alert.text-danger {
        text-align: center;
        font-size: 50px;
    }
</style>
