<template>
    <div class="col-md-6" :style="{marginBottom: '10px'}">
        <card :title="title">
            <template slot="labels">
                <button title="Edit" class="btn btn-info btn-sm ml-auto" @click="handleRedirect">
                    <template v-if="person_data.id === 'undefined'"><fa icon="plus"/></template>
                    <template v-else><fa icon="pencil-alt"/></template>
                </button>
            </template>
            <div class="row" v-if="person_data.id !== 'undefined'">
                    <div class="col-sm-12">
                        <div class="row">
                            <label class="col-sm-5">Name</label>
                            <div class="col-sm-7" v-if="person_data.first_name">{{person_data.first_name}} {{person_data.last_name}}</div>
                            <div class="col-sm-7 text-secondary" v-else>Not Provided</div>
                        </div>
                        <div class="row">
                            <label class="col-sm-5">Date of birth</label>
                            <div class="col-sm-7"
                                 v-if="person_data.dob.day && person_data.dob.month && person_data.dob.year">
                                {{person_data.dob.day}} / {{person_data.dob.month}} / {{person_data.dob.year}}
                            </div>
                            <div class="col-sm-7 text-secondary" v-else>Not Provided</div>
                        </div>
                        <div class="row">
                            <label class="col-sm-5">Phone</label>
                            <div class="col-sm-7" v-if="person_data.phone">{{person_data.phone}}</div>
                            <div class="col-sm-7 text-secondary" v-else>Not provided</div>
                        </div>
                        <div class="row">
                            <label class="col-sm-5">Email</label>
                            <div class="col-sm-7" v-if="person_data.email">{{person_data.email}}</div>
                            <div class="col-sm-7 text-secondary" v-else>Not provided</div>
                        </div>
                        <div class="row">
                            <label class="col-sm-5">Address</label>
                            <div class="col-sm-7" v-if="person_data.address.state">
                                <div v-if="person_data.address.state">{{person_data.address.state}}</div>
                                <div v-if="person_data.address.city">{{person_data.address.city}}</div>
                                <div v-if="person_data.address.line1">{{person_data.address.line1}}</div>
                                <div v-if="person_data.address.postal_code">{{person_data.address.postal_code}}</div>
                            </div>
                            <div class="col-sm-7 text-secondary" v-else>Not Provided</div>
                        </div>
                        <div class="row" v-if="person_data.verification.status">
                            <label class="col-sm-5">Verification status</label>
                            <div class="col-sm-7" v-if="person_data.verification.status">
                                <span :class="status_class">{{person_data.verification.status}}</span>
                            </div>
                        </div>
                    </div>
            </div>
            <template v-else>
                <p class="alert text-danger">Required</p>
            </template>
            <modal
                    :show="visibleDetailModal"
                    :large="true"
                    confirm-text="Submit"
                    @cancel="visibleDetailModal=false">
                <div slot="title">Person Details</div>
                <div>
                    <form @submit.prevent="setup" enctype="multipart/form-data">
                        <div class="form-group row" v-if="person_data.verification.status !== 'verified'">
                            <label class="col-md-3 col-form-label text-md-right">First Name</label>
                            <div class="col-md-6">
                                <input required type="text" class="form-control" name="account-first_name" v-model="person_data.first_name" placeholder="First name">
                            </div>
                        </div>
                        <div class="form-group row" v-if="person_data.verification.status !== 'verified'">
                            <label class="col-md-3 col-form-label text-md-right">Last Name</label>
                            <div class="col-md-6">
                                <input required type="text" class="form-control" name="account-last_name" v-model="person_data.last_name" placeholder="Last name">
                            </div>
                        </div>
                        <div class="form-group row" v-if="person_data.verification.status !== 'verified'">
                            <label class="col-md-3 col-form-label text-md-right">Date of birth</label>
                            <div class="col-md-6 form-inline">
                                <input type="number" class="form-control" name="account-dob-day" v-model="person_data.dob.day" style="width:65px;" max="31" maxlength="2" placeholder="DD" pattern="(0[1-9]|1[0-9]|2[0-9]|3[01])">
                                <input type="number" class="form-control" name="account-dob-month" v-model="person_data.dob.month" style="width:65px;" max="12" maxlength="2" placeholder="MM" pattern="(0[1-9]|1[012])">
                                <input type="number" class="form-control" name="account-dob-year" v-model="person_data.dob.year" style="width:85px;" maxlength="4" min="1900" placeholder="YYYY">
                            </div>
                        </div>
                        <div class="form-group row" v-if="person_data.verification.status !== 'verified'">
                            <label class="col-md-3 col-form-label text-md-right">ID document - front</label>
                            <div class="col-md-6">
                                <upload-image :isRequired="true" :inputId="'document_front'" :inputName="'document_front'" title="Drop Image or Click" show-preview="yes" @success="getImageFront"></upload-image>
                            </div>
                        </div>
                        <div class="form-group row"  v-if="person_data.verification.status !== 'verified'">
                            <label class="col-md-3 col-form-label text-md-right">ID document - back</label>
                            <div class="col-md-6">
                                <upload-image :isRequired="true" :inputId="'document_back'" :inputName="'document_back'" title="Drop Image or Click" show-preview="yes" @success="getImageBack"></upload-image>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label text-md-right">Email</label>
                            <div class="col-md-6">
                                <input type="email" class="form-control" name="account-email" v-model="person_data.email" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label text-md-right">Phone</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="account-phone" v-model="person_data.phone" pattern="(\+[0-9\s]+)" placeholder="+44 1234567890">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label text-md-right">Address</label>
                            <div class="col-md-6">
                                <input required type="text" class="form-control" id="address" name="account-address-line1" v-model="person_data.address.line1" placeholder="Address">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label text-md-right">State</label>
                            <div class="col-md-6">
                                <input required type="text" class="form-control" name="account-address-city" v-model="person_data.address.state" placeholder="State">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label text-md-right">Town or City</label>
                            <div class="col-md-6">
                                <input required type="text" class="form-control" name="account-address-city" v-model="person_data.address.city" placeholder="Town or City">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label text-md-right">Post Code</label>
                            <div class="col-md-6">
                                <input required type="text" class="form-control" name="account-address-postal_code" v-model="person_data.address.postal_code " placeholder="Post Code">

                            </div>
                        </div>
                        <hr/>
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-light ml-auto" @click="visibleDetailModal=false">
                                Cancel
                            </button>
                            <v-button type="primary" :loading="submitting">Submit</v-button>
                        </div>
                    </form>
                </div>
            </modal>
        </card>
    </div>
</template>

<script>
    import Card from "./Card";
    import swal from 'sweetalert2'
    import Modal from "./Modal";
    import UploadImage from "./UploadImage";

    export default {
        name: "EditPerson",
        components: {UploadImage, Modal, Card},
        updated(){
            if (document.getElementById('address') && this.visibleDetailModal && !this.autocompleteAddress) {
                this.autocompleteAddress = new google.maps.places.Autocomplete(document.getElementById('address'),{types: ['geocode']});
                this.autocompleteAddress.addListener('place_changed', this.fillInAddress);
            }
        },
        data() {
            return {
                submitting: false,
                visibleDetailModal: false,
                images: {
                    front: '',
                    back: '',
                },
                autocompleteAddress: null,
            }
        },
        created() {
            let verification = this.person_data.verification;
            if (verification.status === 'unverified') {
                this.status_class = 'badge badge-pill badge-danger';
            }
            else if (verification.status === 'verified') {
                this.status_class = 'badge badge-pill badge-success';
            } else {
                this.status_class = 'badge badge-pill badge-secondary';
            }
        },
        props: {
            person_data: {
                type: Object,
                required: true,
            },
            title: {
                type: String,
                required: true,
            }
        },
        methods: {
            handleRedirect() {
              this.$http.get('settings/get-link').then(function (resp) {
                  if (resp.data.link && resp.data.link.url) {
                      window.location.href = resp.data.link.url;
                  }
              })
            },
            fillInAddress() {
                var place = this.autocompleteAddress.getPlace();
                if (place.address_components) {
                    this.person_data.address.line1 = '';
                    for (var i = 0; i < place.address_components.length; i++) {
                        var addressType = place.address_components[i].types[0];
                        if (addressType == 'street_number') {
                            this.person_data.address.line1 = place.address_components[i]['short_name'];
                        }
                        else if (addressType == 'route') {
                            this.person_data.address.line1 += place.address_components[i]['long_name'];
                        }
                        if (addressType == 'locality') {
                            this.person_data.address.city = place.address_components[i]['long_name'];
                        }
                        else if (addressType == 'administrative_area_level_1') {
                            this.person_data.address.state = place.address_components[i]['long_name'];
                        }
                    }
                }
            },
            getImageFront(image) {
                this.images.front = image.url;
                // this.images.image_old = false;
            },
            getImageBack(image) {
                this.images.back = image.url;
                // this.form.image_old = false;
            },
            async setup() {
                this.submitting = true;
                let person = this.person_data;
                person.relationship = {
                    account_opener: true,
                    director: true,
                    owner: true,
                    percent_ownership: 100,
                };
                let data = {
                    person: person,
                    images: this.images
                };
                this.$http.post('settings/payment/person', data)
                    .then((response) => {
                        this.submitting = false;
                        this.visibleDetailModal = false;
                        swal({
                            type: 'success',
                            title: 'Saved',
                        });
                    }).catch((error) => {
                    this.submitting = false;
                    if (error.response.data.messages && error.response.data.messages.length > 0) {
                        let error_html = '';
                        error.response.data.messages.forEach((line) => {
                            error_html += '<p>' + line + '</p>';
                        });
                        swal({
                            type: 'error',
                            title: 'Error',
                            html: error_html,
                            reverseButtons: true,
                            confirmButtonText: 'OK',
                            cancelButtonText: 'Cancel'
                        })
                    }
                })
            },
        }
    }
</script>

<style scoped>
    p.alert.text-danger {
        text-align: center;
        font-size: 50px;
    }
</style>
