<template>
    <div class="navbar-wrapper">
        <nav class="navbar navbar-light bg-light border-bottom">
            <button class="btn btn-light sidebar-toggler btn-sm border" @click="toggleSidebar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Second</a>
                    </li>
                </ul>
            </div>
            <div class="ml-auto">
                <form class="form-inline">
                    <input class="form-control " type="search" placeholder="Search" aria-label="Search">
                    <button type="button" class="btn btn-light btn-sm bg-transparent text-secondary">
                        <fa icon="sign-out-alt"/>
                        Log out TEST
                    </button>
                </form>
            </div> -->
            <a href="/logout" class="btn btn-light btn-sm bg-transparent text-secondary" onclick="event.preventDefault();document.getElementById('logout-form').submit();">
                <fa icon="sign-out-alt"/>
                Log out
            </a>
            <form id="logout-form" action="/logout" method="POST" style="display: none;">
                <input type="hidden" name="_token" :value="csrfToken">
            </form>
        </nav>
    </div>
</template>

<script>
export default {
    computed: {
        csrfToken() {
            return window.Drink.csrfToken
        }
    },
    methods: {
        toggleSidebar() {
            this.$store.dispatch('sidebar/toggle')
        }
    }
}
</script>