<template>
    <button type="button" :class="{
                'btn': true,
                'btn-warning': true,
                'btn-minutes': true,
                'for-home': for_home,
                'btn-loading': loading
                }" @click="sendNotificationToUser">{{text}}</button>
</template>

<script>
    import swal from 'sweetalert2'
    import i18n from '~/plugins/i18n'
    export default {
        name: "NotificationButton",
        data() {
            return {
                loading: false,
                text: (this.minutes === 'custom')?'CUSTOM':(this.minutes === 'confirm')?'CONFIRM':this.minutes+'min',
            }
        },
        props: {
            minutes: {
                required: true,
            },
            order_id: {
                required: true,
            },
            for_home: {
                required: false,
                default: false
            },
            table: {
                required: false,
                default: null,
            }
        },
        methods: {
            sendNotificationToUser() {
                let this_ = this;
                if (this_.table) {
                    this_.markOrder('ready')
                } else {
                    if (this_.minutes === 'custom') {
                        swal.fire({
                            title: 'When order will be ready?',
                            input: 'number',
                            inputAttributes: {
                                autocapitalize: 'off'
                            },
                            showCancelButton: true,
                            confirmButtonText: 'Submit',
                            showLoaderOnConfirm: true,
                            preConfirm: (minutes) => {
                                return parseInt(minutes)
                            },
                            allowOutsideClick: () => !Swal.isLoading()
                        }).then((minutes) => {
                            if (minutes.value) {
                                this_.markOrder('ready', minutes.value);
                            }
                        })
                    } else {
                        if (this_.for_home) {
                            this_.markOrder('ready', this_.minutes);
                        } else {
                            this_.send(this_.minutes);
                        }
                    }
                }
            },
            send(minutes) {
                let this_ = this;
                this_.loading = true;
                this.$http.post('order/' + this.order_id + '/notification', {'minutes': minutes})
                    .then((response) => {
                        this_.loading = false;
                        this_.text = 'Done';
                        if (this_.for_home) {
                            this_.markOrder('ready')
                        }
                        setTimeout(() =>{this_.text=(this_.minutes === 'custom')?'CUSTOM':(this_.minutes === 'confirm')?'CONFIRM':this_.minutes+'min'}, 1000);
                    }).catch((error) => {
                    this_.loading = false;
                    swal({
                        type: 'error',
                        title: i18n.t('error_alert_title'),
                        text: i18n.t('error_alert_text'),
                        reverseButtons: true,
                        confirmButtonText: i18n.t('ok'),
                        cancelButtonText: i18n.t('cancel')
                    });
                    console.log(error)
                });
            },
            markOrder(status, minutes) {
                let this_ = this;
                this_.loading = true;
                this.$http.post('order/' + this.order_id + '/change_status', {'status': status, minutes: minutes ? minutes: this_.minutes})
                    .then((response) => {
                        this.$http.get('/location/' + this.$store.state.page.selected_location + '/orders').then((response) => {
                            if (response.data.last_order_id !== this.$store.state.page.location_orders.last_order_id
                                && response.data.last_order_id !== ''
                                && response.data.last_order_id > this.$store.state.page.location_orders.last_order_id) {
                                if (this.$store.state.page.sound !== '') {
                                    this.$store.state.page.sound.play();
                                }
                            }
                            this.$store.dispatch('page/setLocationOrders', {location_orders: response.data});
                            this_.loading = false;
                        });
                    }).catch((error) => {
                    this_.loading = false;
                    swal({
                        type: 'error',
                        title: i18n.t('error_alert_title'),
                        text: i18n.t('error_alert_text'),
                        reverseButtons: true,
                        confirmButtonText: i18n.t('ok'),
                        cancelButtonText: i18n.t('cancel')
                    });
                    console.log(error)
                });
            },
        }
    }
</script>

<style scoped>
    .btn-minutes {
        border-radius: 2px;
        color: #f8613d;
        border: 1px solid #f8613d;
        background-color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        width: 20%;
        float: left;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
    .btn-minutes.for-home {
        width: 30%;
    }
    .btn-minutes:hover, .btn-ready:hover {
        color: #ffffff;
        background-color: #f8613d;
    }

</style>
