<template>
    <div class="orders-board">
        <h3 class="none text-center py-3" v-if="location_orders.last_order_id == ''">No orders</h3>
        <template v-else>
            <div v-for="(orders, status, index) in location_orders" v-if="status !== 'last_order_id'"
                 :class="'col-md-6 order-status-col col-lg-'+12/(Object.keys(location_orders).length-1)">
                <template v-if="status !== 'last_order_id'">
                    <div class="order-status-name">{{status}}({{(typeof orders !== "undefined")?
                        Object.values(orders).length:0}})
                        <svg v-if="status === 'pending'"
                             :style="{
                                                                position: 'absolute',
                                                                color: '#f8613d',
                                                                left: '48%',
                                                                top: '-20px',
                                                                display: (!Object.values(orders).length)?'none':'block'
                                                              }"
                             id="bouncing_arrow" aria-hidden="true"
                             focusable="false" data-prefix="fas"
                             data-icon="chevron-down" role="img" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 448 512" class="svg-inline--fa fa-chevron-down fa-w-14 fa-3x">
                            <path fill="currentColor"
                                  d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"
                                  class=""></path>
                        </svg>
                    </div>
                    <template v-if="Object.values(orders).length">
                        <template v-for="(order, order_id, index) in orders">
                            <board-item :key="order_id" :queue="order.queue" :order_details="order.items"
                                        :customer_name="order.customer_name"
                                        :table="order.table_number"
                                        :phone_number="order.phone_number"
                                        :delivery_address="order.delivery_address"
                                        :description="order.description"
                                        :latitude="order.latitude"
                                        :longitude="order.longitude"
                                        :tips="order.tips"
                                        :status="status"
                                        :payment_id="order.payment_id"
                                        :created_at="order.created_at"
                                        :currency_symbol="order.currency_symbol"
                                        :order_id="order_id"
                                        :total="order.grandtotal_price"></board-item>
                        </template>
                    </template>
                    <template v-else>
                        <div class="row info all-done">
                            <div class="col-sm-12">All done!</div>
                        </div>
                    </template>
                </template>
            </div>
        </template>
    </div>
</template>

<script>
    import BoardItem from "./BoardItem";
    import {mapGetters} from 'vuex';

    export default {
        name: "OrdersBoard",
        components: {BoardItem},
        computed: mapGetters({
            location_orders: 'page/location_orders',
        }),
        methods: {
          animate: () => {
              (function chevronDownloop() {
                  if ($('#bouncing_arrow').length) {
                      $('#bouncing_arrow').finish();
                      $('#bouncing_arrow').animate({'top': -50}, {
                          duration: 1000,
                          complete: function () {
                              $('#bouncing_arrow').animate({top: -20}, {
                                  duration: 1000,
                                  complete: chevronDownloop
                              });
                          }
                      });
                  }
              })();
          }
        },
        mounted(){
            this.animate();
        },
        updated() {
            this.animate();
        }
    }
</script>

<style scoped>
    .order-status-col {
        color: #726c7d;
        font-family: Rubik;
        text-align: center;
        font-size: 13px;
        font-weight: 400;
        line-height: 21px;
        padding: 0;
        text-transform: uppercase;
        border: 1px solid #e8e8e8;
        border-bottom: none;
    }

    .order-status-name {
        color: #726c7d;
        background-color: #fefefe;
        width: 100%;
        padding-top: 9px;
        padding-bottom: 7px;
    }

    .orders-board {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: 0;
        margin-left: 0;
    }

    .none {
        margin: auto;
        padding-bottom: 20px;
    }

    .all-done {
        margin: 15px;
        padding: 19px;
        font-size: 50px;
        color: white;
    }
</style>
