<template>
    <div class="page-header-with-filter d-flex align-items-center p-3 border-bottom" v-if="title">
        <div class="page-title-wrapper col-md-2">
            <div class="page-title">{{title}}</div>
        </div>
        <div class="col-md-10">
            <fieldset class="form-inline float-right">
                <div class="form-group">
                    <div style="max-width: 150px">
                        <span class="home" @click="setPrinter">
                             <template v-if="selected_location_printer && can_print && can_print[selected_location]">
                                <img style="bottom: 2px; position: relative" height="20" src="/images/yes.png"> Auto printing: On
                             </template>
                            <template v-else-if="selected_location_printer">
                                <img style="bottom: 2px; position: relative" height="20" src="/images/warning.png"> Auto printing: Off
                            </template>
                             <template v-else>
                                <img style="bottom: 2px; position: relative" height="20" src="/images/no.png"> Auto printing: Off
                            </template>
                        </span>
                        <template v-if="selected_location_printer && selected_location_printer_https_errors">
                        <br>
                        <p style="text-align: center">
                            <a target="_blank" :href="'https://'+selected_location_printer">Missing certificate! Please follow this link to add an exception and retry printer setup again.</a>
                        </p>
                        </template>
                    </div>
                    <div style="margin-left: 10px" class="home" @click="changeDelivery"
                         v-if="selected_location_delivery === 1 || selected_location_delivery === 0">
                        <template v-if="selected_location_delivery">
                            <img style="bottom: 2px; position: relative" height="20" src="/images/yes.png"> Home Delivery: On
                        </template>
                        <template v-else>
                            <img style="bottom: 2px; position: relative" height="20" src="/images/no.png"> Home Delivery: Off
                        </template>
                    </div>
                <button :class="{btn: true,
                                    'btn-sm':true,
                                    'btn-warning': true,
                                    'btn-sound': true,
                                    'btn-ready':sound!=='',
                                    'btn-enable':sound==='',
                                    }" @click="setSound">
                        <template v-if="sound === ''">
                            Enable sound
                        </template>
                        <template v-else>
                            Disable sound
                        </template>
                    </button>
                    <label class="filter-by-location">Filter by location:</label>
                    <select name="location" class="form-control" @change="changeLocation">
                        <option
                            v-for="location in locations"
                            v-bind:value="location.id"
                            :selected="location.id == selected_location"
                        >{{location.name}}({{location.total_orders}})
                        </option>
                    </select>

                </div>
            </fieldset>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import swal from 'sweetalert2'
    import {setPrinter} from "../functions";

    export default {
        computed: mapGetters({
            title: 'page/title',
            locations: 'page/locations',
            can_print: 'page/can_print',
            selected_location: 'page/selected_location',
            selected_location_delivery: 'page/selected_location_delivery',
            selected_location_printer: 'page/selected_location_printer',
            selected_location_printer_https_errors: 'page/selected_location_printer_https_errors',
            location_orders: 'page/location_orders',
            sound: 'page/sound',
            sound_counter: 'page/sound_counter',
        }),
        methods: {
            changeDelivery: function () {
                let value = this.selected_location_delivery === 1 ? 0 : 1;
                let that = this;
                that.$store.dispatch('page/setSelectedLocationDelivery', {selected_location_delivery: value});
                this.$http.post('/location/' + this.selected_location + '/home-delivery', {value});
            },
            setPrinter: async function () {
                let that = this;
                await swal({
                    title: 'Enter printer IP address',
                    input: 'text',
                    inputValue: this.selected_location_printer ? this.selected_location_printer : '',
                    showCancelButton: true,
                    showCloseButton: true,
                    cancelButtonText: 'Turn off',
                    cancelButtonColor: '#dc3545',
                    confirmButtonText: 'Save',
                    inputValidator: (value) => {
                        let exp = /\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}/;
                        return !exp.test(value) && 'Enter valid IP address! e.g 192.168.192.168'
                    }
                }).then((result) => {
                    if (!result.dismiss && result.value) {
                        that.$store.dispatch('page/setSelectedLocationPrinter', {selected_location_printer: result.value});
                        that.$http.post('/location/' + that.selected_location + '/set-printer', {printer: result.value});
                        setPrinter(that, result.value, that.selected_location);
                    } else if (result.dismiss === swal.DismissReason.cancel) {
                        if (confirm('Do you want to disconnect the printer?')) {
                            that.$store.dispatch('page/setSelectedLocationPrinter', {selected_location_printer: ''});
                            that.$http.post('/location/' + that.selected_location + '/set-printer', {printer: ''});
                            setPrinter(that, '', that.selected_location);
                        }

                    }
                    return result;
                });
            },
            setSound: function () {
                if (this.$store.state.page.sound === '') {
                    let sound = new Audio('/sounds/horn.mp3');
                    sound.play();
                    this.$store.dispatch('page/setSound', {sound: sound});
                } else {
                    this.$store.dispatch('page/setSound', {sound: ''});
                }
                this.$store.dispatch('page/setSoundCounter', {sound_counter: 0});
            },
            changeLocation: function (e) {
                let location = e.target.value;
                let that = this;
                this.$store.dispatch('page/setSelectedLocation', {selected_location: location});
                this.$http.get('/location/' + location + '/home-delivery').then(function (response) {
                    that.$store.dispatch('page/setSelectedLocationDelivery', {selected_location_delivery: response.data.data.to_home})
                    that.$store.dispatch('page/setSelectedLocationPrinter', {selected_location_printer: response.data.data.printer})
                    setPrinter(that, response.data.data.printer, that.selected_location);
                });

                this.$http.get('/location/' + location + '/orders').then((response) => {
                    this.$store.dispatch('page/setLocationOrders', {location_orders: response.data});
                }).catch((error) => {
                    console.log(error)
                });
            }
        }

    }
</script>
<style scoped>
    .home {
        margin-right: 10px;
        cursor: pointer;
    }

    .filter-by-location {
        color: #726c7d;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        margin-right: 15px;
    }

    .page-title {
        color: #1b1b1c;
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
    }

    .btn-sound {
        color: #ffffff;
        margin-right: 15px;
        border-radius: 0 2px 2px 0;
        border: 1px solid #f8613d;
        background-color: #f8613d;
        font-family: Rubik, sans-serif;
        font-size: 14px;
        font-weight: 500;
    }

    .btn-ready:hover, .btn-enable {
        color: #f8613d;
        background-color: #ffffff;
    }

    .btn-enable:hover, .btn-ready {
        color: #ffffff;
        background-color: #f8613d;
    }

</style>
