<template>
    <div class="page-header d-flex align-items-center p-3 border-bottom" v-if="title">
        <div class="page-title-wrapper">
            <div class="page-sub-title">{{subtitle}}</div>
            <div class="page-title ">{{title}}</div>
        </div>
        <div class="page-actions-wrapper ml-auto">
            <slot name="actions"></slot>
        </div>
    </div>            
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    computed: mapGetters({
        title: 'page/title',
        subtitle: 'page/subtitle',
    }),
}    
</script>