<template>
    <div id="pin-div" class="row justify-content-center">
        <div style="width: 320px">
            <div class="shadow-lg p-4">
                <form @submit.prevent="onSubmit" @keydown="form.onKeydown($event)">
                    <h3 class="mb-3">Enter PIN</h3>
                    <template v-if="success">
                        <div class="swal2-animate-success-icon swal2-icon swal2-icon-show swal2-success" style="display: flex;">
                            <span class="swal2-success-line-tip"></span> <span class="swal2-success-line-long"></span>
                            <div class="swal2-success-ring"></div>
                        </div>
                    </template>
                    <template v-else>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <input v-focus ref="pin" v-model="form.pin" :class="{ 'is-invalid': form.errors.has('pin') }"
                                       class="form-control"
                                       placeholder="PIN"
                                       id="pin_input"
                                       autofocus="true"
                                       autocomplete="off"
                                       type="text" name="pin">
                                <has-error :form="form" field="pin"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <v-button :loading="form.busy" type="primary">Submit</v-button>
                            </div>
                        </div>
                    </template>
                </form>
            </div>
        </div>
    </div>
</template>
<style scoped>
    #pin-div {
        height: 500px;align-items: center;
        margin-left: 0;
        margin-right: 0;
    }
    input:focus::-webkit-input-placeholder{
        color: transparent!important;
    }
    input:focus::-moz-placeholder{
        color: transparent!important;
    }
    input:focus:-moz-placeholder{
        color: transparent!important;
    }
</style>
<script>
    import Form from 'vform'
    import swal from 'sweetalert2'

    export default {
        data: () => ({
            success: false,
            form: new Form({
                pin: '',
            })
        }),
        props: {
            setPin: {
                type: String,
                required: true,
            },
        },
        directives: {
            focus: {
                inserted: function (el) {
                    el.focus()
                }
            }
        },
        mounted: () => {
            },
        methods: {
            async onSubmit() {
                let url = '/user/check_pin';
                let that = this;
                this.$http.post(url, {pin: that.form.pin}).then(function (resp) {
                    if (resp.data && resp.data.status && resp.data.status === 'success') {
                        that.success = true;
                        setTimeout(function () {
                            that.success = false;
                            that.$store.dispatch('page/setPin', {pin: that.setPin});
                        }, 1000);
                    } else {
                        that.form.pin = '';
                        swal({
                            title: '<div class="mt-3">Wrong PIN</div>',
                            type: 'error',
                        })
                    }
                });
            }
        },
    }
</script>
