<template>
    <button v-if="!refunded" type="button" :disabled="loading" :class="{
                'btn': true,
                'btn-danger': true,
                'btn-warning': true,
                'btn-loading': loading
                }" :style="custom_style" @click="markOrder('refund')">Refund</button>
</template>

<script>
    import swal from 'sweetalert2'
    import i18n from '~/plugins/i18n'
    export default {
        name: "RefundButton",
        data() {
            return {
                loading: false,
                text: 'Refund',
                table: null,
                refunded: false,
            }
        },
        props: {
            order_id: {
                required: true,
            },
            from_list: {
                required: false,
                default() {
                    return false;
                }
            },
            custom_style: {
              required: false,
              default() {
                  return null;
              }
            },
        },
        methods: {
            loadData() {
                this.$emit('event', null)
            },
            markOrder(status) {
                let this_ = this;
                this_.loading = true;
                if (status !== 'refund' || confirm('Refund order?')) {
                    this.$http.post('order/' + this.order_id + '/change_status', {'status': status})
                        .then((response) => {
                            if(!this_.from_list) {
                                this.$http.get('/location/' + this.$store.state.page.selected_location + '/orders').then((response) => {
                                    if (response.data.last_order_id !== this_.$store.state.page.location_orders.last_order_id
                                        && response.data.last_order_id !== ''
                                        && response.data.last_order_id > this_.$store.state.page.location_orders.last_order_id) {
                                        if (this_.$store.state.page.sound !== '') {
                                            this_.$store.state.page.sound.play();
                                        }
                                    }
                                    swal({
                                        type: 'success',
                                        title: 'Refund',
                                        html: '<p>Order was refunded</p>',
                                    });
                                    this.$store.dispatch('page/setLocationOrders', {location_orders: response.data});
                                    this_.loading = false;
                                });
                            } else {
                                this_.refunded = true;
                                this_.loading = false;
                                this_.loadData();
                                swal({
                                    type: 'success',
                                    title: 'Refund',
                                    html: '<p>Order was refunded</p>',
                                });
                            }
                        }).catch((error) => {
                        this_.loading = false;
                        swal({
                            type: 'error',
                            title: i18n.t('error_alert_title'),
                            text: i18n.t('error_alert_text'),
                            reverseButtons: true,
                            confirmButtonText: i18n.t('ok'),
                            cancelButtonText: i18n.t('cancel')
                        });
                        console.log(error)
                    });
                } else {
                    this_.loading = false;
                }
            },
        }
    }
</script>

<style scoped>
    .btn-danger:hover {
        color: #dc3545;
    }

    .btn-danger {
        color: #ffffff;
        border-radius: 0 2px 2px 0;
        border: 1px solid #dc3545;
        background-color: #dc3545;
        font-family: Rubik, sans-serif;
        font-size: 14px;
        font-weight: 500;
        float: left;
        width: 20%;
    }
    .btn-danger:hover {
        background-color: #ffffff;
    }
</style>
