<template>
	<div class="sidebar-wrapper" :class="{ collapsed: collapsed }">
		<div class="sidebar-header text-center">
			<div class="brand">
				<img class="logo img-fluid rounded-circle" src="/images/logo-192.png">
			</div>
			<div class="user-infos mt-3 hide-collapsed">
				<router-link :to="{name: 'admin.settings.profile'}"><span class="user-name text-white"><strong>{{user.name}}</strong></span></router-link>				
			</div>
			<!-- <div class="user-buttons mt-2 hide-collapsed">
				<router-link :to="{name: 'admin.settings.profile'}" class="btn bg-transparent text-secondary"><fa icon="user"/></router-link>
				<router-link :to="{name: 'admin.settings.password'}" class="btn bg-transparent text-secondary"><fa icon="cog"/></router-link>
			</div> -->
		</div>
		<div class="sidebar-nav">
			<ul class="sidebar-menu main-menu">
				<template v-for="menu in menus">
					<router-link tag="li" :to="{ name: menu.route }" class="menu-item" active-class="active">
						<a class="menu-link">
							<fa :icon="menu.icon" class="menu-icon" fixed-width/>
			              	<span class="hide-collapsed">{{ menu.name }}</span>
			            </a>
			            <template v-if="menu.children">
			            	<ul class="sidebar-menu sub-menu">
			            		<template v-for="submenu in menu.children">
				            		<router-link tag="li" :to="{ name: submenu.route }" class="menu-item" active-class="active">
				            			<a class="menu-link">
				            			  	<fa :icon="submenu.icon" fixed-width />
							              	<span class="hide-collapsed">{{ submenu.name }}</span>
							            </a>
						            </router-link>
						        </template>
			            	</ul>
			            </template>
					</router-link>
				</template>
			</ul>
		</div>
		<div class="sidebar-footer">
			<div class="d-flex">
				<span class="hide-collapsed">© 2019 DrinkApp</span>
				<a class="ml-auto link-help" href="/help">Help</a>
			</div>
		</div>
	</div>
</template>

<script>
import { mapGetters } from 'vuex'
import { admin as menus } from '~/config/menu'

export default {
	computed: mapGetters({
	    user: 'auth/user',
	    collapsed: 'sidebar/collapsed'
	}),	
	data() {
		return {
			menus: menus
		}
	}
}
</script>