<template>
    <span :style="{color: color}" @click="setStatus(rowData)"><fa icon="circle"/></span>
</template>

<script>
import swal from 'sweetalert2'

export default{
    props: {
        rowData: {
            type: Object,
            required: true
        },
        apiUrl: {
            type: String,
            required: true
        }
    },
    computed: {
        color() {
            return (this.rowData.status == 1) ? '#28a745' : '#ccc'
        }
    },
    methods: {
        setStatus(rowData) {
            let index = this
            if (rowData.status == 1) {
                var confirm = "Suspend"
                var confirmColor = "rgb(221, 51, 51)"
            }
            else {
                var confirm = "Unsuspend" 
                var confirmColor = "rgb(40, 167, 69)"
            }
            swal({
                title: '<div class="mt-3">Change status?</div>',
                html: '<div class="my-3">'+rowData.full_name+'</div>',
                reverseButtons: true,
                showCancelButton: true,
                confirmButtonColor: confirmColor,
                confirmButtonText: confirm,
            }).then(function (result) {
                result.value && index.postData(rowData)
            })            
        },
        postData(rowData) {
            var status = 1;
            if (rowData.status == 1) {
                status = 2; // Suspend
            }
            else {
                status = 1;
            }
            this.$http.post(this.apiUrl + '/' + rowData.id + '/status', {status: status})
            .then((response) => {
                this.rowData.status = response.data.status
                toastr.success('Changed successfully!')
            }).catch((response) => {
                if (response.data.error) {
                    toastr.error(response.data.error.message)
                } else if (response.data.messages && response.data.messages.length) {
                    toastr.error(response.data.messages.join(" "))
                } else {
                    toastr.error(response.status + ' : Resource ' + response.statusText)
                }
            })
        }
    }
}
</script>

<style lang="scss" scoped>
span {
  cursor:pointer;
}
</style>
