<template>
    <div class="table-container" :class="wrapperClass">
        <div class="table-header d-flex py-3">
            <h5 class="align-self-center font-weight-normal">{{title}} <template v-if="showTotal">({{ totalCount }})</template></h5>
            <div class="ml-auto d-flex flex-row">
                <button class="export_button" @click="downloadExport()" v-if="exportUrl">Export</button>
                <slot name="buttons">
                    <vue-hotel-datepicker
                    mobile="mobile"
                    :startDate="dateStart"
                    :endDate="dateEnd"
                    :singleDaySelection="true"
                    :separator="'-'"
                    :minDate="minDate"
                    @comform="updateDates"
                    @reset="resetDates">
                    </vue-hotel-datepicker>
                </slot>

                <div class="input-group input-group-sm ml-2" v-if="showSearch">
                    <input type="text" class="form-control" v-model="searchable[searchKey]" :placeholder="searchPlaceholder" @keyup.enter="onSearch()">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button" @click="onSearch()"><fa icon="search"/></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table :class="tableClass">
                <thead>
                    <tr>
                        <template v-if="showRowNum">
                            <th>No</th>
                        </template>
                        <template v-for="field in fields">
                            <template v-if="isSpecialField(field.name)">
                                <th v-if="field.name == '__actions'" :class="field.titleClass">
                                    <template v-if="field.trans">
                                        {{ $t(field.trans) }}
                                    </template>
                                    <template v-else>
                                        {{ field.title ? field.title : '' }}
                                    </template>
                                </th>
                                <th v-if="field.name == '__component'" :class="field.titleClass">
                                    <template v-if="field.trans">
                                        {{ $t(field.trans) }}
                                    </template>
                                    <template v-else>
                                        {{ field.title ? field.title : field.name }}
                                    </template>
                                </th>
                                <th v-if="field.name == '__status'" :class="field.titleClass">
                                    <template v-if="field.trans">
                                        {{ $t(field.trans) }}
                                    </template>
                                    <template v-else>
                                        {{ field.title ? field.title : field.name }}
                                    </template>
                                </th>
                            </template>
                            <template v-else>
                                <th :class="field.titleClass" @click="(field.sortable)?sortBy((field.sort_field)?field.sort_field:field.name):null">
                                    <template v-if="field.trans">
                                        {{ $t(field.trans) }}
                                    </template>
                                    <template v-else>
                                        {{ field.title ? field.title : field.name }}
                                        <template v-if="field.sortable">
                                            <template v-if="sortKey != field.name && field.sort_field != sortKey ">
                                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="sort" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-sort fa-w-10 "><path fill="currentColor" d="M41 288h238c21.4 0 32.1 25.9 17 41L177 448c-9.4 9.4-24.6 9.4-33.9 0L24 329c-15.1-15.1-4.4-41 17-41zm255-105L177 64c-9.4-9.4-24.6-9.4-33.9 0L24 183c-15.1 15.1-4.4 41 17 41h238c21.4 0 32.1-25.9 17-41z" class=""></path></svg>
                                            </template>
                                            <template v-else>
                                                <template v-if="sortOrder == 'asc'">
                                                    <svg aria-hidden="true" focusable="false" data-prefix="fas"
                                                         data-icon="sort-up" role="img"
                                                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
                                                         class="svg-inline--fa fa-sort-up fa-w-10 ">
                                                        <path fill="currentColor"
                                                              d="M279 224H41c-21.4 0-32.1-25.9-17-41L143 64c9.4-9.4 24.6-9.4 33.9 0l119 119c15.2 15.1 4.5 41-16.9 41z"
                                                              class=""></path>
                                                    </svg>
                                                </template>
                                                <template v-else>
                                                    <svg aria-hidden="true" focusable="false" data-prefix="fas"
                                                         data-icon="sort-down" role="img"
                                                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
                                                         class="svg-inline--fa fa-sort-down fa-w-10 ">
                                                        <path fill="currentColor"
                                                              d="M41 288h238c21.4 0 32.1 25.9 17 41L177 448c-9.4 9.4-24.6 9.4-33.9 0L24 329c-15.1-15.1-4.4-41 17-41z"
                                                              class=""></path>
                                                    </svg>
                                                </template>
                                            </template>
                                        </template>
                                    </template>
                                </th>
                            </template>
                        </template>
                        <th v-if="withRefund">ACTION</th>
                    </tr>
                </thead>
                <tbody v-cloak>
                    <template v-if="items.length > 0">
                        <tr v-for="(item, index) in items">
                            <template v-if="showRowNum">
                                <td>
                                    {{(index + 1) + (currentPage - 1) * 10}}
                                </td>
                            </template>
                            <template v-for="field in fields">
                                <template v-if="isSpecialField(field.name)">
                                    <template v-if="field.name == '__actions'">
                                        <td :class="field.dataClass" class="actions">
                                            <template v-for="action in itemActions">
                                                <button @click="callAction(action.name, item, currentPage)" :class="action.class" :title="action.title" :style="{background: action.color}">
                                                    <fa :icon="action.icon"/>
                                                    {{ action.label }}
                                                </button>
                                            </template>
                                        </td>
                                    </template>
                                    <template v-if="field.name == '__component'">
                                        <td :class="field.dataClass" class="component">
                                            <custom-action :api-url="apiUrl" :row-data="item"></custom-action>
                                        </td>
                                    </template>
                                    <template v-if="field.name == '__status'">
                                        <td :class="field.dataClass" class="component">
                                            <status-action :api-url="apiUrl" :row-data="item"></status-action>
                                        </td>
                                    </template>
                                </template>
                                <template v-else>
                                    <td v-if="hasCallback(field)" :class="field.dataClass" v-html="callCallback(field, item)">
                                    </td>
                                    <td :class="field.dataClass" v-else>
                                        {{ item[field.name] }}
                                    </td>
                                </template>
                            </template>
                            <td v-if="withRefund"><RefundButton @event="loadData" :from_list="true" v-if="item.status < 6 && item.payment_id && item.status != 1" custom_style="width: 80px" :order_id="item.id"/></td>
                        </tr>
                    </template>
                </tbody>
            </table>
            <h3 class="none text-center py-3" v-if="items.length == 0">No Content</h3>
            <table-pagination ref="pagination" v-on:loadPage="loadPage" v-if="showPaginate && items.length > 0"></table-pagination>
        </div>
    </div>
</template>
<script>
    import CustomAction from '~/components/CustomAction'
    import StatusAction from '~/components/StatusAction'
    import TablePagination from '~/components/TablePagination'
    import VueHotelDatepicker from "~/components/VueHotelDatepicker";
    import RefundButton from "./RefundButton";

    export default {
    components: {
        RefundButton,
        VueHotelDatepicker,
        TablePagination,
        CustomAction,
        StatusAction,
    },
    props: {
        wrapperClass: {
          type: String,
          default () {
            return null
          }
        },
        tableClass: {
          type: String,
          default () {
            return 'table table-striped table-hover'
          }
        },
        title: {
          type: String,
          default () {
            return ''
          }
        },
        exportUrl: {
          type: String,
          default () {
            return ''
          }
        },
        showSearch: {
          type: Boolean,
          default () {
            return true
          }
        },
        showRowNum: {
          type: Boolean,
          default () {
            return false
          }
        },
        showPaginate: {
          type: Boolean,
          default () {
            return false
          }
        },
        showDates: {
          type: Boolean,
          default () {
            return false
          }
        },
        withRefund: {
          type: Boolean,
          default () {
            return false
          }
        },
        fields: {
          type: Array,
          required: true
        },
        apiUrl: {
          type: String,
          required: true
        },
        disabledClass: {
          type: String,
          default () {
            return 'disabled'
          }
        },
        itemActions: {
          type: Array,
          default () {
            return [
              { name: 'edit-item', icon: 'fas fa-pencil-alt', class: 'btn btn-info' },
              { name: 'delete-item', icon: 'fas fa-trash-alt', class: 'btn btn-danger' }
            ]
          }
        },
        moreParams: {
          type: Object,
          default() {
            return {}
          },
        },
        canSearch: {
          type: Boolean,
          default: true,
        },
        showTotal: {
          type: Boolean,
          default: true,
        },
        searchKey: {
          type: String,
          default: 'keyword'
        },
        searchPlaceholder: {
          type: String,
          default: 'Search',
        }
    },
    data() {
        return {
            dateStart: '',
            dateEnd: '',
            minDate: new Date(2019, 0, 1, 0, 0, 0),
            items: [],
            params: this.moreParams || {},
            searchable: {
                [this.searchKey]: ''
            },
            totalPage: 0,
            totalCount: 0,
            currentPage: 0,
            pagination: null,
            sortKey: '',
            sortOrder: ''
        }
    },
    watch: {
        $route() {
            let pageNum = 1;

            if (this.$route.query.page) {
                pageNum = this.$route.query.page
            }

            this.loadPage(pageNum)
        }
    },
    created() {
        if (this.$route.query[this.searchKey]) {
            this.searchable[this.searchKey] = this.$route.query[this.searchKey]
        }

        if (this.$route.query.page) {
            this.onSearch(this.$route.query.page)
        }
        else {
            this.onSearch()
        }
    },
    mounted() {
        this.$parent.$on('reload', (page) => {
            if (page) {
                this.onSearch(page)
            }
            else {
                this.onSearch(this.$route.query.page)
            }
        })
    },
    methods: {
        downloadExport: function()
        {
            let offset = new Date().getTimezoneOffset();
            let params = this.parseURLParams(window.location.href);
            window.location.href = '/order/export?keyword='+params['keyword'][0]
                +'&dateStart='+params['dateStart'][0]
                +'&sortKey='+params['sortKey'][0]
                +'&sortOrder='+params['sortOrder'][0]
                +'&dateEnd='+params['dateEnd'][0]
                +'&offset='+offset;
        },
        updateDates: function(data)
        {
            this.dateStart = data.start;
            this.dateEnd = data.end;
            this.loadData();
        },
        resetDates: function()
        {
            this.dateStart = '';
            this.dateEnd = '';
            this.loadData();
        },
        sortBy: function (key) {
            if (this.sortKey === '') {
                this.currentPage = 1;
            }
            this.sortKey = key;
            this.sortOrder = (this.sortOrder === '' || this.sortOrder === 'desc')?this.sortOrder='asc':'desc';
            this.loadData();
        },
        parseURLParams: function (url) {
            let queryStart = url.indexOf("?") + 1,
                queryEnd = url.indexOf("#") + 1 || url.length + 1,
                query = url.slice(queryStart, queryEnd - 1),
                pairs = query.replace(/\+/g, " ").split("&"),
                parms = {}, i, n, v, nv;

            if (query === url || query === "") return;

            for (i = 0; i < pairs.length; i++) {
                nv = pairs[i].split("=", 2);
                n = decodeURIComponent(nv[0]);
                v = decodeURIComponent(nv[1]);

                if (!parms.hasOwnProperty(n)) parms[n] = [];
                parms[n].push(nv.length === 2 ? v : null);
            }
            return parms;
        },
        loadPage(page) {
            if (page == 'prev') {
                this.goPreviousPage()
            } else if (page == 'next') {
                this.goNextPage()
            } else {
                this.goPage(page)
            }
        },
        onSearch(page) {
            this.currentPage = page ? page : 1;

            this.params = this.searchable;

            setTimeout(() => {
                this.loadData()
            }, 10)
        },
        loadData() {
            let url = this.apiUrl;
            let params = {};

            if (this.currentPage) {
                params = Object.assign(this.params, {
                  page: this.currentPage
                })
            } else {
                params = this.params
            }
            params['sortKey'] = this.sortKey;
            params['sortOrder'] = this.sortOrder;
            params['dateStart'] = this.dateStart;
            params['dateEnd'] = this.dateEnd;
            params['offset'] = new Date().getTimezoneOffset();
            this.$router.push({ name: this.$route.name, query: params });
            this.$http.get('/order/total_today', {offset: params['offset']}).then(response => {
                this.$store.dispatch('page/setOrdersTotal', {orders_total: response.data.orders_total});
            });
            this.$http.get(url, { params: params })
            .then(response => {
                this.totalCount = response.data.meta.pagination.total;
                this.pagination = response.data.meta.pagination;
                this.items = response.data.data;
                this.totalPage = response.data.meta.pagination.total_pages;
                this.currentPage = response.data.meta.pagination.current_page;
                if (this.showPaginate && this.items.length != 0) {
                    this.$nextTick(() => {
                      this.$refs.pagination.$data.pagination = this.pagination
                    })
                }
            })
        },
        goPreviousPage() {
            if (this.currentPage > 1) {
                this.currentPage--
                this.loadData()
            }
        },
        goNextPage() {
            if (this.currentPage < this.totalPage) {
                this.currentPage++
                this.loadData()
            }
        },
        goPage(page) {
            if (page != this.currentPage && (page > 0 && page <= this.totalPage)) {
                this.currentPage = page
                this.loadData()
            }
        },
        hasCallback(item) {
            return item.callback ? true : false
        },
        callCallback(field, item) {
            if (!this.hasCallback(field)) return

            var args = field.callback.split('|')
            var func = args.shift()
            args.push(item);
            if (typeof this.$parent[func] == 'function') {
                return (args.length > 0) ?
                    this.$parent[func].apply(this.$parent, [this.getObjectValue(item, field.name)].concat(args)) :
                    this.$parent[func].call(this.$parent, this.getObjectValue(item, field.name))
            }
            return null
        },
        getObjectValue(object, path, defaultValue) {
            defaultValue = (typeof defaultValue == 'undefined') ? null : defaultValue

            var obj = object
            if (path.trim() != '') {
                var keys = path.split('.')
                keys.forEach((key) => {
                    if (obj !== null && typeof obj[key] != 'undefined' && obj[key] !== null) {
                        obj = obj[key]
                    } else {
                        obj = defaultValue
                        return
                    }
                })
            }
            return obj
        },
        isSpecialField(name) {
            return name.slice(0, 2) === '__'
        },
        callAction(action, data, page) {
            this.$emit('table-action', action, data, page)
        },
        reload() {
            this.loadData()
        }
    }
}
</script>

<style lang="scss" scoped>
.btn {
    outline: none;
}

.table {
    border-bottom: 1px solid #e7eaec;
}

.none {
    color: #e7eaec;
    padding-bottom: 20px;
}

.actions {
    width: 15%;
    padding: 12px 0px;
    text-align: center;
}

.actions button {
    color: #6c757d;
}
.export_button {
    width: 130px;
    margin-right: 10px;
}
.sortable {
    cursor: pointer;
}
</style>
<style lang="css">
    .vhd-container .vhd-input {
        padding: 0 ;
        line-height: 30px ;
    }
</style>
