<template>
    <div class="table-container" :class="wrapperClass">
        <div class="table-header d-flex py-3">
            <h5 class="align-self-center font-weight-normal">{{ totalCount }} {{title}}</h5>
            <div class="ml-auto d-flex flex-row">
                <slot name="buttons"></slot>
                <div class="input-group input-group-sm ml-2">
                    <input type="text" class="form-control" v-model="searchable[searchKey]" :placeholder="searchPlaceholder" @keyup.enter="onSearch()">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button" @click="onSearch()"><fa icon="search"/></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table :class="tableClass">
                <thead>
                    <tr>
                        <template v-if="showRowNum">
                            <th>No</th>
                        </template>
                        <template v-for="field in fields">
                            <template v-if="isSpecialField(field.name)">
                                <th v-if="field.name == '__actions'" :class="field.titleClass">
                                    <template v-if="field.trans">
                                        {{ $t(field.trans) }}
                                    </template>
                                    <template v-else>
                                        {{ field.title ? field.title : '' }}
                                    </template>
                                </th>
                                <th v-if="field.name == '__component'" :class="field.titleClass">
                                    <template v-if="field.trans">
                                        {{ $t(field.trans) }}
                                    </template>
                                    <template v-else>
                                        {{ field.title ? field.title : field.name }}
                                    </template>
                                </th>
                                <th v-if="field.name == '__status'" :class="field.titleClass">
                                    <template v-if="field.trans">
                                        {{ $t(field.trans) }}
                                    </template>
                                    <template v-else>
                                        {{ field.title ? field.title : field.name }}
                                    </template>
                                </th>
                            </template>
                            <template v-else>
                                <th :class="field.titleClass">
                                    <template v-if="field.trans">
                                        {{ $t(field.trans) }}
                                    </template>
                                    <template v-else>
                                        {{ field.title ? field.title : field.name }}
                                    </template>
                                </th>
                            </template>
                        </template>
                    </tr>
                </thead>
                <tbody v-cloak>
                    <template v-if="items.length > 0">
                        <tr v-for="(item, index) in items">
                            <template v-if="showRowNum">
                                <td>
                                    {{(index + 1) + (currentPage - 1) * 10}}
                                </td>
                            </template>
                            <template v-for="field in fields">
                                <template v-if="isSpecialField(field.name)">
                                    <template v-if="field.name == '__actions'">
                                        <td :class="field.dataClass" class="actions">
                                            <template v-for="action in itemActions">
                                                <button @click="callAction(action.name, item, currentPage)" :class="action.class" :title="action.title" :style="{background: action.color}">
                                                    <fa :icon="action.icon"/>
                                                    {{ action.label }}
                                                </button>
                                            </template>
                                        </td>
                                    </template>
                                    <template v-if="field.name == '__component'">
                                        <td :class="field.dataClass" class="component">
                                            <custom-action :api-url="apiUrl" :row-data="item"></custom-action>
                                        </td>
                                    </template>
                                    <template v-if="field.name == '__status'">
                                        <td :class="field.dataClass" class="component">
                                            <status-action :api-url="apiUrl" :row-data="item"></status-action>
                                        </td>
                                    </template>
                                </template>
                                <template v-else>
                                    <template v-if="field.name == 'price_eur'
                                    || field.name == 'price_gbp'
                                    || field.name == 'price_usd'
                                    || field.name == 'price_aed'">
                                        <td style="text-align: center;width: 200px;min-width: 200px; max-width:200px" v-if="at_changing_mode.indexOf(field.name+'_'+item.id) !== -1">
                                            <div class="input-group">
                                                <input min="0" :ref="'price_input_'+field.name+'_'+item.id" v-on:keyup.enter="sendData(item, index, field)" v-focus type="number" class="form-control" autofocus :value="item[field.name]">
                                                <div class="input-group-append">
                                                    <button  @click="sendData(item, index, field)" class="input-group-text btn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" shape-rendering="geometricPrecision" fill="#00ff00" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 640 640"><path d="M626.689 15.414zm-55.654 574.472v.011H459.336c-2.09 0-3.79-1.689-3.79-3.767V416.97l-.013-.508c0-4.701-.862-8.599-2.575-11.587a23.657 23.657 0 0 0-1.05-1.618 13.646 13.646 0 0 0-1.23-1.394l-.105-.13c-1.571-1.559-3.544-2.764-5.859-3.59l-1.287-.39-.201-.071h-.035c-2.15-.579-4.571-.874-7.205-.886h-.26l-.402-.012H204.262c-4.618 0-8.433.886-11.35 2.528l-.095.07-1.382.875-.212.189c-.485.354-.957.791-1.394 1.193l-.083.094-.035.036c-3.213 3.271-4.82 8.197-4.82 14.705l-.023.2V586.13h-.012c0 2.08-1.724 3.756-3.78 3.756h-63.874a3.744 3.744 0 0 1-2.681-1.11l-62.906-62.894a3.901 3.901 0 0 1-1.512-3.083V69.474l-.024-.402c0-4.323.78-7.949 2.292-10.795h.011c.284-.555.58-1.016.898-1.5l.13-.166a9.743 9.743 0 0 1 1.3-1.535l.046-.083.13-.13h.012c1.323-1.322 2.965-2.35 4.82-3.094l.188-.095.095-.035.082-.06.945-.318v.012l.071-.036c2.197-.708 4.713-1.05 7.512-1.11l.46-.035h54.202c2.079 0 3.791 1.689 3.791 3.767v227.436c0 2.729.237 5.35.697 7.796a36.732 36.732 0 0 0 2.02 6.992l.07.106.013.036v.012a38.87 38.87 0 0 0 3.472 6.52c1.347 2.019 2.894 4.027 4.713 5.905l.118.094.023.036.036.012a38.841 38.841 0 0 0 8.433 6.638l.06.011.07.024.07.035 1.678.886.024.012 2.09.933v.012l.036.012.012.012h.035v.011c1.713.709 3.472 1.347 5.232 1.784h.036l.165.023.047.012h.178l1.346.284v.012c2.362.448 4.854.708 7.382.732l.106-.012h309.181c5.386 0 10.323-.933 14.847-2.787l.07-.048c4.536-1.866 8.682-4.677 12.473-8.421l.142-.177c1.866-1.878 3.579-3.91 4.996-6.024a36.432 36.432 0 0 0 3.45-6.342l.011-.06.035-.059.036-.118a35.794 35.794 0 0 0 2.138-6.98l.023-.142c.46-2.457.685-5.067.685-7.772V53.871c0-2.079 1.725-3.78 3.827-3.78h53.765c3.047 0 5.693.367 8.008 1.075 2.492.78 4.618 2.032 6.26 3.674 1.346 1.334 2.433 3.023 3.189 4.972l-.024.012.07.095.32.909h-.024l.06.13c.72 2.138 1.05 4.654 1.11 7.406l.047.448v.284l-.024.082v501.727c0 2.906-.378 5.587-1.075 7.855l-.059.165v.012l-.012.118-.413 1.122h-.012l-.118.296-.472 1.039-.071.2-.13.213-.012-.012-.154.308-.755 1.169h-.012l-.26.401-.732.898-.32.354c-.767.815-1.7 1.56-2.74 2.186a17.6 17.6 0 0 1-2.881 1.358l-.331.118c-.839.283-1.76.52-2.74.72l-.095.012-.059.012-.094.024-.45.07-.106.024h-.023l-.083.012c-1.17.165-2.54.283-3.957.307h-.696zM467.912 51.155l-296.248-1.063V262.42h-.024c0 2.386.295 4.465.886 6.272.154.295.224.543.343.78a10.107 10.107 0 0 0 2.078 3.153l.154.142v.011c.295.296.59.544.874.768.307.26.697.496 1.063.709 2.055 1.193 4.795 1.76 8.232 1.76v.011l269 1.312v-.012h.023v.012c4.724 0 8.197-1.099 10.346-3.308 2.186-2.22 3.284-5.716 3.296-10.535h-.024V51.155zM221.177 426.502h79.23v.023c1.842 0 3.377 1.5 3.377 3.343V586.53c0 1.843-1.535 3.367-3.378 3.367h-79.23v-.012c-1.83 0-3.365-1.512-3.365-3.355V429.868c0-1.842 1.535-3.366 3.366-3.366zm405.596 197.672zm-576.15-622h543.55c6.355 0 12.237 1.122 17.67 3.342l2.646 1.17c4.394 2.137 8.469 5.066 12.272 8.799l3.39 3.85 2.929 4.075c4.594 7.217 6.933 15.425 6.933 24.591v543.538c0 6.33-1.122 12.225-3.354 17.693-2.21 5.445-5.516 10.418-9.922 14.988a46.306 46.306 0 0 1-7.724 6.32l-1.323.885a40.453 40.453 0 0 1-5.823 2.989c-5.457 2.29-11.35 3.413-17.705 3.413H90.475l-1.276-1.287-83.576-83.576-5.48-3.638V47.846C-1.7 27.544 14.683 7.89 32.907 5.493c5.469-2.209 11.374-3.319 17.717-3.319z"/></svg></button>
                                                    <button  @click="cancel(item, field)" class="input-group-text btn"><svg fill="#ff0000" width="16" height="16" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 426.667 426.667" style="enable-background:new 0 0 426.667 426.667;" xml:space="preserve">
<g>
	<g>
		<polygon points="303.147,153.813 272.853,123.52 213.333,183.253 153.813,123.52 123.52,153.813 183.253,213.333 123.52,272.853     153.813,303.147 213.333,243.413 272.853,303.147 303.147,272.853 243.413,213.333   "/>
	</g>
</g>
<g>
	<g>
		<path d="M213.333,0C95.513,0,0,95.513,0,213.333s95.513,213.333,213.333,213.333s213.333-95.513,213.333-213.333    S331.154,0,213.333,0z M213.333,388.053c-96.495,0-174.72-78.225-174.72-174.72s78.225-174.72,174.72-174.72    c96.446,0.117,174.602,78.273,174.72,174.72C388.053,309.829,309.829,388.053,213.333,388.053z"/>
	</g>
</g>
</svg></button>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="editable" style="width: 200px;;min-width: 200px; max-width:200px" @click="changePrice(item, field)" v-else>{{field.name === 'price_eur'?'€':field.name === 'price_gbp'?'£':field.name === 'price_usd'?'$':'د.إ'}} {{item[field.name]}}</td>

                                    </template>
                                    <template v-else>
                                    <td v-if="hasCallback(field)" :class="field.dataClass" v-html="callCallback(field, item)">
                                    </td>
                                    <td :class="field.dataClass" v-else>
                                        {{ item[field.name] }}
                                    </td>
                                    </template>
                                </template>
                            </template>
                        </tr>
                    </template>
                </tbody>
            </table>
            <h3 class="none text-center py-3" v-if="items.length == 0">No Content</h3>
            <table-pagination ref="pagination" v-on:loadPage="loadPage" v-if="showPaginate && items.length > 0"></table-pagination>
        </div>
    </div>
</template>
<script>
import CustomAction from '~/components/CustomAction'
import StatusAction from '~/components/StatusAction'
import TablePagination from '~/components/TablePagination'
import swal from 'sweetalert2'

export default {
    components: {
        TablePagination,
        CustomAction,
        StatusAction,
    },
    directives: {
        focus: {
            inserted: function (el) {
                el.focus()
            }
        }
    },
    props: {
        wrapperClass: {
          type: String,
          default () {
            return null
          }
        },
        tableClass: {
          type: String,
          default () {
            return 'table table-striped table-hover'
          }
        },
        title: {
          type: String,
          default () {
            return ''
          }
        },
        showRowNum: {
          type: Boolean,
          default () {
            return false
          }
        },
        showPaginate: {
          type: Boolean,
          default () {
            return false
          }
        },
        fields: {
          type: Array,
          required: true
        },
        apiUrl: {
          type: String,
          required: true
        },
        disabledClass: {
          type: String,
          default () {
            return 'disabled'
          }
        },
        itemActions: {
          type: Array,
          default () {
            return [
              { name: 'edit-item', icon: 'fas fa-pencil-alt', class: 'btn btn-info' },
              { name: 'delete-item', icon: 'fas fa-trash-alt', class: 'btn btn-danger' }
            ]
          }
        },
        moreParams: {
          type: Object,
          default() {
            return {}
          },
        },
        canSearch: {
          type: Boolean,
          default: true,
        },
        searchKey: {
          type: String,
          default: 'keyword'
        },
        searchPlaceholder: {
          type: String,
          default: 'Search',
        }
    },
    data() {
        return {
            items: [],
            at_changing_mode: [],
            params: this.moreParams || {},
            searchable: {
                [this.searchKey]: ''
            },
            totalPage: 0,
            totalCount: 0,
            currentPage: 0,
            pagination: null
        }
    },
    watch: {
        $route() {
            let pageNum = 1

            if (this.$route.query.page) {
                pageNum = this.$route.query.page
            }

            this.loadPage(pageNum)
        }
    },
    created() {
        if (this.$route.query[this.searchKey]) {
            this.searchable[this.searchKey] = this.$route.query[this.searchKey]
        }

        if (this.$route.query.page) {
            this.onSearch(this.$route.query.page)
        }
        else {
            this.onSearch()
        }
    },
    mounted() {
        this.$parent.$on('reload', (page) => {
            if (page) {
                this.onSearch(page)
            }
            else {
                this.onSearch(this.$route.query.page)
            }
        })
    },
    methods: {
        changePrice(item, field)
        {
            let that = this;
            that.at_changing_mode.push(field.name+'_'+item.id);
        },
        sendData(item, index, field) {
            let value = this.$refs['price_input_'+field.name+'_'+item.id][0].value;
            if (value < 0) {
                swal({
                    title: '<div class="mt-3">price must be greater then 0</div>',
                    type: 'error',
                });
                return;
            }
            this.at_changing_mode = this.at_changing_mode.filter(function (obj) {
                return obj !== field.name+'_'+item.id;
            });
            let data = {
                item_id: item.id,
                field_name: field.name,
                price: value,
            };
            this.items[index][field.name] = value;
            this.$http.post('/location-items/update-price', data);
        },
        cancel(item, field) {
            this.at_changing_mode = this.at_changing_mode.filter(function (obj) {
                return obj !== field.name+'_'+item.id;
            });
        },
        loadPage(page) {
            if (page == 'prev') {
                this.goPreviousPage()
            } else if (page == 'next') {
                this.goNextPage()
            } else {
                this.goPage(page)
            }
        },
        onSearch(page) {
            this.currentPage = page ? page : 1

            this.params = this.searchable

            setTimeout(() => {
                this.loadData()
            }, 10)
        },
        loadData() {
            let url = this.apiUrl
            let params = {}

            if (this.currentPage) {
                params = Object.assign(this.params, {
                  page: this.currentPage
                })
            } else {
                params = this.params
            }
            this.$router.push({ name: this.$route.name, query: params })

            this.$http.get(url, { params: params })
            .then(response => {
                this.totalCount = response.data.meta.pagination.total;
                this.pagination = response.data.meta.pagination
                this.items = response.data.data
                this.totalPage = response.data.meta.pagination.total_pages
                this.currentPage = response.data.meta.pagination.current_page

                if (this.showPaginate && this.items.length != 0) {
                    this.$nextTick(() => {
                      this.$refs.pagination.$data.pagination = this.pagination
                    })
                }
            })
        },
        goPreviousPage() {
            if (this.currentPage > 1) {
                this.currentPage--
                this.loadData()
            }
        },
        goNextPage() {
            if (this.currentPage < this.totalPage) {
                this.currentPage++
                this.loadData()
            }
        },
        goPage(page) {
            if (page != this.currentPage && (page > 0 && page <= this.totalPage)) {
                this.currentPage = page
                this.loadData()
            }
        },
        hasCallback(item) {
            return item.callback ? true : false
        },
        callCallback(field, item) {
            if (!this.hasCallback(field)) return

            var args = field.callback.split('|')
            var func = args.shift()
            args.push(item);
            if (typeof this.$parent[func] == 'function') {
                return (args.length > 0) ?
                    this.$parent[func].apply(this.$parent, [this.getObjectValue(item, field.name)].concat(args)) :
                    this.$parent[func].call(this.$parent, this.getObjectValue(item, field.name))
            }
            return null
        },
        getObjectValue(object, path, defaultValue) {
            defaultValue = (typeof defaultValue == 'undefined') ? null : defaultValue

            var obj = object
            if (path.trim() != '') {
                var keys = path.split('.')
                keys.forEach((key) => {
                    if (obj !== null && typeof obj[key] != 'undefined' && obj[key] !== null) {
                        obj = obj[key]
                    } else {
                        obj = defaultValue
                        return
                    }
                })
            }
            return obj
        },
        isSpecialField(name) {
            return name.slice(0, 2) === '__'
        },
        callAction(action, data, page) {
            this.$emit('table-action', action, data, page)
        },
        reload() {
            this.loadData()
        }
    }
}
</script>

<style lang="scss" scoped>
.btn {
    outline: none;
}

.table {
    border-bottom: 1px solid #e7eaec;
}

.none {
    color: #e7eaec;
    padding-bottom: 20px;
}

.actions {
    width: 15%;
    padding: 12px 0px;
    text-align: center;
}
td.editable {
    cursor: pointer;
    text-align: center;
}
td.editable:hover {
    border-color: #fcc5b8;
    box-shadow: 0 0 0 0.2rem rgba(248, 97, 61, 0.25);
    background-color: #fff;
}
.actions button {
    color: #6c757d;
}
</style>
