import swal from "sweetalert2";
<template>
    <div class="table-container" :class="wrapperClass">
        <div class="ml-auto d-flex flex-row">
            <div class="form-group col-sm-3">
            <label style="">Active:</label>
            <select class="form-control ml-2" v-model="selected_active" @change="onSearch">
                <template v-for="(option) in filters_options">
                    <option :value="option" :selected="selected_active==option">
                        {{option}}
                    </option>
                </template>
            </select>
            </div>
            <div class="form-group col-sm-3">
            <label style="">Out of Stock:</label>
            <select class="form-control ml-2" v-model="selected_out_of_stock" @change="onSearch">
                <template v-for="(option) in filters_options">
                    <option :value="option" :selected="selected_out_of_stock==option">
                        {{option}}
                    </option>
                </template>
            </select>
            </div>
            <div class="form-group col-sm-3">
            <label style="">Special Offer:</label>
            <select class="form-control ml-2" v-model="selected_is_special" @change="onSearch">
                <template v-for="(option) in filters_options">
                    <option :value="option" :selected="selected_is_special==option">
                        {{option}}
                    </option>
                </template>
            </select>
            </div>
            <div class="form-group col-sm-3">
                <label style="">Category:</label>
                <select class="form-control ml-2" v-model="selected_category" @change="categoryChange">
                    <template v-for="(option_obj) in categories">
                        <option :value="option_obj.id" :selected="selected_category==option_obj.id">
                            {{option_obj.name}}
                        </option>
                    </template>
                </select>
            </div>
        </div>
        <div class="table-header d-flex py-3">
            <h5 class="align-self-center font-weight-normal">{{ totalCount }} {{title}}</h5>
            <div v-if="selected_items.length>0 || select_all_in_category" class="dropdown">
                <button style="margin-left: 20px" class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButtonAction"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    mass actions
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonAction">
                    <a class="dropdown-item" @click="massAction('active', true)">Set active</a>
                    <a class="dropdown-item" @click="massAction('active', false)">Set inactive</a>
                    <a class="dropdown-item" @click="massAction('out_of_stock', true)">Set out of stock</a>
                    <a class="dropdown-item" @click="massAction('out_of_stock', false)">Set in stock</a>
                    <a class="dropdown-item" @click="massAction('is_special', true)">Add to special offer</a>
                    <a class="dropdown-item" @click="massAction('is_special', false)">Remove from special offer</a>
                </div>
            </div>
            <div class="ml-auto d-flex flex-row">
                <slot name="buttons"></slot>
                <autocomplete
                    ref="autocomplete"
                    :auto-select="true"
                    :search="searchF"
                    placeholder="Search"
                    aria-label="Search"
                    :get-result-value="getResultValue"
                    @submit="addSearch"
                ></autocomplete>
                <div @click="clearSearch" :class="{'img-clear': true, 'show': search}"><img width="32" height="32" src="/images/6209442861541068756.svg"></div>
            </div>
        </div>
        <div class="table-responsive">
            <table :class="tableClass">
                <thead>
                    <tr>
                        <th>
                            <div class="dropdown">
                                <input type="checkbox" :disabled="select_all_in_category"
                                       :checked="select_all_in_category||all_selected" v-model="all_selected"
                                       style="z-index: 100; position: relative" @change="pageItemsToggle">
                                <button style="position: relative; right: 20px; z-index: 2"
                                        class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    &nbsp;
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a  v-if="!select_all_in_category" class="dropdown-item" @click="pageItemsToggle(true)">
                                        <template v-if="!all_selected">Select all on page</template>
                                        <template v-else>Unselect all on page</template>
                                    </a>
                                    <a class="dropdown-item" @click="categoryItemsToggle">
                                        <template v-if="!select_all_in_category">Select all items in category</template>
                                        <template v-else>Unselect all items in category</template>
                                    </a>
                                </div>
                            </div>
                        </th>
                        <template v-if="showRowNum">
                            <th>No</th>
                        </template>
                        <template v-for="field in fields">
                            <template v-if="isSpecialField(field.name)">
                                <th v-if="field.name == '__actions'" :class="field.titleClass">
                                    <template v-if="field.trans">
                                        {{ $t(field.trans) }}
                                    </template>
                                    <template v-else>
                                        {{ field.title ? field.title : '' }}
                                    </template>
                                </th>
                                <th v-if="field.name == '__component'" :class="field.titleClass">
                                    <template v-if="field.trans">
                                        {{ $t(field.trans) }}
                                    </template>
                                    <template v-else>
                                        {{ field.title ? field.title : field.name }}
                                    </template>
                                </th>
                                <th v-if="field.name == '__status'" :class="field.titleClass">
                                    <template v-if="field.trans">
                                        {{ $t(field.trans) }}
                                    </template>
                                    <template v-else>
                                        {{ field.title ? field.title : field.name }}
                                    </template>
                                </th>
                            </template>
                            <template v-else>
                                <th :class="field.titleClass" @click="(field.sortable)?sortBy((field.sort_field)?field.sort_field:field.name):null">
                                    <template v-if="field.trans">
                                        {{ $t(field.trans) }}
                                    </template>
                                    <template v-else>
                                        {{ field.title ? field.title : field.name }}
                                        <template v-if="field.sortable">
                                            <template v-if="sortKey != field.name && field.sort_field != sortKey ">
                                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="sort" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-sort fa-w-10 "><path fill="currentColor" d="M41 288h238c21.4 0 32.1 25.9 17 41L177 448c-9.4 9.4-24.6 9.4-33.9 0L24 329c-15.1-15.1-4.4-41 17-41zm255-105L177 64c-9.4-9.4-24.6-9.4-33.9 0L24 183c-15.1 15.1-4.4 41 17 41h238c21.4 0 32.1-25.9 17-41z" class=""></path></svg>
                                            </template>
                                            <template v-else>
                                                <template v-if="sortOrder == 'asc'">
                                                    <svg aria-hidden="true" focusable="false" data-prefix="fas"
                                                         data-icon="sort-up" role="img"
                                                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
                                                         class="svg-inline--fa fa-sort-up fa-w-10 ">
                                                        <path fill="currentColor"
                                                              d="M279 224H41c-21.4 0-32.1-25.9-17-41L143 64c9.4-9.4 24.6-9.4 33.9 0l119 119c15.2 15.1 4.5 41-16.9 41z"
                                                              class=""></path>
                                                    </svg>
                                                </template>
                                                <template v-else>
                                                    <svg aria-hidden="true" focusable="false" data-prefix="fas"
                                                         data-icon="sort-down" role="img"
                                                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
                                                         class="svg-inline--fa fa-sort-down fa-w-10 ">
                                                        <path fill="currentColor"
                                                              d="M41 288h238c21.4 0 32.1 25.9 17 41L177 448c-9.4 9.4-24.6 9.4-33.9 0L24 329c-15.1-15.1-4.4-41 17-41z"
                                                              class=""></path>
                                                    </svg>
                                                </template>
                                            </template>
                                        </template>
                                    </template>
                                </th>
                            </template>
                        </template>
                    </tr>
                </thead>
                <tbody v-cloak>
                    <template v-if="items.length > 0">
                        <tr v-for="(item, index) in items">
                            <td><input type="checkbox" :disabled="select_all_in_category" :checked="selected_items.indexOf(item.id) !== -1||select_all_in_category" @change="toggleItemsSelect(item.id)"></td>
                            <template v-if="showRowNum">
                                <td>
                                    {{(index + 1) + (currentPage - 1) * 10}}
                                </td>
                            </template>
                            <template v-for="field in fields">
                                <template v-if="isSpecialField(field.name)">
                                    <template v-if="field.name == '__actions'">
                                        <td :class="field.dataClass" class="actions">
                                            <template v-for="action in itemActions">
                                                <button @click="callAction(action.name, item, currentPage)" :class="action.class" :title="action.title" :style="{background: action.color}">
                                                    <fa :icon="action.icon"/>
                                                    {{ action.label }}
                                                </button>
                                            </template>
                                        </td>
                                    </template>
                                    <template v-if="field.name == '__component'">
                                        <td :class="field.dataClass" class="component">
                                            <custom-action :api-url="apiUrl" :row-data="item"></custom-action>
                                        </td>
                                    </template>
                                    <template v-if="field.name == '__status'">
                                        <td :class="field.dataClass" class="component">
                                            <status-action :api-url="apiUrl" :row-data="item"></status-action>
                                        </td>
                                    </template>
                                </template>
                                <template v-else>
                                    <template v-if="['is_active', 'is_special', 'out_of_stock'].indexOf(field.name)>-1">
                                        <td class="text-center">
                                            <input type="checkbox" :disabled="['is_special', 'out_of_stock'].indexOf(field.name)>-1 && !item.is_active" :checked="item[field.name]" @click="handleChange(field, items, item, index)">
                                        </td>
                                    </template>
                                    <template v-else>
                                        <template v-if="field.name == 'price'">
                                            <td  style="width: 200px;min-width: 200px; max-width:200px;" v-if="at_changing_mode.indexOf(item.id) !== -1">
                                                <div class="input-group">
                                                    <input min="0" :ref="'price_input_'+item.id" v-on:keyup.enter="sendData(item, index)" v-focus type="number" class="form-control" autofocus :value="item.price">
                                                    <div class="input-group-append">
                                                        <button  @click="sendData(item, index)" class="input-group-text btn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" shape-rendering="geometricPrecision" fill="#00ff00" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 640 640"><path d="M626.689 15.414zm-55.654 574.472v.011H459.336c-2.09 0-3.79-1.689-3.79-3.767V416.97l-.013-.508c0-4.701-.862-8.599-2.575-11.587a23.657 23.657 0 0 0-1.05-1.618 13.646 13.646 0 0 0-1.23-1.394l-.105-.13c-1.571-1.559-3.544-2.764-5.859-3.59l-1.287-.39-.201-.071h-.035c-2.15-.579-4.571-.874-7.205-.886h-.26l-.402-.012H204.262c-4.618 0-8.433.886-11.35 2.528l-.095.07-1.382.875-.212.189c-.485.354-.957.791-1.394 1.193l-.083.094-.035.036c-3.213 3.271-4.82 8.197-4.82 14.705l-.023.2V586.13h-.012c0 2.08-1.724 3.756-3.78 3.756h-63.874a3.744 3.744 0 0 1-2.681-1.11l-62.906-62.894a3.901 3.901 0 0 1-1.512-3.083V69.474l-.024-.402c0-4.323.78-7.949 2.292-10.795h.011c.284-.555.58-1.016.898-1.5l.13-.166a9.743 9.743 0 0 1 1.3-1.535l.046-.083.13-.13h.012c1.323-1.322 2.965-2.35 4.82-3.094l.188-.095.095-.035.082-.06.945-.318v.012l.071-.036c2.197-.708 4.713-1.05 7.512-1.11l.46-.035h54.202c2.079 0 3.791 1.689 3.791 3.767v227.436c0 2.729.237 5.35.697 7.796a36.732 36.732 0 0 0 2.02 6.992l.07.106.013.036v.012a38.87 38.87 0 0 0 3.472 6.52c1.347 2.019 2.894 4.027 4.713 5.905l.118.094.023.036.036.012a38.841 38.841 0 0 0 8.433 6.638l.06.011.07.024.07.035 1.678.886.024.012 2.09.933v.012l.036.012.012.012h.035v.011c1.713.709 3.472 1.347 5.232 1.784h.036l.165.023.047.012h.178l1.346.284v.012c2.362.448 4.854.708 7.382.732l.106-.012h309.181c5.386 0 10.323-.933 14.847-2.787l.07-.048c4.536-1.866 8.682-4.677 12.473-8.421l.142-.177c1.866-1.878 3.579-3.91 4.996-6.024a36.432 36.432 0 0 0 3.45-6.342l.011-.06.035-.059.036-.118a35.794 35.794 0 0 0 2.138-6.98l.023-.142c.46-2.457.685-5.067.685-7.772V53.871c0-2.079 1.725-3.78 3.827-3.78h53.765c3.047 0 5.693.367 8.008 1.075 2.492.78 4.618 2.032 6.26 3.674 1.346 1.334 2.433 3.023 3.189 4.972l-.024.012.07.095.32.909h-.024l.06.13c.72 2.138 1.05 4.654 1.11 7.406l.047.448v.284l-.024.082v501.727c0 2.906-.378 5.587-1.075 7.855l-.059.165v.012l-.012.118-.413 1.122h-.012l-.118.296-.472 1.039-.071.2-.13.213-.012-.012-.154.308-.755 1.169h-.012l-.26.401-.732.898-.32.354c-.767.815-1.7 1.56-2.74 2.186a17.6 17.6 0 0 1-2.881 1.358l-.331.118c-.839.283-1.76.52-2.74.72l-.095.012-.059.012-.094.024-.45.07-.106.024h-.023l-.083.012c-1.17.165-2.54.283-3.957.307h-.696zM467.912 51.155l-296.248-1.063V262.42h-.024c0 2.386.295 4.465.886 6.272.154.295.224.543.343.78a10.107 10.107 0 0 0 2.078 3.153l.154.142v.011c.295.296.59.544.874.768.307.26.697.496 1.063.709 2.055 1.193 4.795 1.76 8.232 1.76v.011l269 1.312v-.012h.023v.012c4.724 0 8.197-1.099 10.346-3.308 2.186-2.22 3.284-5.716 3.296-10.535h-.024V51.155zM221.177 426.502h79.23v.023c1.842 0 3.377 1.5 3.377 3.343V586.53c0 1.843-1.535 3.367-3.378 3.367h-79.23v-.012c-1.83 0-3.365-1.512-3.365-3.355V429.868c0-1.842 1.535-3.366 3.366-3.366zm405.596 197.672zm-576.15-622h543.55c6.355 0 12.237 1.122 17.67 3.342l2.646 1.17c4.394 2.137 8.469 5.066 12.272 8.799l3.39 3.85 2.929 4.075c4.594 7.217 6.933 15.425 6.933 24.591v543.538c0 6.33-1.122 12.225-3.354 17.693-2.21 5.445-5.516 10.418-9.922 14.988a46.306 46.306 0 0 1-7.724 6.32l-1.323.885a40.453 40.453 0 0 1-5.823 2.989c-5.457 2.29-11.35 3.413-17.705 3.413H90.475l-1.276-1.287-83.576-83.576-5.48-3.638V47.846C-1.7 27.544 14.683 7.89 32.907 5.493c5.469-2.209 11.374-3.319 17.717-3.319z"/></svg></button>
                                                        <button  @click="cancel(item)" class="input-group-text btn"><svg fill="#ff0000" width="16" height="16" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 426.667 426.667" style="enable-background:new 0 0 426.667 426.667;" xml:space="preserve">
<g>
	<g>
		<polygon points="303.147,153.813 272.853,123.52 213.333,183.253 153.813,123.52 123.52,153.813 183.253,213.333 123.52,272.853     153.813,303.147 213.333,243.413 272.853,303.147 303.147,272.853 243.413,213.333   "/>
	</g>
</g>
<g>
	<g>
		<path d="M213.333,0C95.513,0,0,95.513,0,213.333s95.513,213.333,213.333,213.333s213.333-95.513,213.333-213.333    S331.154,0,213.333,0z M213.333,388.053c-96.495,0-174.72-78.225-174.72-174.72s78.225-174.72,174.72-174.72    c96.446,0.117,174.602,78.273,174.72,174.72C388.053,309.829,309.829,388.053,213.333,388.053z"/>
	</g>
</g>
</svg></button>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="editable" style="width: 200px;;min-width: 200px; max-width:200px" @click="changePrice(item, field)" v-else>{{item.currency}} {{item.price}}</td>

                                        </template>
                                        <template v-else-if="field.name == 'options'">
                                            <td class="editable" @click="showModalWithItem(item, index)" style="text-align: left">
                                                <template v-if="item.options.length">
                                                    <template v-for="(option, opt_index) in item.options">
                                                        {{option.name}}: {{option.values.join(', ')}} <br/>
                                                    </template>
                                                </template>
                                                <template v-else>N/A</template>
                                            </td>
                                        </template>
                                        <template v-else-if="field.name == 'addons'">
                                            <td class="editable" @click="showModalWithAddon(item, index)" style="text-align: left">
                                                <template v-if="item.addons.length">
                                                {{item.addons.map(resp => resp.name).join(', ')}}
                                                </template>
                                                <template v-else>N/A</template>
                                            </td>
                                        </template>
                                        <template v-else>
                                            <td v-if="hasCallback(field)" :class="field.dataClass" v-html="callCallback(field, item)">
                                            </td>
                                            <td :class="field.dataClass" v-else>
                                                {{ item[field.name] }}
                                            </td>
                                        </template>
                                    </template>
                                </template>
                            </template>
                        </tr>
                    </template>
                </tbody>
            </table>
            <h3 class="none text-center py-3" v-if="items.length == 0">No Content</h3>
            <table-pagination ref="pagination" :total-page="totalPage" v-on:loadPage="loadPage" v-if="items.length > 0"></table-pagination>
            <modal :confirmClass="!loading?'btn btn-info':'btn btn-info btn-loading'" :loading="loading" @confirm="saveOptions" :showFooter="true" :confirmText="'Save'" :show="editItem" @cancel="cancelEdit">
                <div slot="title">Select options</div>
                <div style="border:none" class="form-group row" v-if="itemToEdit">
                    <div class="col-md-10">
                        <vue-select :closeOnSelect="false" :loading="loadingOptions" v-model="selected_options" multiple :options="all_options" :reduce="opt => opt.id" label="name"/>
                    </div>
                    <div class="col-md-1" style="margin-left: 0;margin-right: 0; padding: 0">
                        <button class="btn btn-primary btn-sm" @click="addOption"><fa icon="plus"/></button>
                    </div>
                    <div class="col-md-1" style="margin-left: 0;margin-right: 0; padding: 0">
                        <button class="btn btn-secondary btn-sm" @click="loadOptions"><svg height="15px" version="1.1" viewBox="0 0 512 512" fill="#ffffff" width="15px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M384,352l96-109.3h-66.1C407.1,141.8,325,64,223.2,64C117.8,64,32,150.1,32,256s85.8,192,191.2,192  c43.1,0,83.8-14.1,117.7-40.7l7.5-5.9l-43.2-46.2l-6.2,4.6c-22.1,16.3-48.3,24.9-75.8,24.9C152.6,384.7,95.1,327,95.1,256  c0-71,57.5-128.7,128.1-128.7c66.4,0,120.7,50,127.4,115.3h-74.1L384,352z"/></svg></button>
                    </div>
                </div>
            </modal>
            <modal :confirmClass="!loading?'btn btn-info':'btn btn-info btn-loading'" :loading="loading" @confirm="saveAddons" :showFooter="true" :confirmText="'Save'" :show="editAddon" @cancel="cancelEditAddon">
                <div slot="title">Select addons</div>
                <div style="border:none" class="form-group row" v-if="itemToEdit">
                    <div class="col-md-10">
                        <vue-select :closeOnSelect="false" :loading="loadingOptions" v-model="selected_options" multiple :options="all_addons" :reduce="opt => opt.id" label="name"/>
                    </div>
                    <div class="col-md-1" style="margin-left: 0;margin-right: 0; padding: 0">
                        <button class="btn btn-primary btn-sm" @click="addAddon"><fa icon="plus"/></button>
                    </div>
                    <div class="col-md-1" style="margin-left: 0;margin-right: 0; padding: 0">
                        <button class="btn btn-secondary btn-sm" @click="loadAddons"><svg height="15px" version="1.1" viewBox="0 0 512 512" fill="#ffffff" width="15px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M384,352l96-109.3h-66.1C407.1,141.8,325,64,223.2,64C117.8,64,32,150.1,32,256s85.8,192,191.2,192  c43.1,0,83.8-14.1,117.7-40.7l7.5-5.9l-43.2-46.2l-6.2,4.6c-22.1,16.3-48.3,24.9-75.8,24.9C152.6,384.7,95.1,327,95.1,256  c0-71,57.5-128.7,128.1-128.7c66.4,0,120.7,50,127.4,115.3h-74.1L384,352z"/></svg></button>
                    </div>
                </div>
            </modal>
        </div>
    </div>
</template>
<script>
    import CustomAction from '~/components/CustomAction'
    import StatusAction from '~/components/StatusAction'
    import TablePagination from '~/components/TablePaginationItems'
    import Autocomplete from '@trevoreyre/autocomplete-vue'
    import '@trevoreyre/autocomplete-vue/dist/style.css'
    import Checkbox from "./Checkbox";
    import Loading from "./Loading";
    import swal from 'sweetalert2'
    import Modal from '~/components/Modal'
    import VueSelect from '~/components/vue-select/src/components/Select'

    export default {
    components: {
        Loading,
        Checkbox,
        VueSelect,
        TablePagination,
        CustomAction,
        Autocomplete,
        Modal,
        StatusAction,
    },
        directives: {
            focus: {
                inserted: function (el) {
                    el.focus()
                }
            }
        },
    props: {
        wrapperClass: {
          type: String,
          default () {
            return null
          }
        },
        tableClass: {
          type: String,
          default () {
            return 'table table-striped table-hover'
          }
        },
        title: {
          type: String,
          default () {
            return ''
          }
        },
        showRowNum: {
          type: Boolean,
          default () {
            return false
          }
        },
        showPaginate: {
          type: Boolean,
          default () {
            return true
          }
        },
        fields: {
          type: Array,
          required: true
        },
        apiUrl: {
          type: String,
          required: true
        },
        location_id: {
          type: String|Number,
        },
        disabledClass: {
          type: String,
          default () {
            return 'disabled'
          }
        },
        itemActions: {
          type: Array,
          default () {
            return [
              { name: 'edit-item', icon: 'fas fa-pencil-alt', class: 'btn btn-info' },
              { name: 'delete-item', icon: 'fas fa-trash-alt', class: 'btn btn-danger' }
            ]
          }
        },
        moreParams: {
          type: Object,
          default() {
            return {}
          },
        },
        canSearch: {
          type: Boolean,
          default: true,
        },
        searchKey: {
          type: String,
          default: 'keyword'
        },
        searchPlaceholder: {
          type: String,
          default: 'Search',
        }
    },
    data() {
        return {
            items: [],
            loading: false,
            params: this.moreParams || {},
            searchable: {
                [this.searchKey]: ''
            },
            all_options: [],
            all_addons: [],
            editItem: false,
            editAddon: false,
            at_changing_mode: [],
            selected_items: [],
            all_selected: false,
            select_all_in_category: false,
            search: '',
            filters_options: [
              'any', 'yes', 'no'
            ],
            selected_active: 'any',
            selected_out_of_stock: 'any',
            selected_is_special: 'any',
            selected_category: null,
            totalPage: 0,
            totalCount: 0,
            currentPage: 0,
            pagination: null,
            categories: [],
            sortKey: '',
            sortOrder: '',
            itemToEdit: null,
            itemToEditIndex: null,
            selected_options: [],
            loadingOptions: false,
            loadingAddons: false,
        }
    },
    watch: {
        $route() {
            let pageNum = 1

            if (this.$route.query.page) {
                pageNum = this.$route.query.page
            }

            this.loadPage(pageNum)
        }
    },
    created() {
        if (this.$route.query[this.searchKey]) {
            this.searchable[this.searchKey] = this.$route.query[this.searchKey]
        }
        let that = this;
        this.$http.get('location-items/categories').then(function (resp) {
            that.categories = resp.data;
            if (that.categories.length) {
                that.selected_category = that.categories[0].id;
            }
            if (that.$route.query.page) {
                that.onSearch(that.$route.query.page)
            }
            else {
                that.onSearch()
            }
        });
        this.loadOptions();
        this.loadAddons();
    },
    mounted() {
        this.$parent.$on('reload', (page) => {
            if (page) {
                this.onSearch(page)
            }
            else {
                this.onSearch(this.$route.query.page)
            }
        })
    },
    methods: {
        addSearch(result) {
            if (result) {
                this.search = result.name;
                this.selected_category = result.category_id;
            } else {
                this.search = this.$refs.autocomplete.value;
            }
            this.loadData();
        },
        loadOptions() {
            this.loadingOptions = true;
            this.$http.get('/location-items/options-all').then(response => { return response.data}).then(resp => {
                this.all_options = resp.data.map(function (value) {
                    return {id: value.id, name: value.name, values: value.values};
                });
                this.loadingOptions = false;
            });
        },
        loadAddons() {
            this.loadingAddons = true;
            this.$http.get('/addon/all').then(response => { return response.data}).then(resp => {
                this.all_addons = resp.data.map(function (value) {
                    return {id: value.id, name: value.name, price_eur: value.price_eur,
                        price_gbp: value.price_gbp,
                        price_aed: value.price_aed, price_usd: value.price_usd};
                });
                this.loadingAddons = false;
            });
        },
        showModalWithItem(item, index) {
            this.editItem = true;
            this.itemToEdit = item;
            this.itemToEditIndex = index;
            this.selected_options = this.itemToEdit.options.map(i => i.id)
        },
        showModalWithAddon(item, index) {
            this.editAddon = true;
            this.itemToEdit = item;
            this.itemToEditIndex = index;
            this.selected_options = this.itemToEdit.addons.map(i => i.id)
        },
        changePrice(item, field)
        {
            let that = this;
            that.at_changing_mode.push(item.id);
        },
        cancelEdit()
        {
          this.editItem = false;
          this.itemToEdit = null;
          this.itemToEditIndex = null;
          this.selected_options = null;
        },
        cancelEditAddon()
        {
            this.editAddon = false;
            this.itemToEdit = null;
            this.itemToEditIndex = null;
            this.selected_options = null;
        },
        addOption() {
          window.open('/categories/options/create');
        },
        addAddon() {
          window.open('/categories/addons/create');
        },
        saveOptions()
        {
            let that = this;
            this.loading = true;
            that.$http.post('/option/items/' + this.itemToEdit.id, {options: that.selected_options}).then(function (resp) {
                return resp.data;
            }).then(resp => {
                that.items[that.itemToEditIndex].options = resp.data.options;
                this.editItem = false;
                this.itemToEdit = null;
                this.itemToEditIndex = null;
                this.selected_options = null;
                this.loading = false;
            });
        },
        saveAddons()
        {
            let that = this;
            this.loading = true;
            that.$http.post('/addon/items/' + this.itemToEdit.id, {addons: that.selected_options}).then(function (resp) {
                return resp.data;
            }).then(resp => {
                that.items[that.itemToEditIndex].addons = resp.data.addons;
                this.editAddon = false;
                this.itemToEdit = null;
                this.itemToEditIndex = null;
                this.selected_options = null;
                this.loading = false;
            });
        },
        sendData(item, index) {
            let value = this.$refs['price_input_'+item.id][0].value;
            if (value < 0) {
                swal({
                    title: '<div class="mt-3">price must be greater then 0</div>',
                    type: 'error',
                });
                return;
            }
            this.at_changing_mode = this.at_changing_mode.filter(function (obj) {
                return obj !== item.id;
            });
            let data = {
                location_id: this.location_id,
                item_id: item.id,
                price: value,
            };
            this.items[index].price = value;
            this.$http.post('/location-items/update-price', data);
        },
        cancel(item) {
            this.at_changing_mode = this.at_changing_mode.filter(function (obj) {
                return obj !== item.id;
            });
        },
        toggleItemsSelect(item_id)
        {
            if (this.selected_items.indexOf(item_id) === -1) {
                this.selected_items.push(item_id)
            } else {
                this.selected_items = this.selected_items.filter(function (v) {
                    return v !== item_id;
                })
            }
        },
        pageItemsToggle(from_action)
        {
            let that = this;
            that.selected_items = [];
            if (from_action === true) {
                that.all_selected = !that.all_selected;
            }
            if (that.all_selected) {
                that.items.forEach(function (value) {
                    that.selected_items.push(value.id);
                })
            }
            this.select_all_in_category = false;
        },
        categoryItemsToggle()
        {
            this.select_all_in_category = !this.select_all_in_category;
            this.all_selected = this.select_all_in_category;
            if (!this.all_selected) {
                this.selected_items = [];
            }
        },
        categoryChange() {
            this.search = '';
            this.currentPage = 1;
            this.$refs.autocomplete.value = '';
            this.onSearch();
        },
        clearSearch() {
            this.search = '';
            this.currentPage = 1;
            this.$refs.autocomplete.value = '';
            this.onSearch();
        },
        handleChange(field, items, item, index)
        {
            this.items[index][field.name] = !this.items[index][field.name];
            if (field.name === 'is_active' && !this.items[index][field.name]) {
                this.items[index]['out_of_stock'] = false;
                this.items[index]['is_special'] = false;
            }
            let params = {
                field: field.name,
                value: this.items[index][field.name],
                category: this.selected_category,
                location: this.location_id,
                item_id: item.id,
            };
            this.$http.post('/location-items/change-data', params).then(resp => {

            })
        },
        massAction(action, value) {
            let that = this;
            let params = {
                field: action,
                value: value,
                category: that.selected_category,
                location: that.location_id,
                items: that.selected_items,
                select_all_in_category: that.select_all_in_category,
            };
            that.loading = true;
            that.$http.post('/location-items/mass-actions', params).then(resp => {
                that.selected_items = [];
                that.select_all_in_category = false;
                that.all_selected = false;
                that.loadData()
            })
        },
        searchF(input) {
            const url = `/api/location-items/autocomplete/?q=${encodeURI(input)}`;
            let token = document.head.querySelector('meta[name="csrf-token"]').content;
            let headers = {
                'X-CSRF-TOKEN': `${token}`
            };
            return new Promise(resolve => {
                if (input.length < 3) {
                    return resolve([])
                }

                fetch(url, {headers: headers})
                    .then(response => response.json())
                    .then(data => {
                        resolve(data)
                    })
            })
        },
        getResultValue(result) {
            return result.name
        },
        loadPage(page) {
            if (page == 'prev') {
                this.goPreviousPage()
            } else if (page == 'next') {
                this.goNextPage()
            } else {
                this.goPage(page)
            }
        },
        sortBy: function (key) {
            if (this.sortKey === '') {
                this.currentPage = 1;
            }
            this.sortKey = key;
            this.sortOrder = (this.sortOrder === '' || this.sortOrder === 'desc')?this.sortOrder='asc':'desc';
            this.onSearch();
        },
        onSearch(page) {
            this.currentPage = page ? page : 1

            setTimeout(() => {
                this.loadData()
            }, 10)
        },
        loadData() {
            this.loading = true;
            let url = this.apiUrl;
            let params = {};
            params = Object.assign(this.params, {
              page: typeof this.currentPage === 'string' || typeof this.currentPage === 'number' ? this.currentPage: 1
            });
            params['name'] = this.search;
            params['sortKey'] = this.sortKey;
            params['category'] = this.selected_category;
            params['sortOrder'] = this.sortOrder;
            params['active'] = this.selected_active;
            params['out_of_stock'] = this.selected_out_of_stock;
            params['is_special'] = this.selected_is_special;
            this.$router.push({ name: this.$route.name, query: params })
            let that = this;
            this.$http.get(url, { params: params })
            .then(response => {
                that.totalCount = response.data.total;
                that.pagination = response.data;
                that.items = response.data.data;
                that.totalPage = response.data.last_page;
                that.currentPage = response.data.current_page;
                that.pagination.total_pages = that.totalPage;
                that.loading = false;
                if (that.items.length != 0) {
                    that.$nextTick(() => {
                        that.$refs.pagination.$data.pagination = that.pagination
                    })
                }
            })
        },
        goPreviousPage() {
            if (this.currentPage > 1) {
                this.currentPage--
                this.loadData()
            }
        },
        goNextPage() {
            if (this.currentPage < this.totalPage) {
                this.currentPage++
                this.loadData()
            }
        },
        goPage(page) {
            if (page != this.currentPage && (page > 0 && page <= this.totalPage)) {
                this.currentPage = page
                this.loadData()
            }
        },
        hasCallback(item) {
            return item.callback ? true : false
        },
        callCallback(field, item) {
            if (!this.hasCallback(field)) return

            var args = field.callback.split('|')
            var func = args.shift()
            args.push(item);
            if (typeof this.$parent[func] == 'function') {
                return (args.length > 0) ?
                    this.$parent[func].apply(this.$parent, [this.getObjectValue(item, field.name)].concat(args)) :
                    this.$parent[func].call(this.$parent, this.getObjectValue(item, field.name))
            }
            return null
        },
        getObjectValue(object, path, defaultValue) {
            defaultValue = (typeof defaultValue == 'undefined') ? null : defaultValue

            var obj = object
            if (path.trim() != '') {
                var keys = path.split('.')
                keys.forEach((key) => {
                    if (obj !== null && typeof obj[key] != 'undefined' && obj[key] !== null) {
                        obj = obj[key]
                    } else {
                        obj = defaultValue
                        return
                    }
                })
            }
            return obj
        },
        isSpecialField(name) {
            return name.slice(0, 2) === '__'
        },
        callAction(action, data, page) {
            this.$emit('table-action', action, data, page)
        },
        reload() {
            this.loadData()
        }
    }
}
</script>
<style>
    .autocomplete {
        margin-left: 10px;
        width: 300px;
    }
</style>
<style lang="scss" scoped>
.btn {
    outline: none;
}

.table {
    border-bottom: 1px solid #e7eaec;
}

.none {
    color: #e7eaec;
    padding-bottom: 20px;
}

.actions {
    width: 15%;
    padding: 12px 0px;
    text-align: center;
}

.actions button {
    color: #6c757d;
}
.ml-auto .form-group label {
    margin-left: 10px;
}
.form-control {
    height: unset;
}
.input-group-sm > .form-control:not(textarea) {
    height: unset;
}
.sortable {
    cursor: pointer;
}
.img-clear {
    visibility: hidden;
    top: 10px;
    position: relative;
    cursor: pointer;
}
.img-clear.show {
    visibility: initial;
}
button.input-group-text {
    cursor: pointer;
}
td.editable {
    cursor: pointer;
    text-align: center;
}
td.editable:hover {
    border-color: #fcc5b8;
    box-shadow: 0 0 0 0.2rem rgba(248, 97, 61, 0.25);
    background-color: #fff;
}
button.input-group-text:active, button.input-group-text:hover {
    background-color: white;
}
</style>
