<template>
    <div :class="wrapperClass">
        <div :class="buttonClasses" class="btn-block py-4" @dragover="dragoverImage" @dragleave="dragoutImage" @drop="dropImage">
            <fa icon="image" fixed-width/>
            {{ title }}
            <input style="opacity: 0.0; position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 100%; height:100%;" :required="isRequired" type="file" ref="inputImageFile" :name="inputName" :id="inputId" :accept="imageType" @change="selectImage">
        </div>
    	<div v-if="images && images.length" class="preview-container">
            <template v-for="image in images">
                <div style="display: inline-block">
                <button type="button" class="btn btn-light btn-clear rounded-circle text-dark" @click="clear(image)"><fa icon="times"/></button>
                <img :src="image.url" class="preview-image">
                </div>
            </template>
    	</div>
    	<modal :show="cropperVisible" @cancel="canceledCrop">
	      	<div slot="title">Crop Image</div>
	      	<cropper :image="cropImage" @canceled="canceledCrop" @succeed="succeedCrop" :width="imageWidth" :height="imageHeight" :top-cropbox="topCropbox"></cropper>
	    </modal>
    </div>
</template>

<script>
    import Modal from '~/components/Modal'
    import Cropper from '~/components/Cropper'
    import swal from 'sweetalert2'
    export default {
	components: {
		Modal,
		Cropper
	},
  	props: {
        images: {
            type: Array,
            default () {
                return []
            }
        },
  		id: {
  			type: String,
	      	default () {
	        	return ''
	      	}
  		},
        isRequired: {
  			type: Boolean,
	      	default () {
	        	return false
	      	}
  		},
		inputId: {
            type: String,
            default () {
                return 'image-file'
            }
		},
		inputName: {
            type: String,
            default () {
                return 'image'
            }
		},
	    wrapperClass: {
	      	type: String,
	      	default () {
	        	return null
	      	}
	    },
	    buttonClasses: {
	      	type: String,
	      	default () {
	        	return 'btn btn-light border-dotted'
	      	}
	    },
	    title: {
	      	type: String,
	      	default () {
	        	return ''
	      	}
	    },
	    showPreview: {
	    	type: String,
	    	default() {
	    		return ''
	    	}
	    },
	    imageType: {
	    	type: String,
	    	default() {
	    		return 'image/png,image/jpeg,image/jpg'
	    	}
	    },
	    imageWidth: {
	    	type: Number,
	    	default() {
	    		return 0
	    	}
	    },
	    imageHeight: {
	    	type: Number,
	    	default() {
	    		return 0
	    	}
	    },
	    url: {
	    	type: String,
	    	default() {
	    		return ''
	    	}
	    },
	    name: {
	    	type: String,
	    	default() {
	    		return ''
	    	}
	    },
	    limitSize: {
	    	type: Boolean,
	    	default() {
	    		return true
	    	}
	    },
	    topCropbox: {
	    	type: Boolean,
	    	default() {
	    		return false
	    	}
	    }
	},
	data() {
		return {
			imageId: this.id,
            imageUrl: (this.url !== '') ? new URL(this.url).pathname : '',
			imageName: this.name,
			cropImage: '',
			cropperVisible: false
		}
	},
	watch: {
		url(val) {
			this.imageUrl = val;
		},
		name(val) {
			this.imageName = val
		}
    },
	methods: {
		getImage(e) {
			this.imageTypeVisible = true
		},
		dragoverImage(e) {
			e.stopPropagation();
	        e.preventDefault();
	        $(e.currentTarget).addClass('drag');
		},
		dragoutImage(e) {
			e.stopPropagation();
	        e.preventDefault();
	        $(e.currentTarget).removeClass('drag');
		},
		dropImage(e) {
			e.stopPropagation();
	        e.preventDefault();
	        var image = e.dataTransfer.files[0]; // Array of all files
	        this.imageSource = 'local';
	        this.importImage(image);
	        $(e.currentTarget).removeClass('drag');
		},
		selectImage(e) {
			let image = e.target.files[0];
	      	this.importImage(image);
	    },
	    importImage(image) {
	    	let that = this;
	    	let size_in_kilobytes = image.size/1024;
			if(size_in_kilobytes > 4096) {
				swal({
					title: "Alert!",
					type: 'error',
					html: "The file must be smaller than 4MB."
				});
				return false;
			}
			let fileReader = new FileReader();
			fileReader.readAsDataURL(image);
			fileReader.onload = function(event) {
				that.cropImage = event.target.result;

				that.cropperVisible = true
				that.imageName = image.name;
			}
	    },
	    clear(image) {
	    	this.clearFileInput();
	    	this.$emit('success', this.images.filter((image_) => {
                return image.url !== image_.url;
            }))
	    },
	    clearFileInput(){
	    	const fileInput = this.$refs.inputImageFile;
	    	if (fileInput) {
	    		fileInput.type = 'text';
		    	fileInput.type = 'file';
	    	}
	    	$('#'+this.inputId).val(null)
	    },
	    canceledCrop() {
	    	this.cropperVisible = false
	    	this.imageTypeVisible = false

	    	if (!this.imageUrl) {
	    		this.imageName = ''
	    	}
	    	this.cropImage = ''
	    	const fileInput = this.$refs.inputImageFile;
	    	if (fileInput) {
	    		fileInput.type = 'text';
		    	fileInput.type = 'file';
	    	}
	    	$('#'+this.inputId).val(null)
	    },
	    succeedCrop(response) {
	    	this.imageUrl = response.url
	    	this.cropperVisible = false
	    	this.imageTypeVisible = false
			this.cropImage = ''
			this.clearFileInput()
            let images = this.images;
	    	images.push({url: this.imageUrl, name: this.imageName});
    		this.$emit('success', images)
	    }
	}
}
</script>

<style lang="scss" scoped>
	button {
		position: relative;
		input {
		    position: absolute;
		    left: 0;
		    right: 0;
		    top: 0;
		    width: 100%;
		    height: 100%;
		    opacity: 0;
		}
	}

	.border-dotted {
		border: 1px dashed #ccc;

		&.drag {
			border: 1px solid #28a745;
		}
	}

	.border-dotted-success {
		border: 1px dashed #28a745;
		&.drag {
			border: 1px solid #28a745;
		}
	}

	.preview-container {
		position: relative;

		.btn-clear {
            position: relative;
            left: 15px;
            bottom: 25px;
			padding: 0;
			width: 25px;
			height: 25px;
		}

		.preview-image {
			max-height: 100px;
			max-width: 300px;
		}
	}

</style>
