<template>
    <div :class="wrapperClass">	
    	<div>
    		<button type="button" :class="buttonClasses" @dragover="dragoverImage" @dragleave="dragoutImage" @drop="dropImage">{{ title }}<input type="file" ref="inputImageFile" name="image" id="image-file" :accept="imageType" @change="selectImage"></button>
	    	<template v-if="showPreviewSmall == 'yes'">
    			<template v-if="imageUrl">
    				<img :src="imageUrl" class="img-fluid mx-1" style="max-height:35px;">
    			</template>
	    	</template>
	    	<template v-if="showName">
	    		<label class="ml-2" v-if="imageName">{{ imageName }}</label>		    	
		    </template>
		    <button type="button" class="btn btn-link ml-2" v-if="imageUrl" @click="clear">Clear X</button>
    	</div>
    	<template v-if="showPreview == 'yes'">
    		<div class="preview-wrapper my-2">
    			<template v-if="imageUrl">
    				<img :src="imageUrl" class="img-fluid" style="max-width:200px;max-height:100px;">
    			</template>
    		</div>
    	</template>
	    	
    	<modal :show="cropperVisible" @cancel="canceledCrop">
	      	<div slot="title">Crop Image</div>
	      	<cropper :image="cropImage" @canceled="canceledCrop" @succeed="succeedCrop" :width="imageWidth" :height="imageHeight" :top-cropbox="topCropbox"></cropper>
	    </modal>
    </div>
</template>

<script>
import Modal from '~/components/Modal'
import Cropper from '~/components/Cropper'

export default {
	components: { 
		Modal, 
		Cropper
	},
  	props: {
  		id: {
  			type: String,
	      	default () {
	        	return ''
	      	}
  		},
	    wrapperClass: {
	      	type: String,
	      	default () {
	        	return null
	      	}
	    },
	    buttonClasses: {
	      	type: String,
	      	default () {
	        	return 'btn btn-light border-dotted'
	      	}
	    },
	    title: {
	      	type: String,
	      	default () {
	        	return ''
	      	}
	    },
	    withColorPallete: {
	    	type: String,
	    	default () {
	    		return ''
	    	}
	    },
	    showName: {
	    	type: Boolean,
	    	default() {
	    		return true
	    	}
	    },
	    showPreview: {
	    	type: String,
	    	default() {
	    		return ''
	    	}
	    },
	    showPreviewSmall: {
	    	type: String,
	    	default() {
	    		return ''
	    	}
	    },
	    imageType: {
	    	type: String,
	    	default() {
	    		return 'image/png,image/jpeg,image/jpg'
	    	}
	    },
	    imageWidth: {
	    	type: Number,
	    	default() {
	    		return 0
	    	}
	    },
	    imageHeight: {
	    	type: Number,
	    	default() {
	    		return 0
	    	}
	    },
	    url: {
	    	type: String,
	    	default() {
	    		return ''
	    	}
	    },
	    name: {
	    	type: String,
	    	default() {
	    		return ''
	    	}
	    },
	    limitSize: {
	    	type: Boolean,
	    	default() {
	    		return true
	    	}
	    },
	    topCropbox: {
	    	type: Boolean,
	    	default() {
	    		return false
	    	}	
	    }
	},
	data() {
		return {
			imageUrl: this.url,
			imageName: this.name,
			imageWebUrl: '',
			imageTypeVisible: false,
			imageSource: 'local',
			cropImage: '',
			cropperVisible: false,
			plan: 'free'
		}
	},
	created() {
		
	},
	mounted() {
		if (window.User.chargebee_plan_id == 'power-spotte') {
            this.plan = 'power';
        }
        else {
            this.plan = 'free';
        }
	},
	watch: {
		url(val) {
			this.imageUrl = val
		},
		name(val) {
			this.imageName = val
		}
    },
	methods: {
		getImage(e) {
			this.imageTypeVisible = true
		},
		dragoverImage(e) {
			e.stopPropagation();
	        e.preventDefault();
	        $(e.currentTarget).addClass('drag');
		},
		dragoutImage(e) {
			e.stopPropagation();
	        e.preventDefault();
	        $(e.currentTarget).removeClass('drag');
		},
		dropImage(e) {
			e.stopPropagation();
	        e.preventDefault();
	        var image = e.dataTransfer.files[0]; // Array of all files
	        this.imageSource = 'local';
	        this.importImage(image);
	        $(e.currentTarget).removeClass('drag');
		},
		selectImage(e) {
			let image = e.target.files[0];
	      	this.importImage(image);
	    },
	    importImage(image) {
	    	let that = this;
	    	var size_in_kilobytes = image.size/1024;
			if (this.plan == 'free' && this.limitSize && size_in_kilobytes > 512) {
				swal({
                    title: "Alert!",
                    type: 'error',
                    html: "The file must be smaller than 500KB."
                });
				return false;
			}
			else if(size_in_kilobytes > 3072) {
				swal({
                    title: "Alert!",
                    type: 'error',
                    html: "The file must be smaller than 3MB."
                });
				return false;
			}

			var fileReader = new FileReader();
			fileReader.readAsDataURL(image);
			fileReader.onload = function(event) {
				that.cropImage = event.target.result;
				
				that.cropperVisible = true
				that.imageName = image.name;
			}
	    },
	    clear(e) {
	    	this.imageUrl = ''
	    	this.imageName = ''
	    	this.imagePreviewUrl = ''
	    	this.cropImage = ''
	    	const fileInput = this.$refs.inputImageFile;
	    	if (fileInput) {
	    		fileInput.type = 'text';
		    	fileInput.type = 'file';
	    	}
	    	$('#image-file').val(null)
	    	this.$emit('success', {url: this.imageUrl, name: this.imageName})
	    },	    
	    canceledCrop() {
	    	this.cropperVisible = false
	    	this.imageTypeVisible = false
	    	
	    	if (!this.imageUrl) {
	    		this.imageName = ''	    		
	    	}
	    	this.cropImage = ''
	    	const fileInput = this.$refs.inputImageFile;
	    	if (fileInput) {
	    		fileInput.type = 'text';
		    	fileInput.type = 'file';
	    	}
	    	$('#image-file').val(null)
	    },
	    succeedCrop(response) {
	    	this.imageUrl = response.secure_url
	    	this.cropperVisible = false
	    	this.imageTypeVisible = false
			this.cropImage = ''
			const fileInput = this.$refs.inputImageFile;
			if (fileInput) {
	    		fileInput.type = 'text';
		    	fileInput.type = 'file';
	    	}
			$('#image-file').val(null)

    		this.$emit('success', {url: this.imageUrl, name: this.imageName})
	    }
	}
}
</script>

<style lang="scss" scoped>
	button {
		position: relative;
		input {
		    position: absolute;
		    left: 0;
		    right: 0;
		    top: 0;
		    width: 100%;
		    height: 100%;
		    opacity: 0;
		}
	}

	.preview-wrapper {
		width: 202px;
		height: 102px;
		border: 1px dashed #ccc;
	}

	.border-dotted {
		border: 1px dashed #ccc;

		&.drag {
			border: 1px solid #28a745;
		}
	}

	.border-dotted-success {
		border: 1px dashed #28a745;
		&.drag {
			border: 1px solid #28a745;
		}
	}

	.show-bg-color-picker-container {
		z-index: 1000;
	}
</style>