<template>
  	<card class="text-center">
    	<h3 class="mb-4">{{ $t('page_not_found') }}</h3>

    	<div class="links">
      		<a href="/">{{ $t('go_home') }}</a>
    	</div>
  	</card>
</template>

<script>
export default {
  name: 'NotFound',
  layout: 'basic'
}
</script>
