<template>
    <div>
        <page-header>
            <template slot="actions">
                <router-link :to="{name: 'items.list'}" class="btn btn-light btn-sm"><fa icon="chevron-left"/> Back</router-link>
            </template>
        </page-header>
        <template v-if="pin && pin === 'category'">
        <div class="container-fluid py-3">
            <div class="card">
                <div class="card-body">
                    <item-form></item-form>
                </div>
            </div>
        </div>
        </template>
        <template v-else>
            <pin-form set-pin="category"/>
        </template>
    </div>
</template>

<script>
import PageHeader from '~/components/PageHeader'
import ItemForm from '~/pages/items/form'
import swal from 'sweetalert2'
import { mapGetters } from 'vuex';
import PinForm from "../../components/PinForm";

export default {
	metaInfo () {
	    return { title: 'New Item' }
	},
    components: {
        PinForm,
        PageHeader,
        ItemForm
    },
    created() {
        this.$store.dispatch('page/setTitle', { title: 'New Item' })
        this.$store.dispatch('page/setSubtitle', { subtitle: 'Items' })
    },
    computed: mapGetters({
        pin: 'page/pin',
    }),
	data() {
		return {
        }
	},
	methods: {
    }
}
</script>
