<template>
    <div>
        <page-header>
            <template slot="actions">
                <router-link :to="{name: 'items.list'}" class="btn btn-light btn-sm"><fa icon="chevron-left"/> Back</router-link>
            </template>
        </page-header>
        <template v-if="pin && pin === 'category'">
        <div class="container-fluid py-3">
            <div class="card">
                <div class="card-body" v-if="item">
                    <item-form :item="item"></item-form>
                </div>
            </div>
        </div>
        </template>
        <template v-else>
            <pin-form set-pin="category"/>
        </template>
    </div>
</template>

<script>
import PageHeader from '~/components/PageHeader'
import ItemForm from '~/pages/items/form'
import swal from 'sweetalert2'
import PinForm from "../../components/PinForm";
import { mapGetters } from 'vuex';

export default {
	metaInfo () {
	    return { title: 'Edit Item' }
	},
    components: {
        PinForm,
        PageHeader,
        ItemForm
    },
    computed: mapGetters({
        pin: 'page/pin',
    }),
    async created() {
        this.$store.dispatch('page/setTitle', { title: 'Edit Item' })
        this.$store.dispatch('page/setSubtitle', { subtitle: 'Items' })

        var response = await this.$http.get('item/' + this.$route.params.item_id + '/edit')

        if (response && response.status == 200) {
            this.item = response.data.data;
            this.$store.dispatch('page/setTitle', { title: 'Edit Item - ' + this.item.name })
        }
        else {
            console.log(response)
        }
    },
	data() {
		return {
            item: null
        }
	},
	methods: {
    }
}
</script>
