<template>
	<div class="form-wrapper py-3">
		<form @submit.prevent="save" @keydown="form.onKeydown($event)">
			<alert-success :form="form" :message="success_message"/>

            <!-- Category -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Category</label>
                <div class="col-md-7">
                    <select required id="category_id" ref="category_id" v-model="form.category_id" :class="{ 'is-invalid': form.errors.has('category_id') }" class="form-control" type="text" name="category_id">
                        <template v-for="category in categories">
                            <option :value="category.id">{{category.name}}</option>
                        </template>
                    </select>
                    <has-error :form="form" field="category_id"/>
                </div>
            </div>

			<!-- Name -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('name') }}</label>
                <div class="col-md-7">
                    <input id="name" ref="name" v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }" class="form-control" type="text" name="name" required>
                    <has-error :form="form" field="name"/>
                </div>
            </div>

            <!-- Description -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Description</label>
                <div class="col-md-7">
                    <textarea id="description" ref="description" v-model="form.description" :class="{ 'is-invalid': form.errors.has('description') }" class="form-control" name="description"></textarea>
                    <has-error :form="form" field="description"/>
                </div>
            </div>

            <!-- Price -->
            <div class="form-group row" v-if="user.currencies && user.currencies.indexOf('eur') !== -1">
                <label class="col-md-3 col-form-label text-md-right">Price EUR</label>
                <div class="col-md-7">
                    <input id="price_eur" ref="price_eur" v-model="form.price_eur" :class="{ 'is-invalid': form.errors.has('price_eur') }" class="form-control" type="number" name="price_eur" step="0.01" min="0" max="999999" required>
                    <has-error :form="form" field="price_eur"/>
                </div>
            </div>
            <!-- Price -->
            <div class="form-group row"  v-if="user.currencies && user.currencies.indexOf('gbp') !== -1">
                <label class="col-md-3 col-form-label text-md-right">Price GBP</label>
                <div class="col-md-7">
                    <input id="price_gbp" ref="price_gbp" v-model="form.price_gbp" :class="{ 'is-invalid': form.errors.has('price_gbp') }" class="form-control" type="number" name="price_gbp" step="0.01" min="0" max="999999" required>
                    <has-error :form="form" field="price_gbp"/>
                </div>
            </div>
            <!-- Price -->
            <div class="form-group row"  v-if="user.currencies && user.currencies.indexOf('aed') !== -1">
                <label class="col-md-3 col-form-label text-md-right">Price AED</label>
                <div class="col-md-7">
                    <input id="price_aed" ref="price_aed" v-model="form.price_aed" :class="{ 'is-invalid': form.errors.has('price_aed') }" class="form-control" type="number" name="price_aed" step="0.01" min="0" max="999999" required>
                    <has-error :form="form" field="price_aed"/>
                </div>
            </div> <!-- Price -->
            <div class="form-group row"  v-if="user.currencies && user.currencies.indexOf('usd') !== -1">
                <label class="col-md-3 col-form-label text-md-right">Price USD</label>
                <div class="col-md-7">
                    <input id="price_usd" ref="price_usd" v-model="form.price_usd" :class="{ 'is-invalid': form.errors.has('price_usd') }" class="form-control" type="number" name="price_usd" step="0.01" min="0" max="999999" required>
                    <has-error :form="form" field="price_usd"/>
                </div>
            </div>
            <!-- Image -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Image</label>
                <div class="col-md-7">
                    <upload-image :url="form.image" title="Drop Image or Click" show-preview="yes" @success="getImage"></upload-image>
                </div>
            </div>

            <!-- Submit Button -->
            <div class="form-group row mb-0">
                <div class="col-md-7 offset-md-3 d-flex">
                	<router-link :to="{name: 'items.list'}" class="btn btn-secondary">Cancel</router-link>
                  	<v-button :loading="form.busy" class="ml-auto" type="primary">{{ (mode == 'update') ? 'Update Item' : 'Add Item' }}</v-button>
                </div>
            </div>
		</form>
	</div>
</template>

<script>
import Form from 'vform'
import UploadImage from '~/components/UploadImage'
import {mapGetters} from "vuex";

export default {
    components: {
        UploadImage
    },
	props: {
        item: { type: Object, default: null }
	},
	computed: Object.assign(mapGetters({
            user: 'auth/user',
        }),{
		success_message() {
			if (this.item && this.item.id) {
				return 'Item is updated successfully!'
			}
			else {
				return 'Item is created successfully!'
			}
		},
		mode() {
            return (this.item && this.item.id) ? 'update' : 'create'
        },
	}),
	data: () => ({
        form: new Form({
            category_id: '',
            name: '',
            description: '',
            price_eur: '',
            price_aed: '',
            price_usd: '',
            price_gbp: '',
            image: '',
            image_old: true
        }),
        categories: []
    }),
    created () {
        // Fill the form with item data.
        if (this.item) {
        	this.form.keys().forEach(key => {
                if (this.item[key]) {
                    this.form[key] = this.item[key]
                }
	        })

            if (this.item.images.length > 0) {
                this.form.image = this.item.images[0].url;
            }
        }

        this.loadCategories()
    },
    methods: {
        loadCategories() {
            this.$http.get('category/for-items').then( response => {
                this.categories = response.data.data;
            })
        },
        getImage(image) {
            this.form.image = image.url;
            this.form.image_old = false;
        },
    	save () {
            if (this.form.busy === false) {
                this.form.busy = true;
                let url = '/api/item' + ((this.mode == 'update') ? '/' + this.item.id : '');
                let method = (this.mode == 'update') ? 'patch' : 'post';
                this.form[method](url).then((response) => {
                    this.$router.push({name: 'items.list'});
                    setTimeout(()=>{ this.form.busy = false}, 1000);
                });
            }
    	}
    }
}
</script>
