<template>
    <div>
        <page-header>
            <template slot="actions">
                <template v-if="pin && pin === 'category'">
                <router-link :to="{ name: 'items.create' }" class="btn btn-sm btn-primary"><fa icon="plus"/> New Item</router-link>
                </template>
            </template>
        </page-header>
        <template v-if="pin && pin === 'category'">
        <div class="container-fluid py-3">
            <div class="card">
                <div class="card-body">
                    <vue-table title="Items" :fields="fields" :item-actions="itemActions" api-url="item" :show-row-num="true" @table-action="tableActions" show-paginate>
                    </vue-table>
                </div>
            </div>
        </div>
        </template>
        <template v-else>
            <pin-form set-pin="category"/>
        </template>
    </div>
</template>

<script>
import PageHeader from '~/components/PageHeader'
import VueTable from '~/components/TableItems'
import swal from 'sweetalert2'
import { mapGetters } from 'vuex';
import PinForm from "../../components/PinForm";
import {setListCurrencies} from "../../functions";

export default {
    metaInfo () {
        return { title: 'Items' }
    },
    components: {
        PinForm,
        VueTable,
        PageHeader
    },
    created() {
        this.$store.dispatch('page/setTitle', { title: 'Items' })
        this.$store.dispatch('page/setSubtitle', { subtitle: '' })
    },
    computed: mapGetters({
        user: 'auth/user',
        pin: 'page/pin',
    }),
    mounted() {
        this.fields = [
            {
                name: 'images',
                title: 'Image',
                callback: 'image'
            }, {
                name: 'name',
                title: 'Name'
            },
            ...setListCurrencies(this.user, true),
            {
                name: 'category',
                title: 'Category',
                callback: 'category',
            }, {
                name: 'created_at',
                title: 'Created at'
            }, {
                name: '__actions',
                title: '',
                titleClass: 'text-center',
                dataClass: 'text-center'
            }
        ];
    },
    data() {
        return {
            fields: [],
            itemActions: [
                { name: 'edit-item', title: 'Edit', icon: 'pencil-alt', class: 'btn btn-sm btn-light bg-transparent mr-2'},
                { name: 'delete-item', title: 'Delete', icon: 'trash-alt', class: 'btn btn-sm btn-light bg-transparent mr-2'}
            ]
        }
    },
    methods: {
        image(images){
            if (images && images.length > 0) {
                return '<img class="list-image" src="' + images[0].url + '">';
            }
            else {
                return '<img class="list-image" src="/images/party.png">'
            }
        },
        category(category){
            if (category) {
                return category.name;
            }
            else {
                return ''
            }
        },
        price_eur(price) {
            return '€' + price
        },
        price_gbp(price) {
            return '£' + price
        },
        price_aed(price) {
            return 'د.إ' + price
        },
        price_usd(price) {
            return '$' + price
        },
        tableActions(action, data) {
            if (action == 'edit-item') {
                this.$router.push({ name: 'items.edit', params: { item_id: data.id } })
            } else if (action == 'delete-item') {
                var text = '<div class="mb-3">\"'+data.name+'\"</div>';
                swal({
                    title: '<div class="mt-3">Delete this item?</div>',
                    html: text,
                    // type: 'warning',
                    reverseButtons: true,
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Delete'
                }).then((result) => {
                    if (result.value) {
                        this.$http.delete('item/' + data.id)
                        .then((response) => {
                            toastr.success('You deleted the item!')
                            this.$emit('reload')
                        }, (response) => {
                            if ((typeof response.data.error !== 'string') && response.data.error) {
                              toastr.error(response.data.error.message)
                            } else {
                              toastr.error(response.status + ' : Resource ' + response.statusText)
                            }
                        })
                    }
                })
            }
        }
    }
}
</script>
