<template>
	<div class="form-wrapper py-3">
		<form @submit.prevent="save" @keydown="form.onKeydown($event)">
			<alert-success :form="form" :message="success_message"/>

			<!-- Name -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('name') }}</label>
                <div class="col-md-7">
                    <input id="name" ref="name" v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }" class="form-control" type="text" name="name" required>
                    <has-error :form="form" field="name"/>
                </div>
            </div>

            <!-- values -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Values</label>
                <div class="col-md-9"><button v-on:click.prevent="addValue" class="btn btn-secondary"><fa icon="plus"/></button></div>
            </div>
            <div class="form-group row">
                <div class="col-md-3"></div>
                <div class="col-md-7">
                    <template v-if="form.values && form.values.length" v-for="(values_data, index) in form.values">
                        <div class="row form-group">
                            <div class="col-md-11">
                                <input v-model="form.values[index]" class="form-control" required type="text">
                            </div>
                            <div class="col-md-1">
                            <button v-on:click.prevent="removeValue(index)" class="btn btn-secondary"><fa icon="trash-alt" fixed-width /></button>
                            </div>
                        </div>
                    </template>
                    <has-error :form="form" field="values"/>
                </div>
            </div>
            <!-- Submit Button -->
            <div class="form-group row mb-0">
                <div class="col-md-7 offset-md-3 d-flex">
                	<router-link :to="{name: 'items.options'}" class="btn btn-secondary">Cancel</router-link>
                  	<v-button :loading="form.busy" class="ml-auto" type="primary">{{ (mode == 'update') ? 'Update Option' : 'Add Option' }}</v-button>
                </div>
            </div>
		</form>
	</div>
</template>

<script>
import Form from 'vform'
import UploadImage from '~/components/UploadImage'
import swal from 'sweetalert2'

export default {
    components: {
        UploadImage
    },
	props: {
        option: { type: Object, default: null }
	},
	computed: {
		success_message() {
			if (this.option && this.option.id) {
				return 'Option is updated successfully!'
			}
			else {
				return 'Option is created successfully!'
			}
		},
		mode() {
            return (this.option && this.option.id) ? 'update' : 'create'
        },
	},
	data: () => ({
        form: new Form({
            name: '',
            values: [''],
        }),
    }),
    created () {
        // Fill the form with item data.
        if (this.option) {
        	this.form.keys().forEach(key => {
                if (this.option[key]) {
                    this.form[key] = this.option[key]
                }
	        });
        }
    },
    methods: {
    	save () {
            if (this.form.busy === false) {
                this.form.values = this.form.values.filter(function (v) {
                    return v !== ''
                });
                this.form.busy = true;
                let url = '/api/option' + ((this.mode == 'update') ? '/' + this.option.id : '');
                let method = (this.mode == 'update') ? 'patch' : 'post';
                this.form[method](url).then((response) => {
                    this.$router.push({name: 'items.options'});
                    setTimeout(()=>{ this.form.busy = false}, 1000);
                }).catch((resp) => {
                    if (resp.response && resp.response.data && resp.response.data.errors && resp.response.data.errors.values) {
                        swal({type: 'error', html: `${resp.response.data.errors.values[0]}`});
                    }
                });
            }
    	},
        addValue()
        {
            this.form.values.push('');
        },
        removeValue(index)
        {
            this.form.values.splice(index, 1);
        },

    }
}
</script>
