<template>
    <div>
        <page-header>
            <template slot="actions">
                <template v-if="pin && pin === 'category'">
                <router-link :to="{ name: 'items.options.create' }" class="btn btn-sm btn-primary"><fa icon="plus"/> New Option</router-link>
                </template>
            </template>
        </page-header>
        <template v-if="pin && pin === 'category'">
        <div class="container-fluid py-3">
            <div class="card">
                <div class="card-body">
                    <vue-table title="Options" :fields="fields" :item-actions="itemActions" api-url="location-items/options" :show-row-num="true" @table-action="tableActions" show-paginate>
                    </vue-table>
                </div>
            </div>
        </div>
        </template>
        <template v-else>
            <pin-form set-pin="category"/>
        </template>
    </div>
</template>

<script>
import PageHeader from '~/components/PageHeader'
import VueTable from '~/components/Table'
import swal from 'sweetalert2'
import PinForm from "../../components/PinForm";
import { mapGetters } from 'vuex';
export default {
	metaInfo () {
	    return { title: 'Items Options' }
	},
    components: {
        PinForm,
        VueTable,
        PageHeader
    },
    created() {
        this.$store.dispatch('page/setTitle', { title: 'Items Options' })
        this.$store.dispatch('page/setSubtitle', { subtitle: '' })

    },
    computed: mapGetters({
        pin: 'page/pin',
    }),
	data() {
		return {
            fields: [
               {
                    name: 'name',
                    title: 'Name'
                },
                {
                    name: 'values',
                    title: 'Values',
                    callback: 'values'
                },
                {
                    name: '__actions',
                    title: '',
                    titleClass: 'text-center',
                    dataClass: 'text-center'
                }
            ],
            itemActions: [
                { name: 'edit-option', title: 'Edit', icon: 'pencil-alt', class: 'btn btn-sm btn-light bg-transparent mr-2'},
                // { name: 'delete-option', title: 'Delete', icon: 'trash-alt', class: 'btn btn-sm btn-light bg-transparent mr-2'}
            ]
        }
	},
	methods: {
        values(values) {
            if (values) {
                return values.join(', ')
            } else {
                return '';
            }
        },
        tableActions(action, data) {
            if (action == 'edit-option') {
                this.$router.push({ name: 'items.options.edit', params: { option_id: data.id } })
            } else if (action == 'delete-option') {
                var text = '<div class="mb-3">\"'+data.name+'\"</div>';
                swal({
                    title: '<div class="mt-3">Delete this option?</div>',
                    html: text,
                    // type: 'warning',
                    reverseButtons: true,
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Delete'
                }).then((result) => {
                    if (result.value) {
                        this.$http.delete('option/' + data.id)
                        .then((response) => {
                            toastr.success('You deleted the option!');

                            this.$emit('reload')
                        }, (response) => {
                            if ((typeof response.data.error !== 'string') && response.data.error) {
                              toastr.error(response.data.error.message)
                            } else {
                              toastr.error(response.status + ' : Resource ' + response.statusText)
                            }
                        })
                    }
                })
            }
        }
    }
}
</script>
