<template>
	<div class="card">
		<div class="card-header">
			Add location
			<router-link :to="{ name: 'admin.locations.list' }" class="btn btn-sm btn-secondary float-right">
              Back
            </router-link>
		</div>
		<div class="card-body">
			<location-form></location-form>
		</div>
	</div>
</template>

<script>
import PageHeader from '~/components/PageHeader'
import LocationForm from '~/pages/admin/location/form'

export default {
	components: { PageHeader, LocationForm },
	metaInfo () {
	    return { title: 'Add location' }
	},
}
</script>