<template>
    <div class="container-fluid py-3">
        <div class="card" v-if="location">
            <div class="card-header d-flex align-items-center">
                Location Details
            </div>
            <div class="card-body">
                <h5 class="location-name">{{location.name}} {{location.currency_symbol}}</h5>
                <div class="location-description" v-if="location.description">{{location.description}}</div>
                <hr/>
                <div class="location-address mb-2" v-if="location.address"><fa icon="map-marker-alt" fixed-width /> {{location.address}}</div>
                <div class="location-phone mb-2" v-if="location.phone"><fa icon="phone" fixed-width /> {{location.phone}}</div>
                <!-- <hr/>
                <div class="">10 Categories</div>
                <div class="">100 Items</div> -->
            </div>
        </div>
        <div class="location-map-container mt-3">
            <div id="location-map">
            </div>
        </div>
    </div>
</template>

<script>
import PageHeader from '~/components/PageHeader'
import swal from 'sweetalert2'

export default {
	metaInfo () {
	    return { title: 'Location' }
	},
    components: {
        PageHeader
    },
    created() {

        this.$http.get('admin/location/' + this.$route.params.location_id + '/edit')
        .then((response) => {
            this.location = response.data.data;
            this.$store.dispatch('page/setTitle', { title: this.location.name });
            this.showMap()
        }).catch((error) => {            
            console.log(error)
        })
    },
	data() {
		return {
            location: null,
            locationMap: null
        }
	},
	methods: {
        showMap() {
            if (this.location.latitude && this.location.longitude) {
                var location_position = {lat: Number(this.location.latitude), lng: Number(this.location.longitude)}
                this.locationMap = new google.maps.Map(document.getElementById('location-map'), {
                    center: location_position,
                    zoom: 16
                })

                var marker = new google.maps.Marker({position: location_position, map: this.locationMap});
            }                
        },
    }
}
</script>

<style lang="scss" scoped>
#location-map {
    height: 250px;
}

</style>