<template>
	<div>
        <page-header></page-header>

        <div class="container-fluid py-3">
			<div class="card">
				<div class="card-header">
					Edit location
					<router-link :to="{ name: 'admin.locations.list' }" class="btn btn-sm btn-secondary float-right">
						<fa icon="chevron-left" />
		              	Back
		            </router-link>
				</div>
				<div class="card-body">
					<location-form :location="location"></location-form>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import PageHeader from '~/components/PageHeader'
import LocationForm from '~/pages/admin/location/form'

export default {
	components: { PageHeader, LocationForm },
	metaInfo () {
	    return { title: 'Edit location' }
	},
	data() {
		return {
			location: {}
		}
	},
	created() {
		this.$http.get('admin/location/' + this.$route.params.id + '/edit')
		.then((response) => {
			this.location = response.data.data;
        }).catch((error) => {
            console.log(error)
        })
	}
}
</script>