<template>
    <div>
        <!-- <form class="form" role="form" @submit.prevent="onSubmit"> -->
        <form @submit.prevent="onSubmit" @keydown="form.onKeydown($event)">
            <alert-success :form="form" message="New location added!"/>

            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Name</label>
                <div class="col-md-7">
                    <input v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }" class="form-control" type="text" name="name">
                    <has-error :form="form" field="name"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Description</label>
                <div class="col-md-7">
                    <textarea v-model="form.description" :class="{ 'is-invalid': form.errors.has('description') }" class="form-control" name="description"></textarea>
                    <has-error :form="form" field="description"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Latitude</label>
                <div class="col-md-7">
                    <input v-model="form.latitude" :class="{ 'is-invalid': form.errors.has('latitude') }" class="form-control" type="text" name="latitude">
                    <has-error :form="form" field="latitude"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Longitude</label>
                <div class="col-md-7">
                    <input v-model="form.longitude" :class="{ 'is-invalid': form.errors.has('longitude') }" class="form-control" type="text" name="longitude">
                    <has-error :form="form" field="longitude"/>
                </div>
            </div>
            <!-- Submit Button -->
            <div class="form-group row">
                <div class="col-md-9 ml-md-auto">
                    <v-button :loading="form.busy" type="success">{{ location.id ? 'Update' : 'Create' }}</v-button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
import Form from 'vform'

export default {
    props: {
        user: {
            type: Object,
            default () {
                return {}
            }
        },
    },
    data: () => ({
        form: new Form({
            role: 'admin',
            name: '',
            email: '',
            password: '',
            password_confirmation: ''            
        })
    }),
    watch: {
        user(value) {
            if (value.id) {
                this.form.keys().forEach(key => {
                    this.form[key] = value[key]
                })
            }
        }
    },
    computed: {
        mode() {
            return this.user.id ? 'update' : 'create'
        },
    },
    created() {
        if (this.user.id) {
            this.form.keys().forEach(key => {
                this.form[key] = this.user[key]
            })
        }
    },
    methods: {
        async onSubmit () {
            let url = '/api/admin/user' + (this.user.id ? '/' + this.user.id : '')
            let method = this.user.id ? 'patch' : 'post'
            const { response } = await this.form[method](url)
            
            // if (this.mode == 'create') {
                setTimeout(() => {
                    this.$router.push({ name: 'admin.users.list' })
                }, 1000)
            // }
            // this.$store.dispatch('auth/updateUser', { user: data })
        }
    },
}
</script>