<template>
    <div>
        <page-header></page-header>

        <div class="container-fluid py-3">
        	<div class="card">
        		<div class="card-body">
        			<table-order title="Locations" :fields="fields" :item-actions="itemActions" api-url="admin/location" @table-action="tableActions" show-paginate>
        	            <template slot="buttons">
        	                <!-- <router-link :to="{ name: 'admin.locations.create' }" class="btn btn-sm btn-success">New location</router-link> -->
        	            </template>
        	        </table-order>
        	    </div>
        	</div>
        </div>
    </div>
</template>

<script>
import PageHeader from '~/components/PageHeader'
import swal from 'sweetalert2'
import TableOrder from "~/components/TableOrder";

export default {
	metaInfo () {
	    return { title: 'Users' }
	},
    created() {
        this.$store.dispatch('page/setTitle', { title: 'Retail Locations' });
        this.$store.dispatch('page/setSubtitle', { subtitle: '' })
    },
	components: {
        TableOrder,
        PageHeader,
	},
	data() {
		return {
            fields: [
                {
                    name: 'name',
                    title: 'Name',
					sortable: true,
                },
                // {
                //     name: 'description',
                //     title: 'Description'
                // },
				{
                    name: 'user',
                    title: 'Retailer',
                    callback: 'username',
                },
				{
                    name: 'created_at',
                    title: 'Created at',
                    sortable: true,
                }, 
                // {
                //     name: '__status',
                //     title: 'Status',
                //     titleClass: 'text-center',
                //     dataClass: 'text-center'
                // },
                {
                    name: '__actions',
                    title: 'Actions',
                    titleClass: 'text-center',
                    dataClass: 'text-center'
                }
            ],
            itemActions: [
                // { name: 'edit-item', title: 'Edit', icon: 'pencil-alt', class: 'btn btn-sm bg-transparent mr-2'},
                // { name: 'delete-item', title: 'Delete', icon: 'trash-alt', class: 'btn btn-sm bg-transparent mr-2'}
                { name: 'detail-item', title: 'Detail', icon: 'eye', class: 'btn btn-sm btn-light mr-2'},
            ]
        }
	},
	methods: {
        avatar(value) {
        	return '<img src="' + value + '" class="avatar img-fluid rounded-circle" style="max-width:50px;"/>'
        },
        username(user){
        	if (user) {
        		return user.name;
        	}
        	else {
        		return ''
        	}
        },
        tableActions(action, data) {
            if (action == 'detail-item') {
                this.$router.push({ name: 'admin.locations.detail.index', params: { location_id: data.id } })
            }
        }
    }
}
</script>