<template>
    <div class="container-fluid py-3">
        <div class="d-flex">
            <h5>Menu</h5>
            <!--<button class="btn btn-link btn-sm ml-auto" @click="editMode = true" v-if="!editMode">Edit</button>-->
            <!--<button class="btn btn-secondary btn-sm ml-auto mr-2" @click="editMode = false" v-if="editMode">Cancel</button>-->
            <!--<button class="btn btn-primary btn-sm" @click="saveMenu" v-if="editMode">Save</button>-->
        </div>
        <div class="all-menu-container">
            <div class="menu-category-container mt-3" v-for="category in all_categories" :key="category.id" :class="{active: activateCategory(category.id)}" v-show="showCategory(category.id)">
                <div class="menu-category border p-2 bg-white">
                    <!-- <img src="/images/th.png" class="category-image mr-3"> -->
                    <div class="custom-control custom-checkbox" v-if="editMode">
                        <input type="checkbox" class="custom-control-input" :id="'category-check-'+category.id" :value="category.id" v-model="categories">
                        <label class="custom-control-label" :for="'category-check-'+category.id"><strong>{{category.name}}</strong></label>
                    </div>
                    <div class="font-weight-bold" v-if="!editMode">{{category.name}}</div>
                    <div class="text-secondary">{{category.description}}</div>
                </div>
                <div class="menu-category-items ml-5">
                    <div class="menu-item border p-2 mt-3 bg-white" v-for="item in category.items" :key="item.id"  v-show="showItem(item.id)">
                        <img :src="item.images[0].url" class="item-image mr-3" v-if="item.images && item.images.length > 0">
                        <div class="custom-control custom-checkbox" v-if="editMode">
                            <input type="checkbox" class="custom-control-input" :id="'item-check-'+item.id" :value="item.id" v-model="items">
                            <label class="custom-control-label" :for="'item-check-'+item.id"><strong>{{item.name}}</strong></label>
                        </div>
                        <div class="font-weight-bold" v-if="!editMode">{{item.name}}</div>
                        <div class="text-secondary">{{item.description}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import PageHeader from '~/components/PageHeader'

    export default {
	metaInfo () {
	    return { title: 'Location' }
	},
    components: {
        PageHeader
    },
    data() {
        return {
            editMode: false,
            categories: [],
            items: [],
            all_categories: [],
            all_category_items: {}
        }
    },
    created() {
        this.$http.get('category/all?location_id='+this.$route.params.location_id,)
        .then((response) => {
            this.all_categories = response.data.data;
            this.all_categories.forEach((category) => {
                this.all_category_items[category.id] = category.items.map((item) => {
                    return item.id
                })
            });
        });

        this.loadLocationCategories();
    },
    watch: {
        categories(categories) {
            this.items = this.items.filter((item_id) => {
                var filtered = false;
                categories.some((category_id) => {
                    if (this.all_category_items[category_id].indexOf(item_id) !== -1) {
                        filtered = true
                        return true;
                    }
                    else {
                        filtered = false
                    }
                })                
                return filtered
            })
        }
    },
	methods: {
        activateCategory(id) {
            return this.categories.indexOf(id) !== -1;
        },
        showCategory(id) {
            return this.editMode || this.categories.indexOf(id) !== -1;
        },
        showItem(id) {
            return this.editMode || this.items.indexOf(id) !== -1;
        },
        loadLocationCategories() {
            this.$http.get('/location/' + this.$route.params.location_id + '/menu')
            .then((response) => {
                this.categories = response.data.categories.map((category) => {
                    return category.id
                }).sort();

                this.items = response.data.items.map((item) => {
                    return item.id
                }).sort();
            }).catch((error) => {
                console.log(error)
            })
        },
        saveMenu() {
            this.categories = this.categories.sort();
            this.items = this.items.sort();
            this.$http.post('location/' + this.$route.params.location_id + '/menu', {categories: this.categories, items: this.items})
            .then((response) => {
                this.loadLocationCategories();
                this.editMode = false;
            }).catch((error) => {
                console.log(error)
            })
        }
    }
}
</script>

<style lang="scss" scoped>
.category-image{
    max-width: 30px;
}

.item-image {
    max-width: 100px;
}

.menu-category-items {
    display: none;
}

.menu-category-container.active {
    .menu-category-items {
        display: block;
    }
}
</style>