<template>
    <div>
        <page-header>
            <template slot="actions">
                <router-link :to="{name: 'items.addons'}" class="btn btn-light btn-sm"><fa icon="chevron-left"/> Back</router-link>
            </template>
        </page-header>
        <template v-if="pin && pin === 'category'">
        <div class="container-fluid py-3">
            <div class="card">
                <div class="card-body" v-if="addon">
                    <addons-form :addon="addon"/>
                </div>
            </div>
        </div>
        </template>
        <template v-else>
            <pin-form set-pin="category"/>
        </template>
    </div>
</template>

<script>
import PageHeader from '~/components/PageHeader'
import ItemForm from '~/pages/items/form'
import swal from 'sweetalert2'
import PinForm from "../../components/PinForm";
import { mapGetters } from 'vuex';
import AddonsForm from "./form";

export default {
	metaInfo () {
	    return { title: 'Edit Item Addon' }
	},
    components: {
        AddonsForm,
        PinForm,
        PageHeader,
        ItemForm
    },
    computed: mapGetters({
        pin: 'page/pin',
    }),
    async created() {
        this.$store.dispatch('page/setTitle', { title: 'Edit Item Addon' });
        this.$store.dispatch('page/setSubtitle', { subtitle: 'Addons' });

        var response = await this.$http.get('addon/' + this.$route.params.addon_id + '/edit');

        if (response && response.status == 200) {
            this.addon = response.data.data;
            this.$store.dispatch('page/setTitle', { title: 'Edit Item Addon - ' + this.addon.name })
        }
        else {
            console.log(response)
        }
    },
	data() {
		return {
            addon: null
        }
	},
	methods: {
    }
}
</script>
