<template>
	<div class="form-wrapper py-3">
		<form @submit.prevent="save" @keydown="form.onKeydown($event)">
			<alert-success :form="form" :message="success_message"/>

			<!-- Name -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('name') }}</label>
                <div class="col-md-7">
                    <input id="name" ref="name" v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }" class="form-control" type="text" name="name" required>
                    <has-error :form="form" field="name"/>
                </div>
            </div>

            <!-- Price -->
            <div class="form-group row"  v-if="user.currencies && user.currencies.indexOf('eur') !== -1">
                <label class="col-md-3 col-form-label text-md-right">Price EUR</label>
                <div class="col-md-7">
                    <input id="price_eur" ref="price_eur" v-model="form.price_eur" :class="{ 'is-invalid': form.errors.has('price_eur') }" class="form-control" required type="number" name="price_eur" step="0.01" min="0" max="999999">
                    <has-error :form="form" field="price_eur"/>
                </div>
            </div>
            <!-- Price -->
            <div class="form-group row"  v-if="user.currencies && user.currencies.indexOf('gbp') !== -1">
                <label class="col-md-3 col-form-label text-md-right">Price GBP</label>
                <div class="col-md-7">
                    <input id="price_gbp" required ref="price_gbp" v-model="form.price_gbp" :class="{ 'is-invalid': form.errors.has('price_gbp') }" class="form-control" type="number" name="price_gbp" step="0.01" min="0" max="999999">
                    <has-error :form="form" field="price_gbp"/>
                </div>
            </div>
            <!-- Price -->
            <div class="form-group row"  v-if="user.currencies && user.currencies.indexOf('aed') !== -1">
                <label class="col-md-3 col-form-label text-md-right">Price AED</label>
                <div class="col-md-7">
                    <input id="price_aed" required ref="price_aed" v-model="form.price_aed" :class="{ 'is-invalid': form.errors.has('price_aed') }" class="form-control" type="number" name="price_aed" step="0.01" min="0" max="999999">
                    <has-error :form="form" field="price_aed"/>
                </div>
            </div>   <!-- Price -->
            <div class="form-group row"  v-if="user.currencies && user.currencies.indexOf('usd') !== -1">
                <label class="col-md-3 col-form-label text-md-right">Price USD</label>
                <div class="col-md-7">
                    <input id="price_usd" required ref="price_usd" v-model="form.price_usd" :class="{ 'is-invalid': form.errors.has('price_usd') }" class="form-control" type="number" name="price_usd" step="0.01" min="0" max="999999">
                    <has-error :form="form" field="price_usd"/>
                </div>
            </div>

            <!-- Submit Button -->
            <div class="form-group row mb-0">
                <div class="col-md-7 offset-md-3 d-flex">
                	<router-link :to="{name: 'items.addons'}" class="btn btn-secondary">Cancel</router-link>
                  	<v-button :loading="form.busy" class="ml-auto" type="primary">{{ (mode == 'update') ? 'Update Addon' : 'Add Addon' }}</v-button>
                </div>
            </div>
		</form>
	</div>
</template>

<script>
import Form from 'vform'
import UploadImage from '~/components/UploadImage'
import {mapGetters} from "vuex";

export default {
    components: {
        UploadImage
    },
	props: {
        addon: { type: Object, default: null }
	},
	computed: Object.assign(mapGetters({
        user: 'auth/user',
    }),{
		success_message() {
			if (this.addon && this.addon.id) {
				return 'Addon is updated successfully!'
			}
			else {
				return 'Addon is created successfully!'
			}
		},
		mode() {
            return (this.addon && this.addon.id) ? 'update' : 'create'
        },
	}),
	data: () => ({
        form: new Form({
            name: '',
            price_eur: '',
            price_gbp: '',
            price_aed: '',
            price_usd: '',
        }),
    }),
    created () {
        // Fill the form with item data.
        if (this.addon) {
        	this.form.keys().forEach(key => {
                if (this.addon[key]) {
                    this.form[key] = this.addon[key]
                }
	        });
        }
    },
    methods: {
    	save () {
            if (this.form.busy === false) {
                this.form.busy = true;
                let url = '/api/addon' + ((this.mode == 'update') ? '/' + this.addon.id : '');
                let method = (this.mode == 'update') ? 'patch' : 'post';
                this.form[method](url).then((response) => {
                    this.$router.push({name: 'items.addons'});
                    setTimeout(()=>{ this.form.busy = false}, 1000);
                });
            }
    	},
    }
}
</script>
