<template>
    <div>
        <page-header>
            <template slot="actions">
                <template v-if="pin && pin === 'category'">
                    <router-link :to="{ name: 'items.addons.create' }" class="btn btn-sm btn-primary"><fa icon="plus"/> New Addon</router-link>
                </template>
            </template>
        </page-header>
        <template v-if="pin && pin === 'category'">
            <div class="container-fluid py-3">
                <div class="card">
                    <div class="card-body">
                        <vue-table title="Addons" :fields="fields" :item-actions="itemActions" api-url="addon" :show-row-num="true" @table-action="tableActions" show-paginate>
                        </vue-table>
                    </div>
                </div>
            </div>
        </template>
        <template v-else>
            <pin-form set-pin="category"/>
        </template>
    </div>
</template>
<script>
    import PageHeader from '~/components/PageHeader'
    import VueTable from '~/components/Table'
    import swal from 'sweetalert2'
    import PinForm from "../../components/PinForm";
    import { mapGetters } from 'vuex';
    import {setListCurrencies} from "../../functions";
    export default {
        metaInfo () {
            return { title: 'Items Addons' }
        },
        components: {
            PinForm,
            VueTable,
            PageHeader
        },
        created() {
            this.$store.dispatch('page/setTitle', { title: 'Items Addons' })
            this.$store.dispatch('page/setSubtitle', { subtitle: '' })

        },
        mounted() {
            this.fields = [

                {
                    name: 'name',
                    title: 'Name'
                },
                ...setListCurrencies(this.user, false),
                {
                    name: '__actions',
                    title: '',
                    titleClass: 'text-center',
                    dataClass: 'text-center'
                }
            ]
        },
        computed: mapGetters({
            pin: 'page/pin',
            user: 'auth/user',
        }),
        data() {
            return {
                fields: [],
                itemActions: [
                    { name: 'edit-addon', title: 'Edit', icon: 'pencil-alt', class: 'btn btn-sm btn-light bg-transparent mr-2'},
                    // { name: 'delete-addon', title: 'Delete', icon: 'trash-alt', class: 'btn btn-sm btn-light bg-transparent mr-2'}
                ]
            }
        },
        methods: {

            price_eur(price) {
                return '€' + price
            },
            price_gbp(price) {
                return '£' + price
            },
            price_aed(price) {
                return  'د.إ'+ price;
            },
            price_usd(price) {
                return  '$'+ price;
            },
            tableActions(action, data) {
                if (action == 'edit-addon') {
                    this.$router.push({ name: 'items.addons.edit', params: { addon_id: data.id } })
                } else if (action == 'delete-addon') {
                    var text = '<div class="mb-3">\"'+data.name+'\"</div>';
                    swal({
                        title: '<div class="mt-3">Delete this addon?</div>',
                        html: text,
                        // type: 'warning',
                        reverseButtons: true,
                        showCancelButton: true,
                        confirmButtonColor: '#d33',
                        cancelButtonColor: '#3085d6',
                        confirmButtonText: 'Delete'
                    }).then((result) => {
                        if (result.value) {
                            this.$http.delete('addon/' + data.id)
                                .then((response) => {
                                    toastr.success('You deleted the addon!');

                                    this.$emit('reload')
                                }, (response) => {
                                    if ((typeof response.data.error !== 'string') && response.data.error) {
                                        toastr.error(response.data.error.message)
                                    } else {
                                        toastr.error(response.status + ' : Resource ' + response.statusText)
                                    }
                                })
                        }
                    })
                }
            }
        }
    }
</script>
