<template>
    <div>
        <page-header></page-header>
        <div class="container-fluid py-3">
            <div class="card">
                <div class="card-body">
                    <table-order export-url="order/export" title="All orders" :fields="fields" api-url="admin/order"
                                 :show-row-num="false" show-paginate :search-placeholder="'Search by Id'">
                    </table-order>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import PageHeader from '~/components/PageHeader'
    import TableOrder from "~/components/TableOrder";

    export default {
        metaInfo() {
            return {title: 'Orders'}
        },
        components: {
            TableOrder,
            PageHeader
        },
        created() {
            this.$store.dispatch('page/setTitle', {title: 'Orders'});
            this.$store.dispatch('page/setSubtitle', {subtitle: ''})
        },
        data() {
            return {
                fields: [
                    {
                        name: 'id',
                        title: 'ORDER ID',
                        callback: 'order_id',
                        dataClass: 'order',
                        sortable: true,
                        titleClass: 'sortable'
                    },{
                        name: 'retailer',
                        title: 'retailer',
                        callback: 'retailer',
                    },{
                        name: 'location',
                        title: 'location',
                        callback: 'location',
                    }, {
                        name: 'user',
                        title: 'Name',
                        callback: 'user',

                    }, {
                        name: 'table_number',
                        title: 'TABLE',
                    },
                    {
                        name: 'order_items',
                        title: 'ITEMS',
                        callback: 'order_items',
                        titleClass: 'order-items-th'
                    }, {
                        name: 'grandtotal_price',
                        title: 'TOTAL ORDER PRICE',
                        callback: 'total',
                        sortable: true,
                        titleClass: 'sortable'
                    }, {
                        name: 'total_fee',
                        title: 'CUSTOMER FEE',
                        callback: 'total',
                        titleClass: 'sortable'
                    },
                    {
                        name: 'tips',
                        title: 'TIPS',
                        callback: 'total',
                        sortable: true,
                        titleClass: 'sortable'
                    },
                    {
                        name: 'discount_sum',
                        title: 'Discount',
                        callback: 'discount',
                        sortable: true,
                        titleClass: 'sortable'
                    },
                    {
                        name: 'home_delivery_price',
                        title: 'Delivery',
                        callback: 'total',
                        sortable: true,
                        titleClass: 'sortable'
                    },
                    {
                        name: 'drink_app_fee',
                        title: 'RETAILER FEE',
                        callback: 'total',
                        titleClass: 'sortable'
                    },
                    {
                        name: 'stripe_fee',
                        title: 'TOTAL FEES',
                        callback: 'order_revenue',
                        titleClass: 'sortable'
                    },
                    {
                        name: 'order_revenue',
                        title: 'Order Revenue',
                        callback: 'order_revenue',
                        titleClass: 'sortable'
                    },
                    {
                        name: 'completed_at',
                        title: 'COLLECT TIME',
                        callback: 'completed_at',
                        sortable: true,
                        titleClass: 'sortable'
                    },
                    {
                        name: 'created_at_object',
                        title: 'CREATE TIME',
                        callback: 'created_at',
                        sortable: true,
                        sort_field: 'created_at',
                        titleClass: 'sortable'
                    },
                    {
                        name: 'status',
                        title: 'STATUS',
                        callback: 'status',
                        sortable: true,
                        titleClass: 'sortable'
                    }
                ],
            }
        },
        methods: {
            order_id: (value) => {
                return '#' + value;
            },
            total: (value, obj) => {
                if (value) {
                    return obj.currency_symbol + parseFloat(value).toFixed(2);
                } else {
                    return '';
                }
            },
            order_revenue: (value, obj) => {
                if (obj.currency_symbol) {
                    if (value) {
                        return obj.currency_symbol + parseFloat(value).toFixed(2);
                    } else {
                        return '';
                    }
                } else {
                    if (value) {
                        return obj.currency_symbol + parseFloat(value).toFixed(2);
                    } else {
                        return '';
                    }
                }
            },
            order_items: (value, obj) => {
                return value.map((val) => {
                    let options = '';
                    if (val.options) {
                        options = '('+Object.values(val.options).map(v => v.name + ' - '+v.value).join(', ')+')';
                    }
                    let addons = '';
                    if (val.addons) {
                        addons = '('+Object.values(val.addons).map(v => {
                            let price;
                            if (parseFloat(v.price) > 0) {
                                price = ' - '+obj.currency_symbol+parseFloat(v.price);
                            } else {
                                price = ''
                            }
                            return val.quantity + ' X '+ v.name + price
                        }).join(', ')+')';
                    }
                    return val.quantity + ' X ' + val.item_name +' '+ options +' '+ addons
                }).join('<br>');
            },
            status: (value) => {
                let status_map = {
                    0: 'pending',
                    1: 'failed',
                    2: 'ready for collection',
                    3: 'ready for delivery',
                    4: 'completed',
                    5: 'home delivery',
                    6: 'refunded',
                };
                return '<span class="'+status_map[value].toLowerCase().replace(/\s/g,'-')+'">'+status_map[value]+'</span>';
            },
            user: (value) => {
                return (value !== null && typeof value.name !== "undefined") ? value.name : '';
            },
            discount: (value, obj) => {
                if (!value) {
                    return ''
                }
                return obj.currency_symbol + parseFloat(value)
            },
            location: (value) => {
                return (value !== null && typeof value.name !== "undefined") ? value.name : '';
            },
            retailer: (value) => {
                return (value !== null && typeof value.name !== "undefined") ? value.name : '';
            },
            completed_at: (value) => {
                let date = '';
                if (value !== null && typeof value !== "undefined") {
                    let date_obj = new Date(value);
                    date = date_obj.toLocaleString();
                }
                return date;

            },
            created_at: (value) => {
                let date = '';
                if (value !== null && typeof value !== "undefined") {
                    let date_obj = new Date(value);
                    date = date_obj.toLocaleString();
                }
                return date;

            }
        }
    }
</script>
<style>
    .table th {
        font-size: 11px;
        font-weight: 500;
        line-height: 21px;
        text-transform: uppercase;
        opacity: 0.7;
        color: #1b1b1c;
    }
    .table td {
        color: #726c7d;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
    }
    .order {
        font-size: 14px;
        font-weight: 500;
        color: #1b1b1c;
        line-height: 21px;
    }

    .order-items-th {
        width: 30%;
    }
    .completed {
        color: #09b11a;
    }
    .fail {
        color: black;
    }
    .pending {
        color: red;
    }
    .ready-for-collection,ready-for-delivery  {
        color: orange;
    }
</style>
