<template>
    <div>
        <page-header></page-header>
        <template v-if="pin && pin === 'customers'">
        <div class="container-fluid py-3">
            <div class="card">
                <div class="card-body">
                    <vue-table title="Users" :fields="fields" api-url="/customers" :show-dates="true" :show-row-num="false" show-paginate>
                    </vue-table>
                </div>
            </div>
        </div>
        </template>
        <template v-else>
            <pin-form set-pin="customers"/>
        </template>
    </div>
</template>

<script>
    import PageHeader from '~/components/PageHeader'
    import VueTable from '~/components/TableOrder'
    import swal from 'sweetalert2'
    import PinForm from "../../components/PinForm";
    import { mapGetters } from 'vuex';

    export default {
        metaInfo () {
            return { title: 'Customers' }
        },
        created() {
            this.$store.dispatch('page/setTitle', { title: 'Customers' });
            this.$store.dispatch('page/setSubtitle', { subtitle: '' })
        },
        components: {
            PinForm,
            PageHeader,
            VueTable
        },
        computed: mapGetters({
            pin: 'page/pin',
        }),
        data() {
            return {
                fields: [
                    {
                        name: 'name',
                        title: 'Name',
                        sortable: true,
                    }, {
                        name: 'email',
                        title: 'Email',
                        callback: 'email',
                        sortable: true,
                    },
                    {
                        name: 'created_at',
                        title: 'Created at',
                        sortable: true,
                    },
                ],
            }
        },
        methods: {
            avatar(value) {
                return '<img src="' + value + '" class="avatar img-fluid rounded-circle" style="max-width:40px;"/>'
            },
            email(value){
                return '<a href="mailto:'+value+'">'+value+'</a>';
            },
        }
    }
</script>
