<template>
    <div>
        <page-header></page-header>
        <template v-if="(pin && pin === 'settings') || user.email==='admin@drink.com'">
        <div class="container-fluid py-3">
            <card title="Change currencies">
                <form @submit.prevent="update" @keydown="form.onKeydown($event)">
                    <alert-success :form="form" :message="'Currencies updated'"/>

                    <!-- Password -->
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">Currencies</label>
                        <div class="col-md-7">
                            <vue-select :closeOnSelect="true" multiple v-model="form.currencies" :options="currencies" />
                        </div>
                    </div>

                    <!-- Submit Button -->
                    <div class="form-group row">
                        <div class="col-md-9 ml-md-auto">
                            <v-button :loading="form.busy" type="primary">{{ $t('update') }}</v-button>
                        </div>
                    </div>
                </form>
            </card>
        </div>
        </template>
        <template v-else>
            <pin-form set-pin="settings"/>
        </template>
    </div>
</template>

<script>
import Form from 'vform'
import PageHeader from '~/components/PageHeader'
import { mapGetters } from 'vuex';
import PinForm from "../../components/PinForm";
import VueSelect from '~/components/vue-select/src/components/Select'
import swal from 'sweetalert2'

export default {
    scrollToTop: false,

    metaInfo () {
        return { title: this.$t('settings') }
    },
    computed: mapGetters({
        pin: 'page/pin',
        user: 'auth/user',
    }),
    components: {
        PinForm,
        PageHeader,
        VueSelect
    },
    created() {
        this.$store.dispatch('page/setTitle', { title: 'Currencies' })
        this.$store.dispatch('page/setSubtitle', { subtitle: 'Settings' })
        this.form.currencies = this.user.currencies.map(function (value) {
            return value.toUpperCase();
        });
    },
    data: () => ({
        form: new Form({
            currencies: [],
        }),
        currencies: ['EUR', 'GBP', 'USD', 'AED'],
    }),

    methods: {
        async update () {
            if (this.form.currencies.length === 0) {
                swal({
                    type: 'error',
                    text: 'Please add at least one currency.',
                    confirmButtonText: 'Ok',
                });
            } else {
                this.form.patch('/api/settings/currencies').then((resp) => {
                    this.$store.dispatch('auth/updateUser', { user: resp.data })
                }).catch(error => {
                    if (error.response && error.response.data && error.response.data.messages) {
                        swal({
                            type: 'error',
                            title: error.response.data.messages[0],
                            confirmButtonText: 'Ok',
                        });
                    }
                });
            }
        }
    }
}
</script>
