<template>
    <div>
        <page-header></page-header>
        <template v-if="(pin && pin === 'settings') || user.email==='admin@drink.com'">
        <div class="container-fluid py-3">
            <card title="Change Password">
                <form @submit.prevent="update" @keydown="form.onKeydown($event)">
                    <alert-success :form="form" :message="$t('password_updated')"/>

                    <!-- Password -->
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('new_password') }}</label>
                        <div class="col-md-7">
                            <input v-model="form.password" :class="{ 'is-invalid': form.errors.has('password') }" class="form-control" type="password" name="password">
                            <has-error :form="form" field="password"/>
                        </div>
                    </div>

                    <!-- Password Confirmation -->
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('confirm_password') }}</label>
                        <div class="col-md-7">
                            <input v-model="form.password_confirmation" :class="{ 'is-invalid': form.errors.has('password_confirmation') }" class="form-control" type="password" name="password_confirmation">
                            <has-error :form="form" field="password_confirmation"/>
                        </div>
                    </div>

                    <!-- Submit Button -->
                    <div class="form-group row">
                        <div class="col-md-9 ml-md-auto">
                            <v-button :loading="form.busy" type="primary">{{ $t('update') }}</v-button>
                        </div>
                    </div>
                </form>
            </card>
        </div>
        </template>
        <template v-else>
            <pin-form set-pin="settings"/>
        </template>
    </div>
</template>

<script>
import Form from 'vform'
import PageHeader from '~/components/PageHeader'
import { mapGetters } from 'vuex';
import PinForm from "../../components/PinForm";

export default {
    scrollToTop: false,

    metaInfo () {
        return { title: this.$t('settings') }
    },
    computed: mapGetters({
        pin: 'page/pin',
        user: 'auth/user',
    }),
    components: {
        PinForm,
        PageHeader
    },
    created() {
        this.$store.dispatch('page/setTitle', { title: 'Security' })
        this.$store.dispatch('page/setSubtitle', { subtitle: 'Settings' })
    },
    data: () => ({
        form: new Form({
            password: '',
            password_confirmation: ''
        })
    }),

    methods: {
        async update () {
            await this.form.patch('/api/settings/password')

            this.form.reset()
        }
    }
}
</script>
