<template>
    <div>
        <page-header></page-header>
        <template v-if="pin && pin === 'settings'">
            <div class="container-fluid py-3">
                <div class="d-flex justify-content-center py-3" v-if="isLoading">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <template v-if="!isLoading">
                    <template
                        v-if="(!user.stripe_standard_account && account.company
                        && !account.company.tax_id_provided
                        && user.custom_account_disconnected == 0) || !account.id && user.custom_account_disconnected == 1">
                        <div class="row">
                            <card title="Details" class="col-sm-12 col-md-12">
                                <div class="text-center py-3">
                                    <h5>
                                        Please connect to payment account
                                    </h5>
                                    <button class="btn btn-light border" @click="connect">{{user.custom_account_disconnected == 1? 'Connect with stripe' : 'Setup'}}</button>
                                </div>
                            </card>
                        </div>
                    </template>
                    <template v-else>
                        <template v-if="this.user.custom_account_disconnected == 0">
                            <div class="row">
                                <div class="col-md-12">
                                    <button @click="showConfirm" title="disconnect your Stripe Custom account"
                                            class="btn btn-primary btn-sm ml-auto mb-2">Disconnect your Stripe Custom
                                        account
                                    </button>
                                </div>
                            </div>
                            <div class="row" v-if="this.user.custom_account_disconnected == 0">
                                <div class="col-md-6">
                                    <card title="Company">
                                        <template slot="labels">
                                            <button title="Edit" class="btn btn-info btn-sm ml-auto "
                                                    @click="visibleDetailModal=true">
                                                <fa icon="pencil-alt"/>
                                            </button>
                                        </template>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="row">
                                                    <label class="col-sm-5">Name</label>
                                                    <div class="col-sm-7" v-if="account.company.name">
                                                        {{account.company.name}}
                                                    </div>
                                                    <div class="col-sm-7 text-secondary" v-else>Not provided</div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-sm-5">Number(tax id)</label>
                                                    <div class="col-sm-7" v-if="account.company.tax_id_provided">
                                                        Provided
                                                    </div>
                                                    <div class="col-sm-7 text-secondary" v-else>Not provided</div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-sm-5">Vat Number</label>
                                                    <div class="col-sm-7" v-if="account.company.vat_id_provided">
                                                        Provided
                                                    </div>
                                                    <div class="col-sm-7 text-secondary" v-else>Not provided</div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-sm-5">Phone number</label>
                                                    <div class="col-sm-7" v-if="account.company.phone">
                                                        {{account.company.phone}}
                                                    </div>
                                                    <div class="col-sm-7 text-secondary" v-else>Not provided</div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-sm-5">Website</label>
                                                    <div class="col-sm-7" v-if="account.business_profile.url">
                                                        {{account.business_profile.url}}
                                                    </div>
                                                    <div class="col-sm-7 text-secondary" v-else>Not provided</div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-sm-5">Address</label>
                                                    <div class="col-sm-7">
                                                        <div v-if="account.company.address.country">
                                                            {{countries[account.company.address.country]}}
                                                        </div>
                                                        <div v-if="account.company.address.line1">
                                                            {{account.company.address.line1}}
                                                        </div>
                                                        <div v-if="account.company.address.city">
                                                            {{account.company.address.city}}
                                                        </div>
                                                        <div v-if="account.company.address.postal_code">
                                                            {{account.company.address.postal_code}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </card>
                                </div>
                                <div class="col-md-6">
                                    <EditBank title="Bank EUR" :currency="'eur'" :countries="countries"
                                              :external_accounts="account.external_accounts"></EditBank>
                                    <EditBank title="Bank GBP" :currency="'gbp'" :countries="countries"
                                              :external_accounts="account.external_accounts"></EditBank>
                                    <EditBank title="Bank USD" :currency="'usd'" :countries="countries" :external_accounts="account.external_accounts"></EditBank>
                                </div>
                                <EditPerson :title="'Management and ownership'" :person_data="persons"></EditPerson>
                            </div>
                        </template>
                        <template v-else>
                            <div class="col-md-12">
                                <card title="Stripe Account">
                                    <template slot="labels">
                                        <button title="Edit" class="btn btn-info btn-sm ml-auto "
                                                @click="connect">
                                            <fa icon="pencil-alt"/>
                                        </button>
                                    </template>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-sm-5">Platform payments status</label>
                                                <div class="col-sm-7 text-secondary">
                                                <span :class="{
                                                    badge: true,
                                                    'badge-pill': true,
                                                     'badge-danger': account.capabilities.platform_payments === 'inactive' || !account.capabilities.platform_payments,
                                                     'badge-success': account.capabilities.platform_payments === 'active',
                                                     'badge-secondary': account.capabilities.platform_payments === 'pending',

                                                }">{{account.capabilities.platform_payments ? account.capabilities.platform_payments : 'inactive'}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div>
                                                <p>In order to start processing orders login to your Stripe account <a href="https://dashboard.stripe.com/login" target="_blank" style="cursor: pointer; color: #f8613d">here</a> and then:</p>
                                                <ul>
                                                    <li>verify email address</li>
                                                    <li>verify business and owner details (provide additional document scans if needed)</li>
                                                    <li>add your bank account</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-5">Payouts enabled</label>
                                        <div class="col-sm-7 text-secondary">
                                                <span :class="{
                                                    badge: true,
                                                    'badge-pill': true,
                                                     'badge-danger': !account.payouts_enabled,
                                                     'badge-success': account.payouts_enabled,
                                                }">{{account.payouts_enabled?'Yes':'No'}}</span>
                                        </div>
                                    </div>
                                </card>
                            </div>
                        </template>
                    </template>
                    <modal v-if="this.user.custom_account_disconnected === 0"
                           :show="visibleDetailModal"
                           :large="true"
                           confirm-text="Submit"
                           @cancel="visibleDetailModal=false">
                        <div slot="title">Company Details</div>
                        <div>
                            <form @submit.prevent="setup">
                                <template>
                                    <div class="form-group row" v-if="!account.company.tax_id_provided">
                                        <label class="col-md-3 col-form-label text-md-right">Name</label>
                                        <div class="col-md-6">
                                            <input required type="text" class="form-control" name="company-name"
                                                   v-model="account.company.name">
                                        </div>
                                    </div>
                                    <div class="form-group row" v-if="!account.company.tax_id_provided">
                                        <label class="col-md-3 col-form-label text-md-right">Number(tax id)</label>
                                        <div class="col-md-6">
                                            <input required type="text" class="form-control" name="company-tax_id"
                                                   v-model="account.company.tax_id">
                                        </div>
                                    </div>
                                    <div class="form-group row" v-if="!account.company.vat_id_provided">
                                        <label class="col-md-3 col-form-label text-md-right">Vat Number</label>
                                        <div class="col-md-6">
                                            <input required type="text" class="form-control" name="company-vat_id"
                                                   v-model="account.company.vat_id">
                                        </div>
                                    </div>
                                    <div class="form-group row" v-if="!account.company.tax_id_provided">
                                        <label class="col-md-3 col-form-label text-md-right">Country</label>
                                        <div class="col-md-6">
                                            <select required class="form-control" name="account-country"
                                                    v-model="account.country">
                                                <option
                                                    v-for="(value, key, index) in countries"
                                                    v-bind:value="key"
                                                    :selected="key == account.country"
                                                >{{ value }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label text-md-right">Phone number</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" pattern="(\+[0-9\s]+)"
                                                   placeholder="+44 1234567890" name="account-phone"
                                                   v-model="account.company.phone">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label text-md-right">Website</label>
                                        <div class="col-md-6">
                                            <input type="url" class="form-control" name="account-business_profile-rul"
                                                   v-model="account.business_profile.url">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label text-md-right">Address</label>
                                        <div class="col-md-6">
                                            <input required type="text" id="company-address" class="form-control"
                                                   name="account-address-line1" v-model="account.company.address.line1"
                                                   placeholder="Address">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label text-md-right">State</label>
                                        <div class="col-md-6">
                                            <input required type="text" class="form-control"
                                                   name="account-address-state" v-model="account.company.address.state"
                                                   placeholder="State">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label text-md-right">Town or City</label>
                                        <div class="col-md-6">
                                            <input required type="text" class="form-control" name="account-address-city"
                                                   v-model="account.company.address.city" placeholder="Town or City">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label text-md-right">Postal Code</label>
                                        <div class="col-md-6">
                                            <input required type="text" class="form-control"
                                                   name="account-address-postal_code"
                                                   v-model="account.company.address.postal_code"
                                                   placeholder="Postal Code">
                                        </div>
                                    </div>
                                </template>
                                <hr/>
                                <div class="d-flex justify-content-end">
                                    <button type="button" class="btn btn-light ml-auto"
                                            @click="visibleDetailModal=false">
                                        Cancel
                                    </button>
                                    <v-button type="primary" :loading="submitting">Submit</v-button>
                                </div>
                            </form>
                        </div>
                    </modal>
                </template>
            </div>
        </template>
        <template v-else>
            <pin-form set-pin="settings"/>
        </template>
    </div>
</template>

<script>
    import PageHeader from '~/components/PageHeader'
    import Modal from '~/components/Modal'
    import VButton from '~/components/Button'
    import NewCard from '~/components/Card'
    import {mapGetters} from 'vuex'
    import swal from 'sweetalert2'
    import EditBank from "../../components/EditBank";
    import EditPerson from "../../components/EditPerson";
    import Card from "../../components/Card";
    import PinForm from "../../components/PinForm";

    export default {
        scrollToTop: false,

        metaInfo() {
            return {title: this.$t('settings')}
        },
        components: {
            PinForm,
            Card,
            EditPerson,
            EditBank,
            PageHeader,
            Modal,
            VButton,
            NewCard
        },
        updated() {
            if (document.getElementById('company-address') && this.visibleDetailModal && !this.autocompleteAddress) {
                this.autocompleteAddress = new google.maps.places.Autocomplete(document.getElementById('company-address'), {types: ['geocode']});
                this.autocompleteAddress.addListener('place_changed', this.fillInAddress);
            }
        },
        data: () => ({
            isLoading: true,
            visibleDetailModal: false,
            submitting: false,
            link_type: 'new',
            standardAccountId: '',
            persons: {
                address: {},
                dob: {},
                verification: {},
            },
            account: {
                external_accounts: {},
                business_type: '',
                country: 'IE',
                iban: '',
                currency: 'eur',
                routing_number: '',
                business_profile: {
                    url: '',
                },
                company: {
                    name: '',
                    tax_id: '',
                    vat_id: '',
                    address: {
                        country: '',
                        city: '',
                        postal_code: '',
                        line1: '',
                    }
                },
            },
            autocompleteAddress: false,
            countries: {
                AT: 'Austria',
                BE: 'Belgium',
                DK: 'Denmark',
                FI: 'Finland',
                FR: 'France',
                DE: 'Germany',
                IE: 'Ireland',
                IT: 'Italy',
                LU: 'Luxembourg',
                NL: 'Netherlands',
                NO: 'Norway',
                PT: 'Portugal',
                ES: 'Spain',
                SE: 'Sweden',
                CH: 'Switzerland',
                GB: 'United Kingdom',
                US: 'United States',
            }
        }),
        computed: {
            ...mapGetters({
                user: 'auth/user',
                pin: 'page/pin',
            }),
        },
        created() {
            this.loadAccount();
            if (this.user.custom_account_disconnected) {
                if (this.user.stripe_standard_account_verified) {
                    if (this.user.stripe_standard_account_verified === 5) {
                        this.$store.dispatch('page/setTitle', {title: 'Get paid'})
                    } else {
                        this.$store.dispatch('page/setTitle', {title: 'Verify your connected account'})
                    }
                } else {
                    this.$store.dispatch('page/setTitle', {title: 'Setup your payment connection'})
                }
            } else {
                if (this.user.stripe_acc_verified) {
                    if (this.user.stripe_acc_verified === 5) {
                        this.$store.dispatch('page/setTitle', {title: 'Get paid'})
                    } else {
                        this.$store.dispatch('page/setTitle', {title: 'Verify your connected account'})
                    }
                } else {
                    this.$store.dispatch('page/setTitle', {title: 'Setup your payment connection'})
                }
            }
            this.$store.dispatch('page/setSubtitle', {subtitle: 'Settings'})

        },
        methods: {
            showConfirm() {
                swal({
                    title: 'This process is irreversible. Are you sure you want to continue?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Confirm',
                    showLoaderOnConfirm: true,
                    preConfirm: () => {
                        this.disconnect();
                    },
                })
            },
            loadAccount() {
                this.$http.get('settings/payment')
                    .then((response) => {
                        this.isLoading = false;
                        if (response.data.account) {
                            this.setAccount(response.data.account);
                        }
                        if (typeof response.data.persons !== "undefined") {
                            this.setPersons(response.data.persons);
                        }
                    }).catch((error) => {
                    console.log(error)
                })
            },
            setAccount(account) {
                this.account = account;
            },
            setPersons(persons) {
                if (typeof persons.data !== "undefined" && persons.data.length) {
                    this.persons = persons.data[0];
                }
            },
            fillInAddress() {
                let place = this.autocompleteAddress.getPlace();
                if (place.address_components) {
                    this.account.company.address.line1 = '';
                    for (var i = 0; i < place.address_components.length; i++) {
                        var addressType = place.address_components[i].types[0];
                        if (addressType == 'street_number') {
                            this.account.company.address.line1 = place.address_components[i]['short_name'];
                        } else if (addressType == 'route') {
                            this.account.company.address.line1 += place.address_components[i]['long_name'];
                        }
                        if (addressType == 'locality') {
                            this.account.company.address.city = place.address_components[i]['long_name'];
                        } else if (addressType == 'administrative_area_level_1') {
                            this.account.company.address.state = place.address_components[i]['long_name'];
                        }
                    }
                }
            },
            async connect() {
                if (!this.submitting) {
                    this.submitting = true;
                    this.$http.post('settings/connect-account')
                        .then((resp) => {
                            if (resp.data && resp.data.link) {
                                window.location.href = resp.data.link.url;
                            }
                            this.submitting = false;
                        }).catch((resp) => {
                        this.submitting = false;
                    })
                }
            },
            async disconnect() {
                if (!this.submitting) {
                    this.submitting = true;
                    this.$http.post('settings/disconnect-account')
                        .then((resp) => {
                            this.submitting = false;
                            this.setAccount({
                                external_accounts: {},
                                business_type: '',
                                country: 'IE',
                                iban: '',
                                currency: 'eur',
                                routing_number: '',
                                business_profile: {
                                    url: '',
                                },
                                company: {
                                    name: '',
                                    tax_id: '',
                                    vat_id: '',
                                    address: {
                                        country: '',
                                        city: '',
                                        postal_code: '',
                                        line1: '',
                                    }
                                },
                            });
                            this.$store.dispatch('auth/updateUser', { user: resp.data.user })
                        }).catch((resp) => {
                        this.submitting = false;
                    })
                }
            },
            async setup() {
                this.submitting = true;
                let data = {
                    business_type: 'company',
                    business_profile: {
                        url: this.account.business_profile.url
                    },
                    company: {
                        name: this.account.company.name,
                        phone: this.account.company.phone,
                        address: {
                            country: this.account.country,
                            line1: this.account.company.address.line1,
                            city: this.account.company.address.city,
                            postal_code: this.account.company.address.postal_code,
                            state: this.account.company.address.state,
                        }
                    },
                };
                if (!this.account.company.tax_id_provided) {
                    data.company.tax_id = this.account.company.tax_id;
                }
                if (!this.account.company.vat_id_provided) {
                    data.company.vat_id = this.account.company.vat_id;
                }
                if (this.account.currency == 'gbp') {
                    data.external_account.routing_number = this.account.routing_number;
                }
                this.$http.post('settings/payment', data)
                    .then((response) => {
                        this.submitting = false;
                        console.log(response);
                        this.setAccount(response.data.account);
                        this.visibleDetailModal = false;
                        swal({
                            type: 'success',
                            title: 'Saved',
                            html: '<p>Your account added</p>',
                        });
                    })
                    .catch((error) => {
                        this.submitting = false;
                        if (error.response.data.messages && error.response.data.messages.length > 0) {
                            let error_html = '';
                            error.response.data.messages.forEach((line) => {
                                error_html += '<p>' + line + '</p>';
                            });
                            swal({
                                type: 'error',
                                title: 'Error',
                                html: error_html,
                                reverseButtons: true,
                                confirmButtonText: 'OK',
                                cancelButtonText: 'Cancel'
                            })
                        } else if (error.response.data.message) {
                            swal({
                                type: 'error',
                                title: 'Error',
                                html: error.response.data.message,
                                reverseButtons: true,
                                confirmButtonText: 'OK',
                                cancelButtonText: 'Cancel'
                            })
                        }
                        console.log(error.response);
                    })
            }
        }
    }
</script>
<style>
    p.alert.text-danger {
        text-align: center;
        font-size: 50px;
    }
</style>
