<template>
    <div>
        <page-header></page-header>
        <template v-if="(pin && pin === 'settings') || user.email==='admin@drink.com'">
        <div class="container-fluid py-3">
            <card title="Change profile">
                <form @submit.prevent="update" @keydown="form.onKeydown($event)">
                    <alert-success :form="form" :message="$t('info_updated')"/>

                    <!-- Name -->
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('name') }}</label>
                        <div class="col-md-7">
                          <input v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }" class="form-control" type="text" name="name">
                          <has-error :form="form" field="name"/>
                        </div>
                    </div>

                    <!-- Email -->
                    <!--<div class="form-group row">-->
                        <!--<label class="col-md-3 col-form-label text-md-right">{{ $t('email') }}</label>-->
                        <!--<div class="col-md-7">-->
                          <!--<input v-model="form.email" :class="{ 'is-invalid': form.errors.has('email') }" class="form-control" type="email" name="email">-->
                          <!--<has-error :form="form" field="email" />-->
                        <!--</div>-->
                    <!--</div>-->

                    <!-- Submit Button -->
                    <div class="form-group row">
                        <div class="col-md-9 ml-md-auto">
                          <v-button :loading="form.busy" type="success">{{ $t('update') }}</v-button>
                        </div>
                    </div>
                </form>
            </card>
        </div>
        </template>
        <template v-else>
            <pin-form set-pin="settings"/>
        </template>
    </div>
</template>

<script>
import Form from 'vform'
import PageHeader from '~/components/PageHeader'
import { mapGetters } from 'vuex'
import PinForm from "../../components/PinForm";

export default {
    scrollToTop: false,

    metaInfo () {
      return { title: this.$t('settings') }
    },
    components: {
        PinForm,
        PageHeader
    },
    data: () => ({
        form: new Form({
            name: '',
            // email: ''
        })
    }),

    computed: mapGetters({
      user: 'auth/user',
      pin: 'page/pin',
    }),

    created () {
        this.$store.dispatch('page/setTitle', { title: 'Profile' })
        this.$store.dispatch('page/setSubtitle', { subtitle: 'Settings' })
        // Fill the form with user data.
        this.form.keys().forEach(key => {
            this.form[key] = this.user[key]
        })
    },

    methods: {
        async update () {
            const { data } = await this.form.patch('/api/settings/profile')
            this.$store.dispatch('auth/updateUser', { user: data })
        }
    }
}
</script>
