<template>
    <div>
        <page-header-with-filter>
        </page-header-with-filter>
        <template v-if="loading">

        </template>
        <template v-else>
            <orders-board></orders-board>
        </template>
    </div>
</template>

<script>
    import PageHeaderWithFilter from "../../components/PageHeaderWithFilter";
    import OrdersBoard from "../../components/OrdersBoard";
    import Loading from "../../components/Loading";
    import {mapGetters} from 'vuex';
    import {setPrinter} from "../../functions";

    export let Interval = false;
    export default {
        metaInfo() {
            return {title: 'Orders'}
        },
        data() {
            return {
                loading: false,
            }
        },
        methods: {
            cbCreateDevice_printer(builder, retcode, order, order_id) {
                if( retcode == 'OK' ) {
                    let that = this;
                    builder.onreceive = function (res) {
                        if (!res.success) {
                            let printers = that.$store.getters['page/can_print'];
                            printers[location_id] = false;
                            that.$store.dispatch('page/setCanPrint', {can_print: printers});
                        } else {
                            that.$http.get('/orders/'+order_id+'/set-printed');
                        }
                    };
                    builder.oncoveropen = function () {
                        alert('coveropen');
                    };
                    builder.addTextSmooth(true);
                    builder.addTextFont(builder.FONT_A);
                    let date = new Intl.DateTimeFormat('en-US', {month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric'}).format(new Date(order.created_at));
                    builder.addTextAlign(builder.ALIGN_CENTER);
                    let selected_location = this.selected_location;
                    let location;
                    if (selected_location) {
                        location = this.locations.filter(function (value) {
                            return value.id === selected_location;
                        })[0];
                    }
                    if (location) {
                        builder.addText(location.name + '\n\n');
                    }
                    builder.addTextStyle(true, false, false, builder.COLOR_1);
                    builder.addTextSize(2, 2);
                    if (order.table_number) {
                        builder.addText('To table:\t');
                        builder.addText(order.table_number+'\n');
                    } else if (order.delivery_address) {
                        builder.addText('Delivery\n');
                    } else {
                        builder.addText('Collect at bar\n');
                    }
                    builder.addTextSize(1, 1);
                    builder.addTextStyle(false, false, false, builder.COLOR_1);
                    builder.addTextAlign(builder.ALIGN_LEFT);
                    builder.addText(date+'\n');
                    builder.addText('Queue number : ');
                    builder.addTextSmooth(false);
                    builder.addText(order.queue + '\n');
                    builder.addText('Customer :' + order.customer_name +'\n');
                    if (order.phone_number) {
                        builder.addText('Number: ' + order.phone_number +'\n');
                    }
                    if (order.delivery_address) {
                        builder.addText('Address: ' + order.phone_number +'\n');
                    }
                    if (order.description) {
                        builder.addText('Note: ' + order.description +'\n');
                    }
                    builder.addText('Items : \n\n');
                    order.order_details.forEach(function (order_detail) {
                        let options = '';
                        if (order_detail.options) {
                            Object.keys(order_detail.options).forEach((option_id, index) => {
                                options += order_detail.options[option_id].name + ' - ' +order_detail.options[option_id].value;
                                if (order_detail.options.length - 1 !== index) {
                                    options += ', ';
                                }
                            });
                        }
                        if (options) {
                            options = '('+options+')';
                        }
                        builder.addText(order_detail.quantity);
                        builder.addTextPosition(70);
                        builder.addText(order_detail.name + options + '\n');
                        builder.addTextPosition(0);
                        if (order_detail.addons) {
                            Object.keys(order_detail.addons).forEach((addon_id) => {
                                builder.addText('+\t' + order_detail.quantity +' X '+order_detail.addons[addon_id].name + '\n');
                            });
                        }
                    });
                    builder.addFeedLine(4);
                    builder.addCut(builder.CUT_FEED);
                    if (this.can_print[this.selected_location].device.isConnected) {
                        builder.send();
                    }
                } else {
                    let printers = this.$store.getters['page/can_print'];
                    printers[location_id] = false;
                    this.$store.dispatch('page/setCanPrint', {can_print: printers});
                    alert(retcode);
                }
            },
        },
        components: {
            OrdersBoard,
            PageHeaderWithFilter,
            Loading
        },
        computed: mapGetters({
            sound: 'page/sound',
            can_print: 'page/can_print',
            locations: 'page/locations',
            selected_location: 'page/selected_location',
            selected_location_delivery: 'page/selected_location_delivery',
            selected_location_printer: 'page/selected_location_printer',
        }),
        created() {

            this.loading = true;
            this.$store.dispatch('page/setTitle', {title: 'Orders'});
            this.$http.get('location/options')
                .then((response) => {
                    this.$store.dispatch('page/setLocations', {locations: response.data});
                    if (this.$store.state.page.selected_location === '') {
                        if (this.$store.state.page.selected_location === '' && response.data.length) {
                            this.$store.dispatch('page/setSelectedLocation', {selected_location: response.data[0].id});
                            this.$store.dispatch('page/setSelectedLocationDelivery', {selected_location_delivery: response.data[0].to_home});
                            this.$store.dispatch('page/setSelectedLocationPrinter', {selected_location_printer: response.data[0].printer});
                            if (response.data[0].printer) {
                                setPrinter(this, response.data[0].printer, response.data[0].id);
                            }
                        }
                    }
                    if (this.$store.state.page.selected_location !== '') {
                        this.$http.get('/location/' + response.data[0].id + '/orders').then((response) => {
                            this.$store.dispatch('page/setLocationOrders', {location_orders: response.data});
                            this.loading = false;
                            let this_ = this;
                            if (!this.$store.state.page.interval) {
                                this_.$store.dispatch('page/setInterval', {interval: true});
                                setInterval(function () {
                                    if (this_.selected_location_printer && this_.can_print && this_.can_print[this_.selected_location]) {
                                        this_.$http.get('/location/' + this_.$store.state.page.selected_location + '/orders-to-print').then((response) => {
                                            if (response && response.data) {
                                                Object.keys(response.data).forEach(function (order_id) {
                                                    this_.$http.get('/orders/'+order_id+'/can-print').then((resp) => {
                                                        if (resp.data && resp.data.status) {
                                                            if (this_.selected_location_printer && this_.can_print && this_.can_print[this_.selected_location]) {
                                                                let printer = this_.can_print[this_.selected_location].printer;
                                                                if (printer) {
                                                                    this_.cbCreateDevice_printer(printer, 'OK', response.data[order_id], order_id);
                                                                } else {
                                                                    let ePosDev = new window.epson.ePOSDevice();
                                                                    ePosDev.connect(this_.selected_location_printer, ePosDev.IFPORT_EPOSDEVICE_S, cbConnect);
                                                                    function cbConnect(data) {
                                                                        if(data == 'OK' || data == 'SSL_CONNECT_OK') {
                                                                            ePosDev.createDevice('local_printer', ePosDev.DEVICE_TYPE_PRINTER,
                                                                                {'crypto':false, 'buffer':false}, function (dev, code) {
                                                                                    this_.cbCreateDevice_printer(dev, code, response.data[order_id], order_id)
                                                                                });
                                                                        } else {
                                                                            let printers = that.$store.getters['page/can_print'];
                                                                            printers[location_id] = false;
                                                                            that.$store.dispatch('page/setCanPrint', {can_print: printers});
                                                                            alert(data);
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    });
                                                });
                                            }
                                        });
                                    }
                                }, 35000);
                                setInterval(function () {
                                    if (this_.$router.currentRoute.name == 'orders.active'
                                        && this_.$store.state.page.selected_location !== '') {
                                        this_.$http.get('/location/' + this_.$store.state.page.selected_location + '/orders').then((response) => {
                                            if (response.data.last_order_id !== this_.$store.state.page.location_orders.last_order_id
                                                && response.data.last_order_id !== ''
                                                && response.data.last_order_id > this_.$store.state.page.location_orders.last_order_id
                                            ) {
                                                if (this_.$store.state.page.sound !== '') {
                                                    this_.$store.state.page.sound.play();
                                                    this_.$store.dispatch('page/setSoundCounter', {sound_counter: 0});
                                                }
                                            }
                                            this_.$store.dispatch('page/setLocationOrders', {location_orders: response.data});

                                        });
                                        this_.$http.get('location/options').then((response) => {
                                            this_.$store.dispatch('page/setLocations', {locations: response.data});
                                            if (this_.$store.state.page.selected_location === '') {
                                                if (this_.$store.state.page.selected_location === '' && response.data.length) {
                                                    this_.$store.dispatch('page/setSelectedLocation', {selected_location: response.data[0].id});
                                                }
                                            }
                                        });
                                        if (this_.$store.state.page.sound_counter === 2 && this_.$store.state.page.sound
                                            && this_.$store.state.page.location_orders.pending
                                            && Object.keys(this_.$store.state.page.location_orders.pending).length) {
                                            this_.$store.state.page.sound.play();
                                        }
                                        this_.$store.dispatch('page/setSoundCounter', {sound_counter: (this_.$store.state.page.sound_counter === 2) ? 0 : this_.$store.state.page.sound_counter + 1});
                                    }
                                }, 10000);
                            }

                        });
                    }
                }).catch((error) => {
                console.log(error)
            })
        }
        ,
    }
</script>
