<template>
    <div>
        <page-header></page-header>
        <div class="container-fluid py-3">
            <div class="row"><h2>Orders</h2></div>
            <div class="row">
                <!--<dashboad-list title="Total fee revenue" :fields="fields_income" api-url="/admin/dashboards/income"-->
                <!--:show-row-num="false" :show-search="false" show-paginate-->
                <!--:show-total="false"-->
                <!--:search-placeholder="'Search by Id'">-->
                <!--</dashboad-list>-->
                <dashboard-chart title="Orders completed per retailer's location" :fields="fields" api-url="/admin/dashboards/locations/charts"
                               :show-row-num="false" :show-search="false" show-paginate
                               :show-total="false"
                                id="location_chart_date"
                                 chart-type="orders"
                               :search-placeholder="'Search by Id'">
                </dashboard-chart>
                <dashboard-chart title="Orders completed per retailer" :fields="fields" api-url="/admin/dashboards/retailer/charts"
                               :show-row-num="false" :show-search="false" show-paginate
                               :show-total="false"
                                id="retailer_chart_date"
                                 chart-type="orders"
                               :search-placeholder="'Search by Id'">
                </dashboard-chart>

            </div>
            <div class="row"><h2>Revenue</h2></div>
            <div class="row">
                <dashboard-chart top-class="col-sm-12 col-md-12 col-lg-12" title="Total fee revenue per retail location" :fields="fields" api-url="/admin/dashboards/locations/income_location"
                                 :show-row-num="false" :show-search="false" show-paginate
                                 :show-total="false"
                                 chart-type="revenue"
                                 id="location_revenue">
                </dashboard-chart>
                <dashboard-chart :top-class="'col-sm-12 col-md-12 col-lg-12'" title="Total fee revenue per retailer" :fields="fields" api-url="/admin/dashboards/retailer/income_retailer"
                                 :show-row-num="false" :show-search="false" show-paginate
                                 :show-total="false"
                                 id="retailer_revenue"
                                 chart-type="revenue"
                                 :search-placeholder="'Search by Id'">
                </dashboard-chart>
            </div>
            <div class="row"><h2>Demographics</h2></div>
            <div class="row">
                <dashboard-chart title="Male vs female users breakdown per retail location" :fields="fields" api-url="/admin/dashboards/locations/gender"
                                 :show-row-num="false" :show-search="false" show-paginate
                                 :show-total="false"
                                 chart-type="users"
                                 id="location_users">
                </dashboard-chart>
                <dashboard-chart title="Male vs female users breakdown per retailer" :fields="fields" api-url="/admin/dashboards/retailer/gender"
                                 :show-row-num="false" :show-search="false" show-paginate
                                 :show-total="false"
                                 chart-type="users"
                                 id="retailer_users">
                </dashboard-chart>
                <dashboard-chart title="Age of users per retail location" :fields="fields" api-url="/admin/dashboards/locations/age"
                                 :show-row-num="false" :show-search="false" show-paginate
                                 :show-total="false"
                                 chart-type="users"
                                 id="location_users_age">
                </dashboard-chart>
                <dashboard-chart title="Age of users per retailer" :fields="fields" api-url="/admin/dashboards/retailer/age"
                                 :show-row-num="false" :show-search="false" show-paginate
                                 :show-total="false"
                                 chart-type="users"
                                 id="retailer_users_age">
                </dashboard-chart>
            </div>
        </div>
    </div>
</template>
<script>
    import PageHeader from '~/components/PageHeader'
    import Card from "../../components/Card";
    import DashboardChart from "../../components/DashboardChart";
    import DashboadList from "../../components/DashboadList";

    export default {
        components: {DashboadList, DashboardChart, Card, PageHeader},
        metaInfo() {
            return {title: 'Dashboard'}
        },
        data() {
            return {
                fields: [
                    {
                        name: 'location',
                        title: 'location',
                        sortable: true,
                    },
                    {
                        name: 'retailer',
                        title: 'retailer',
                        sortable: true,
                    },
                    {
                        name: 'customers',
                        title: 'customers',
                        sortable: true,
                        callback: 'digest',
                    }
                ],
                fields_income: [
                    {
                        name: 'retailer',
                        title: 'retailer',
                        sortable: true,
                    },
                    {
                        name: 'income',
                        title: 'total fee revenue',
                        sortable: true,
                        callback: 'price',
                    }
                ]


            }
        },
        created() {
            this.$store.dispatch('page/setTitle', {title: 'Dashboard'});
            this.$store.dispatch('page/setSubtitle', {subtitle: ''})
        },
        methods: {
            digest: function (value) {
                return '<span class="float-right">'+value+'</span>';
            },
            price: function (value, item) {
                let currency = item.currency;
                if (currency === 'eur') {
                    currency = '€';
                } else {
                    currency = '£';
                }
                let n = 2, x=3, s=',', c='.';
                let re = '\\d(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\D' : '$') + ')',
                    num = parseFloat(value).toFixed(Math.max(0, ~~n));
                return '<span class="float-right">'+currency+(c ? num.replace('.', c) : num).replace(new RegExp(re, 'g'), '$&' + (s || ','))+'</span>';
            },
        }
    }
</script>
<style scoped>
    h2 {
        text-align: center;
        width: 100%;
        font-size: 28px;
    }
</style>
