<template>
    <transition name="fade" mode="out-in">
        <router-view/>
    </transition>
</template>

<script>
export default {
    middleware: 'admin',
    layout: 'admin',

    computed: {
    }
}
</script>
