<template>
    <div class="layout-wrapper main-layout" :class="{'sidebar-collapsed': collapsed}">
        <Sidebar />
        <div class="page-content-wrapper">
            <Navbar/>
            <div class="page-info bg-white p-3 border-bottom" v-if="title">
                <div class="page-sub-title">{{subtitle}}</div>
                <div class="page-title ">{{title}}</div>
            </div>            
            <div class="container-fluid py-3">
                <child/>
            </div>
        </div>
    </div>
</template>

<script>
import Sidebar from '~/components/Sidebar'
import Navbar from '~/components/Navbar'
import { mapGetters } from 'vuex'

export default {
    name: 'MainLayout',

    components: {
        Sidebar,
        Navbar
    },
    computed: mapGetters({
        title: 'page/title',
        subtitle: 'page/subtitle',
        collapsed: 'sidebar/collapsed'
    })
}
</script>
