<template>
    <div class="layout-wrapper main-layout" :class="{'sidebar-collapsed': collapsed}">
        <Sidebar />
        <div class="page-content-wrapper">
            <Navbar/>
            <child/>
        </div>
    </div>
</template>

<script>
import Sidebar from '~/components/Sidebar'
import Navbar from '~/components/Navbar'
import { mapGetters } from 'vuex'

export default {
    name: 'RetailerLayout',

    components: {
        Sidebar,
        Navbar
    },
    computed: mapGetters({
        collapsed: 'sidebar/collapsed'
    })
}
</script>
